  <template>
  <CRow>
    <CCol xs="12" lg="12">
        <CCard>
          <CCardHeader class="task-heading mb-1">
              <h3 class="d-flex justify-content-between align-items-center" v-if="name">
            Edit User : {{name}}
            <div class="btns-header"> 
              <CButton color="secondary" @click="goBack">Back</CButton>
            </div>
          </h3>
          </CCardHeader>
          
          <CCardBody>
            <div class="custom-tabs-sec">
            <CTabs variant="pills" horizontal>
              <CTab title="Basic Info" active>
                <CForm>
                    <CAlert
                      :show.sync="dismissCountDown"
                      color="primary"
                      fade
                    >
                      {{ message }}
                    </CAlert>
                    <CInput type="text" label="Name" placeholder="Name" v-model="name"></CInput>
                    <validation-error v-if="errors.name" :error="errors.name[0]"  />
                    <CInput type="text" label="Email"  placeholder="Email" readonly v-model="email"></CInput> 
                    <validation-error v-if="errors.email" :error="errors.email[0]"  />           
                    <CInput type="number" multiple label="Contact Number" placeholder="Contact Number" v-model="contact_number"></CInput>
                    <validation-error v-if="errors.contact_number" :error="errors.contact_number[0]"  />
                    <CInput type="number" multiple label="Alternate Number" placeholder="Alternate Number" v-model="alternate_number"></CInput>
                    <validation-error v-if="errors.alternate_number" :error="errors.alternate_number[0]"  />
                    <CInput label="Date of Birth" placeholder="Department" type="date"  v-model="dof" />
                    <validation-error v-if="errors.dof" :error="errors.dof[0]"  />
                     <CTextarea  type="text" label="Current Address" rows="5" v-model="current_address"></CTextarea>
                     <CTextarea v-if="showPermanentAddress == true" type="text" label="Permanent Address" rows="5" v-model="permanent_address"></CTextarea>
                    <CTextarea type="text" label="Additional Info" rows="5" v-model="additional_info"></CTextarea>
                    <CButton color="primary" @click="update()">Save</CButton>
                </CForm>
              </CTab>
              <CTab title="Profile Pic">
                  <form @submit="formSubmit" enctype="multipart/form-data" >
                    <CAlert :show.sync="dismissCountDown" color="primary" fade >
                      {{ message }}
                    </CAlert>
                     <img v-if="profile" :src="profile" class="add-profile">
                     <img v-else :src="avtar" class="add-profile">
                     <div role="group" class="form-group">
                         <label>Profile Picture</label>
                         <input type="file"  class="form-control" @change="selectFile">  
                     </div>             
                    <CButton color="primary" type="submit" >Save</CButton>
                  </form>
              </CTab>
             <CTab title="Password" >
                <CForm>
                    <CAlert
                      :show.sync="dismissCountDown"
                      color="primary"
                      fade
                    >
                      {{ message }}
                    </CAlert>
                     <CInput type="password" label="Current Password" placeholder="Current Password" v-model="current_password"></CInput>
                      <validation-error v-if="errors.current_password" :error="errors.current_password[0]"  />
                    <CInput type="password" label="New Password"  placeholder="New Password" v-model="new_password"></CInput>  
                      <validation-error v-if="errors.new_password" :error="errors.new_password[0]"  /> 
                    <CInput type="password" label="Confirm New Password"  placeholder="Confirm New Password" v-model="new_confirm_password"></CInput> 
                     <validation-error v-if="errors.new_confirm_password" :error="errors.new_confirm_password[0]"  />
                    <CButton color="primary" @click="updatePassword()">Save</CButton>
                </CForm>
              </CTab>
            </CTabs>
            </div>
          </CCardBody>
        </CCard>
      </CCol>
  </CRow>
</template>

<script>
import axios from 'axios'
import validationError from '@/employees/validation-errors.vue'
import { mapGetters, mapActions } from "vuex";
import { DxHtmlEditor } from 'devextreme-vue/html-editor';
export default {
  name: 'EditUser',
  props: {
    caption: {
      type: String,
      default: 'User id'
    },
  },
  data: () => {
    return {
        tabs: [
          'Calculator',
          'Shopping cart',
          'Charts'
        ],
        activeTab: 1,
        name: '',
        email: '',
        contact_number:'', 
        alternate_number:'',
        additional_info:'',
        position:'',
        department:'',
        dof:'',
        profile:'',
        avtar: '/img/user-avtar.jpg',
        showMessage: false,
        message: '',
        dismissSecs: 7,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        current_password:'',
        new_password:'',
        new_confirm_password:'',
        message: '',
        current_address:'',
        permanent_address:'',
        showPermanentAddress:false,
    }
  },
   components: {
        validationError, DxHtmlEditor
      },
  computed: {
    ...mapGetters(["errors"])
  },
  methods: {
    goBack() {
      this.$router.go(-1)
      // this.$router.replace({path: '/users'})
    },
    validationError()
      {
         let self = this;
         
         let error={};
          if(!self.current_password){error.current_password=[]; error.current_password[0]="This Field is required!"; } 
          if(!self.new_password){error.new_password=[]; error.new_password[0]="This Field is required!"; } 
          if(!self.new_confirm_password){error.new_confirm_password=[]; error.new_confirm_password[0]="This Field is required!"; } 
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});
          return false;          

        },
      profileError()
      {
         let self = this;
         
         let error={};
          if(!self.name){error.name=[]; error.name[0]="This Field is required!"; } 
          if(!self.email){error.email=[]; error.email[0]="This Field is required!"; } 
          if(!self.contact_number){error.contact_number=[]; error.contact_number[0]="This Field is required!"; } 
          if(!self.dof){error.dof=[]; error.dof[0]="This Field is required!"; } 
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});
          return false;          

        },
    update() {
        let self = this;
        if(self.profileError()) {
          return
        } 
        axios.post(  '/api/user/profile/' + self.$route.params.id + '/update?token=' + localStorage.getItem("api_token"),
        {         
            name: self.name,
            email: self.email,
            contact_no: self.contact_number,
            alternate_no: self.alternate_number,
            birth_date: self.dof,
            additional_info: self.additional_info,
            current_address: self.current_address,
            permanent_address: self.permanent_address,
        })
        .then(function (response) {
          self.message = 'Successfully updated Profile Information.';
          self.showAlert();
          self.$store.commit('setUser', response.data)  
          self.$store.dispatch('topFunction'); 

        })
    },
     updatePassword() {
        let self = this;
         if(self.validationError()) {
          return
        } 
        axios.post(  '/api/user/password/' + self.$route.params.id + '/update?token=' + localStorage.getItem("api_token"),
        {         
            current_password: self.current_password,
            new_password: self.new_password,
            new_confirm_password: self.new_confirm_password,
        })
        .then(function (response) {
          if(response) {
            self.message = 'Successfully updated password.';
            self.showAlert();
          }            
        })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    selectFile(event) {
          let reader = new FileReader();
           let file = event.target.files[0];
              reader.onloadend = () => {
              this.profile = reader.result;            
           }
           
           reader.readAsDataURL(file);
           this.image=event.target.files[0];
    },
     formSubmit(e) {
        e.preventDefault();
         let self = this;
   
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('file', self.image);
            axios.post('/api/users/' + self.$route.params.id + '/save?token=' + localStorage.getItem("api_token"), formData, config)
                .then(function (response) {
                   self.message = 'Successfully updated Profile Pic.';
                   self.showAlert();
                   self.$store.commit('setUser', response.data)
                })
                .catch(function (error) {
                    currentObj.output = error;
                });
     },
  },
  mounted: function(){
    let self = this;
    self.$store.commit("setErrors", {});
    axios.get(  '/api/user?token=' + localStorage.getItem("api_token"))
    .then(function (response) {                
        self.name = response.data.user.name;
        self.email = response.data.user.email;
        self.contact_number = response.data.user.contact_no;
        self.profile = response.data.user.profile;
        self.alternate_number = response.data.user.alternate_no;
        self.position = response.data.user.position;
        self.department = response.data.user.department;
        self.additional_info = response.data.user.additional_info;
        self.current_address = response.data.user.current_address;
        self.permanent_address = response.data.user.permanent_address;
        self.dof = response.data.user.birth_date.split(' ')[0];
         if(response.data.user.roles == 'admin' || response.data.user.roles == 'HR') {
          self.showPermanentAddress = true;
        }
        console.log(response);
    }).catch(function (error) {
        console.log(error);
        // self.$router.push({ path: '/login' });
    });
  }
}


</script>
