<template>
	<div class="chat-section">
	    <CRow class="remove-chatrow-padding">
	        <CCol col="3" lg="3">
	        	<CCard class="h-100">
	      			<CCardBody class="p-0">
	      				<div class="chat-left-section">
		      				<CCardHeader class="d-flex justify-content-between align-items-center">
					            <h4 class="mb-0">Chat List</h4>
					        </CCardHeader>
					        <CRow class="m-0">
					        	<div class="chat-search-box w-100 pl-1 pr-1">
					        		<CInput type="text" @input="searchUser" placeholder="Search ..." v-model="search"></CInput>
									<div v-if="close" @click="closeSearch" class="global-search-close"><CIcon name="cil-x" /></div>
					        	</div>
					        	<div class="info-section w-100" v-if="users.length > 0">
					        		<div v-for="user in users" :class="'info-div pointer custUsr'+user.id" @click="listChat(user)">
					        			<CCol col="3">
											<div class="small-rounded-img">
												<img :src="user.profile" class="c-avatar-img" v-if="user.profile">
												<img :src="avtar" v-else>
											</div>
										</CCol>
										<CCol col="9" class="pl-0">
											<p class="user-chat-left">{{ user.name }}</p>
											<p v-if="user.menuroles == 'admin'" class="pos-name-chat"> Director</p>
			      							<p v-else class="pos-name-chat"> {{ user.menuroles }}</p>
			      							<span :class="'hide user-notify-chat chatNotify'+user.id">1</span>
										</CCol>
					        		</div>
					        	</div>
					        	<div v-else class="chat-no-user">
				        			Users not found.
				        		</div>
					        </CRow>
					    </div>
	      			</CCardBody>
	      		</CCard>
	        </CCol>
	        <CCol col="9" lg="9">
	        	<CCard class="h-100">
	      			<CCardBody class="p-0">
	      				<div class="chat-right-section" v-if="started_chat">
		      				<CCardHeader class="d-flex justify-content-between align-items-center">
		      					<div class="outer-top-chat">
		      						<div class="small-rounded-img">
		          						<img :src="profile" v-if="profile">
		          						<img :src="avtar" v-else>
		          					</div>
		          					<h4 class="mb-0">
			      						<p class="user-name-chat">{{ this.name }}</p>
			      						<p v-if="role == 'admin'" class="pos-name-chat"> Director</p>
			      						<p v-else class="pos-name-chat"> {{ this.role }}</p>
			      					</h4>
		      					</div>
		      				</CCardHeader>
					        <CRow class="m-0 pl-1 pr-1">
					        	<div id="scrollBottom" class="chat-outer-module w-100" @dragover="allowDragDrop()">
					        		<div class="outer-drag-drop chat-dropper" style="display: none;" @dragleave="dragleave()">  
							  			<div class="inner-drop">
							      			<h2>Upload file or image</h2>
							      			<p>Add using drag'n'drop</p> 
							  	    		<form>
							  	    			<CInput type="file" multiple class="file-chat-input" @change="handleDragFileUpload"></CInput>
							  	    		</form>
							  			</div>
							    	</div>
							    	
							    	<div class="chat-inner-module" v-if="chats.length > 0" v-for="(chat, key) in chats.slice().reverse()">
						        		<div class="chat-text-outer" v-if="logged != chat.user_id && chat.type == 'message'">
						        			<div class="chat-text-inner">
						        				<div class="small-rounded-img">
					          						<img :src="profile" v-if="profile">
					          						<img :src="avtar" v-else>
					          					</div>
					          					<div class="text-chat">
					          						<p v-html="chat.message"></p>
					          						<div class="time-chat">
					          							<p>{{ dateFormat(chat.created_at) }}</p>
					          						</div>
												</div>
						        			</div>
						        		</div>
						        		<div class="chat-text-outer my-chat-outer" v-if="logged == chat.user_id && chat.type == 'message'">
						        			<div class="chat-text-inner">
						        				<div class="text-chat">
					          						<p v-html="chat.message"></p>
					          						<div class="time-chat d-flex justify-content-between align-items-center">
					          							<CDropdown toggler-text="More" class="custom-menu-btn chat-edit-btn">
															<CDropdownItem @click="editMessage(chat)"><CIcon name="cil-pencil"/> Edit</CDropdownItem>
															<CDropdownItem @click="deleteMessage(chat.id)"><CIcon name="cil-trash"/> Delete</CDropdownItem>
														</CDropdown>
					          							<p>{{ dateFormat(chat.created_at) }}</p>
					          						</div>
					          					</div>
						        				<div class="small-rounded-img">
					          						<img :src="authProfile" v-if="authProfile">
					          						<img :src="avtar" v-else>
					          					</div>
					          				</div>
						        		</div>

						        		<div class="chat-text-outer my-chat-outer" v-if="logged == chat.user_id && chat.type == 'file'">
						        			<div class="chat-text-inner">
						        				<div class="text-chat">
					          						<img v-if="isValidImageURL(chat.message)" :src="chat.message">
					          						<a v-else class="file-zip-chat pointer">{{ getValidFileName(chat.message) }}</a>
					          						<p><a :href="chat.message" download class="download-img-chat">Download</a></p>
					          						<div class="time-chat d-flex justify-content-between align-items-center">
					          							<CDropdown toggler-text="More" class="custom-menu-btn chat-edit-btn">
															<CDropdownItem @click="deleteMessage(chat.id)"><CIcon name="cil-trash"/> Delete</CDropdownItem>
														</CDropdown>
					          							<p>{{ dateFormat(chat.created_at) }}</p>
					          						</div>
					          					</div>
						        				<div class="small-rounded-img">
					          						<img :src="authProfile" v-if="authProfile">
					          						<img :src="avtar" v-else>
					          					</div>
					          				</div>
						        		</div>
						        		<div class="chat-text-outer" v-if="logged != chat.user_id && chat.type == 'file'">
						        			<div class="chat-text-inner">
						        				<div class="small-rounded-img">
					          						<img :src="profile" v-if="profile">
					          						<img :src="avtar" v-else>
					          					</div>
					          					<div class="text-chat">
					          						<img v-if="isValidImageURL(chat.message)" :src="chat.message">
					          						<a v-else class="file-zip-chat pointer">{{ getValidFileName(chat.message) }}</a>
					          						<p><a :href="chat.message" download class="download-img-chat">Download</a></p>
					          						<div class="time-chat d-flex justify-content-between align-items-center">
					          							<p>{{ dateFormat(chat.created_at) }}</p>
					          						</div>
					          					</div>
						        			</div>
						        		</div>
						        	</div>
						        	<div class="no-chat-message w-100" v-else>
						        		<p class="no-message-txt">No messages.</p>
						        	</div>

					        		<div class="chat-message-field">
						        		<DxHtmlEditor v-model:value="message" height="70px" ref="messageEditor" placeholder="Send a message and drag 'n' drop file."></DxHtmlEditor>
						        		<div class="input-icons">
						        			<div class="message-loader" v-if="inboxloading"><img :src="loader" /></div>
										</div>
										
										<CButton color="primary" v-if="edited" class="btn btn-chat btn-chat-send" @click="updateMessage">Edit</CButton>
										<CButton color="primary" v-else class="btn btn-chat btn-chat-send" @click="addMessage">Send</CButton>
										<CButton color="primary" class="btn btn-chat btn-chat-cancel" @click="cancelEdit">Cancel</CButton>
									</div>
					        	</div>
					        	<div class="inbox-loader-image" v-if="inboxLoader">
									<img :src="loader">
								</div>
					        </CRow>
					    </div>
					    <div class="chat-no-data" v-else>
					    	<p><img src="/assets/images/icon-chat.png"> Start conversation.</p>
					    </div>
	      			</CCardBody>
	      		</CCard>
	        </CCol>
	    </CRow>
	    <div class="loader-image" v-if="loading">
			<img :src="loader">
		</div>
	</div>
</template>

<script>
	import axios from 'axios';
	import moment from 'moment';
	import { mapState } from "vuex";
	import { DxHtmlEditor } from 'devextreme-vue/html-editor';

	export default {
	  	name: 'Inbox',
	  	data: () => {
		    return {
		    	users: [],
		    	chats: [],
		    	files: [],
		    	notifications: [],
		    	name: '',
		    	_id: '',
		    	_messageId: '',
		    	role: '',
		    	profile: '',
		    	search: '',
		    	time_format: '',
		    	date_format: '',
		    	logged: '',
		    	_interval: '',
		    	message: '',
		    	avtar: '/img/user-avtar.jpg',
		    	loader: '/img/loader.gif',
		    	is_admin: false,
		    	pauseInterval: false,
		    	edited: false,
		    	inboxLoader: false,
		    	placeholderShow: true,
		    	loading: false,
		    	inboxloading: false,
		    	started_chat: false,
		    	close: false
		    }
		},
		computed: {
		    ...mapState({
		      	authProfile: state => state.authProfile
		  	})
		},
		components: {
	        DxHtmlEditor
	    },
	  	methods: {
	  		searchUser() {
	  			if(this.search !== '') { 
      				this.close = true;
      			}
	  			this.listUsers();
	  		},
	  		closeSearch() {
	  			this.close = false;
	  			this.search = '';
	  			this.listUsers();
	  		},
	  		dateFormat(value) {
	      		var date = moment(value).format('MMMM D, Y'), val = '', time = moment(value).format(this.time_format);
	      		if(moment().diff(date, 'days') === 0) {
	      			val = 'Today, '+time;
	      		} else if(moment().diff(date, 'days') === 1) {
	      			val = 'Yesterday, '+time;
	      		} else {
	      			val = moment(value).format(this.date_format);
	      		}

	      		return val;
	      	},
	      	geToDivvBottom() {
	      		setTimeout(function() {
	      			jQuery("#scrollBottom").scrollTop(jQuery("#scrollBottom")[0].scrollHeight);
	      		}, 100);
	      		
	      	},
	      	isValidImageURL(str){
			    if ( typeof str !== 'string' ) return false;
			    return !!str.match(/\w+\.(jpg|jpeg|gif|png|tiff|bmp|webm)$/gi);
			},
			addClassActive() {
				var div = jQuery('.chat-left-section .info-div'), _cls = '.custUsr'+this._id;
				var active = document.querySelector(_cls);
				for(var i = div.length - 1; i >= 0; i--) {
					if(div[i] == active) {
						active.classList.add('active');
					} else {
						div[i].classList.remove('active');
					}
				}
			},
			getValidFileName(file) {
				if(typeof file == 'string') {
					var val = file.split('/');
					return val.slice(-1).pop();
				}
			},
			getNotified(data) {
	  			for(var i = 0; i < data.length; i++) {
	  				var _cls = '.chatNotify'+data[i].user_id;
	  				var div = document.querySelector(_cls);
	  				div.classList.remove('hide');
	  				div.innerText = data[i].count;
	  			}
	  		},
	  		listUsers() {
	  			let that = this; this.loading = true;
	  			var url = '/api/chat/users?token=' + localStorage.getItem("api_token");
	  			if(this.search) {
	  				url = url+'&search='+this.search;
	  			}

	  			axios.get(url).then(function (response) {
	  				that.loading = false;
	  				if(typeof response.data.users == 'object') {
	  					that.users = Object.values(response.data.users);
	  				} else {
	  					that.users = response.data.users;
	  				}
	  				setTimeout(function() { that.getNotified(response.data.notify) },500 );
	  			}).catch(function (error) {
	  				that.loading = false;
	  				console.log('here')
	  			});
	  		},
	  		realtimeChat() {
	  			let that = this;
	  			this._interval = setInterval(function() {
	  				if(!that.pauseInterval) {
		  				var url = '/api/chat/get-chat?token='+localStorage.getItem("api_token")+'&user='+that._id;
		  				axios.get(url).then(function (response) {
			  				that.chats = response.data.chats;
			  				that.getNotified(response.data.notify);
			  			});
		  			}
	  			}, 1000);
	  		},
	  		listChat(user) {
	  			let that = this;
	  			this.name = user.name; this.profile = user.profile; 
	  			this.role = user.menuroles; this._id = user.id;
	  			this.started_chat = true;
	  			this.inboxLoader = true;
	  			this.addClassActive();
	  			var div = document.querySelector('.chatNotify'+this._id);
	  			div.classList.add('hide');
	  			div.innerText = '';

	  			if(this._interval) { 
	  				clearInterval(this._interval);
	  			}

	  			var url = '/api/chat?token='+localStorage.getItem("api_token")+'&user='+user.id;

	  			axios.get(url).then(function (response) {
	  				that.inboxLoader = false;
	  				that.chats = response.data.chats;
	  				that.time_format = response.data.time;
	  				that.geToDivvBottom();
	  				setTimeout(function() { that.realtimeChat()}, 2000);
	  			});
	  		},
	  		addMessage() {
	  			let that = this;
	  			var formdata = new FormData(); var valid = false;
	  			this.pauseInterval = true;

	  			formdata.append('user', this._id);
	  			if(this.files.length > 0) {
	  				valid = true;
	  				for(var i = 0; i < this.files.length; i++) {
	  					formdata.append('files['+i+']', this.files[i]);
	  				}
	  			} else {
	  				if(this.message) { valid = true; }
	  				formdata.append('message', this.message);
	  			}

	  			var div = document.querySelector('.chatNotify'+this._id);
	  			div.classList.add('hide');
	  			div.innerText = '';

	  			if(valid) {
	  				this.inboxloading = true;
	  				axios.post('/api/chat/message?token='+localStorage.getItem("api_token"), formdata).then(function (response) {
	  					that.inboxloading = false;
	  					that.chats = response.data.chats;
	  					that.message = '';
	  					that.geToDivvBottom();
	  					setTimeout(function() { that.pauseInterval = false; }, 2000);
	  				});
	  			}
	  			
	  		},
	  		editMessage(chat) {
	  			this.message = chat.message;
	  			this._messageId = chat.id;
	  			this.edited = true;
	  		},
	  		updateMessage() {
	  			this.pauseInterval = true;
	  			let that = this;
	  			var formdata = new FormData(); var valid = false;
	  			formdata.append('id', this._messageId);
	  			formdata.append('user', this._id);
	  			formdata.append('message', this.message);
	  			if(this.message) { valid = true; }

	  			var div = document.querySelector('.chatNotify'+this._id);
	  			div.classList.add('hide');
	  			div.innerText = '';

	  			if(valid) {
	  				this.inboxloading = true;
	  				axios.post('/api/chat/edit?token='+localStorage.getItem("api_token"), formdata).then(function (response) {
	  					that.inboxloading = false;
	  					that.edited = false;
	  					that.chats = response.data.chats;
	  					that.message = '';
	  					that._messageId = '';
	  					that.geToDivvBottom();
	  					setTimeout(function() { that.pauseInterval = false; }, 2000);
	  				});
	  			}
	  		},
	  		deleteMessage(id) {
	  			this.pauseInterval = true;
	  			let that = this;
	  			this.$swal({
	          	title: 'Are you sure?',
	          	text: 'You can\'t revert your action',
	          	type: 'warning',
	          	showCancelButton: true,
	          	confirmButtonText: 'Yes',
	          	cancelButtonText: 'No',
	          	showCloseButton: true,
	          	showLoaderOnConfirm: true
		        }).then((result) => {
		        	if(result.value) {
		        		var url = '/api/chat/delete/'+id+'/'+that._id+'?token='+localStorage.getItem("api_token");
			  			axios.get(url).then(function (response) {
			  				that.chats = response.data.chats;
			  				setTimeout(function() { that.pauseInterval = false; }, 2000);
			  			});
		        	}
		        });
	  		},
	  		cancelEdit() {
	  			this.message = ''; this.files = [];
	  			this.edited = false;
	  		},
	  		enterClicked() {
	  			console.log('sdfsd')
	  		},
	  		allowDragDrop() {
	  			document.querySelector('.outer-drag-drop').style.display = "flex";
	  		},
	  		dragleave() {
	  			document.querySelector('.outer-drag-drop').style.display = "none";
	  		},
	  		handleDragFileUpload() {
	  			this.files = event.target.files;
	  			this.dragleave();
	  			this.addMessage();
	  		}
	  	},
	  	mounted: function() {
	  		this.logged = parseInt(localStorage.getItem('user'));
	  		this.is_admin = JSON.parse(localStorage.getItem('type'));
    		this.date_format = localStorage.getItem('date_format');
	  		this.listUsers();
	  	}
	}
</script>