<template>
	<div class="wrapper">
		<CRow>
			
		   <CModal class="drive-upload"
		      title="Download Document"
		      color="info"
		      :centered="true"
		      :show.sync="downloadProgressBarModal"
		    >
		      <div class="progress-bar-outer">
		      	<p>{{percentage}}%</p>
		      	<div class="inner-progress" :style="newProgressUpgrade"></div>
		      	
		      </div>
		      <p class="mt-2 text-center"><span>{{kbps}}KB/s</span></p>
			<template #footer>
				<CButton  @click="closeProgressBar" color="secondary">Ok</CButton>
			</template>
    	</CModal>
    	</CRow>
	</div>
</template>

<script>
import { mapState} from "vuex";
  export default {
  props: ['downloadUploadPercentage','downloadProgressUpgrade','kbps'],
   data: () => {
    return {  
    		newProgressUpgrade:`width:0%`,
    		percentage:0,   
   		   }
    },
	watch: {
	    downloadProgressUpgrade(newVal, oldVal) {
	        this.newProgressUpgrade = `width:${newVal}%`
	        this.percentage = newVal
	    }
    },
    computed:{
		downloadProgressBarModal: {
			get () {
				return this.$store.state.downloadProgressBarModal
			},
			set () {
				this.$store.commit('setDownloadProgressBarModal', false)
				var completed = new Object();
				completed.percentCompleted = 0;         
				completed.kbps = 0;   
				this.$store.commit('setDownloadPercentComplete', completed)
			}
		}
    },
    methods:{
    	closeProgressBar() {
    		 this.newProgressUpgrade = `width:0%`
    		 this.percentage=0
    		this.$store.commit('setDownloadProgressBarModal', false)
			var completed = new Object();
			completed.percentCompleted = 0;         
			completed.kbps = 0;   
    		this.$store.commit('setDownloadPercentComplete', completed)
    	}
    }
  	

  }
</script>