<template>
	<div class="wrapper">
		<CRow>
			
		   <CModal class="drive-upload"
		      title="Upload New Document"
		      color="info"
		      :centered="true"
		      :show.sync="progressbarmodal"
		    >
			    <div class="outer-drag-drop" style="display:none" @dragleave="dragleave">    		
		  			<div class="inner-drop">
		      			<h2>Upload file or image</h2>
		      			<p>Add using drag'n'drop</p> 
		  	    		<form><input  type="file" multiple="multiple" @change="handleDragFileUpload"></form>
		  			</div>
	    		</div>
		      <div class="progress-bar-outer">
		      	<p>{{percentage}}%</p>
		      	<div class="inner-progress" :style="newProgressUpgrade"></div>
		      </div>
			<template #footer>
				<CButton  @click="closeProgressBar" color="secondary">Ok</CButton>
			</template>
    	</CModal>
    	</CRow>
	</div>
</template>

<script>
import { mapState} from "vuex";
  export default {
  props: ['uploadPercentage','progressUpgrade'],
   data: () => {
    return {   
    		newProgressUpgrade:`width:0%`,
    		percentage:0,    
   		   }
    },
    watch: {
	    progressUpgrade(newVal, oldVal) {
	        this.newProgressUpgrade = `width:${newVal}%`
	        this.percentage = newVal
	    }
    },
    computed:{
		progressbarmodal: {
			get () {
				return this.$store.state.progressbarmodal
			},
			set () {
				this.$store.commit('setProgressBarModal', false)
				this.$store.commit('setPercentComplete', 0)
			}
		},
    },
    methods:{
    	closeProgressBar() {
    		this.$store.commit('setProgressBarModal', false)
    		this.$store.commit('setPercentComplete', 0)
    	},
    	dragleave() {
			document.querySelector('.drive-upload .outer-drag-drop').style.display="none";
		},
		handleDragFileUpload(event) {
			var files = event.target.files;
			this.$parent.formPostAjax(files)
		}
    }
  	

  }
</script>