<template>
  	<CRow>
    	<CCol col="12" lg="12">
	      	<CCard no-header>
	        	<CCardBody>
		          	<h3>Add Task <CButton color="primary" class="float-right" @click="goBack">Back</CButton> </h3>

		          	<CAlert :show.sync="dismissCountDown" v-bind:color="(alertClass)?'success':'danger'" fade>
		            	({{dismissCountDown}}) {{ message }}
		          	</CAlert>
		          	<CForm @submit.prevent="store" method="POST">
		          		<div class="row">
		          			<div class="col">
		          				<CInput label="Name *" type="text" placeholder="Name" required v-model="name"></CInput>
		          			</div>
		          			<div class="col" v-if="!queryString">
		          				<div class="form-group">
			                		<label>Project *</label>
			                		<select class="form-control" v-model="project" required>
			                			<option value="">--Select Project--</option>
			                			<option v-for="project in projects" v-bind:value="project.id">{{project.name}}</option>
			                		</select>
			                	</div>
		          			</div>
		          		</div>
		          		<div class="row">
		          			<div class="col">
			          			<div class="form-group">
			                		<label>Responsible Person *</label>
			                		<select class="form-control" v-model="responsible" required>
			                			<option value="">--Select Person--</option>
			                			<option v-for="user in users" v-bind:value="user.id">{{user.name}}</option>
			                		</select>
			                	</div>
			                </div>
		          			<div class="col">
		          				<div class="form-group">
			                		<label>Priority</label>
			                		<select class="form-control" v-model="priority">
			                			<option value="">--Select Priority--</option>
			                			<option value="0">Low</option>
			                			<option value="1">Medium</option>
			                			<option value="2">High</option>
			                		</select>
			                	</div>
		          			</div>
		          		</div>
		          		<div class="row">
			                <div class="col">
			                	<div class="form-group">
			                		<label>Participants</label>
			                		<multiselect track-by="id" label="name" searchable multiple v-model="values" :options="users"></multiselect>
			                	</div>
			                </div>
			                <div class="col">
			          			<div class="form-group">
			                		<label>Observers</label>
			                		<multiselect track-by="id" label="name" searchable multiple v-model="value" :options="users"></multiselect>
			                	</div>
			                </div>
		          		</div>

		              	<div class="row">
    						<div class="col"> 
				              	<div class="form-group">
			                		<label>Created Date</label>        
					              	<datepicker :format="customFormatter" v-model="created_at" placeholder="Created Date" input-class="form-control"></datepicker>
					            </div>
					        </div>
					        <div class="col"> 
				              	<div class="form-group">
			                		<label>Deadline</label>        
					              	<datepicker :format="customFormatter" placeholder="Deadline" v-model="deadline" input-class="form-control"></datepicker>
					            </div>
					        </div>
					    </div>
					    
					    <div class="editor-module">
      						<DxHtmlEditor v-model:value="description" height="300px" ref="textEditor">
      							<DxToolbar>
							        <DxItem format-name="bold"/>
							        <DxItem format-name="link"/>
							        <DxItem format-name="image"/>
							        <DxItem format-name="blockquote"/>
							    </DxToolbar>
      						</DxHtmlEditor>
      						<div class="editor-icons">
      							<a v-on:click="showDropbox($event)" class="attachment-img-ico"><img src="/img/attachment.png" alt="" /></a>
      							<a v-on:click="selectOption($event, 'bold')" class="bold-img-ico"><img src="/img/bold.png" alt="" /></a>
      							<a v-on:click="selectOption($event, 'link')"><CIcon name="cil-link"/></a>
      							<a v-on:click="selectOption($event, 'blockquote')" class="quoted-img-ico"><img src="/img/quote.png" alt="" /></a>
      						</div>
      						
      						<vue-dropzone
      							v-if="is_shown"
						      	ref="imgDropZone"
						      	id="customdropzone"
						      	:options="dropzoneOptions"
						      	@vdropzone-complete="afterComplete"
						      	v-on:vdropzone-removed-file="removeThisFile"
						    ></vue-dropzone>
  						</div>

			          	<CButton class="mt-3" color="primary" type="submit">Save</CButton>
		           	</CForm>
	        	</CCardBody>
	      	</CCard>
    	</CCol>
    	<div class="loader-image" v-if="is_loading">
			<img :src="loader">
		</div>
  	</CRow>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
	import axios from 'axios';
	import Datepicker from 'vuejs-datepicker';
	import Multiselect from 'vue-multiselect';

	import { DxHtmlEditor, DxToolbar, DxItem } from 'devextreme-vue/html-editor';
	let uuid = require("uuid");
	import vue2Dropzone from "vue2-dropzone";
	import "vue2-dropzone/dist/vue2Dropzone.min.css";
	import moment from 'moment';

	export default {
	  	name: 'Addtask',
	  	data: () => {
	    	return {
	    		projects: [],
	    		customEditor: '',
	    		values: '',
	    		value: '',
	    		users: [],
	    		loader: '/img/loader.gif',
	    		alertClass: false,
	    		is_loading: false,
	    		is_shown: false,
	    		name: '',
	    		project: '',
	    		responsible: '',
	    		priority: '',
	    		description: '',
	    		deadline: '',
	    		created_at: new Date(),
	    		message: '',
	    		dismissSecs: 7,
		        dismissCountDown: 0,
		        queryString:'',
		        showDismissibleAlert: false,
		        dropzoneOptions: {
			        url: "https://httpbin.org/post",
			        thumbnailWidth: 150,
			        thumbnailHeight: 150,
			        addRemoveLinks: true,
			        dictDefaultMessage: `<p class='text-default dropbox-def-txt'><img src="/img/cloud-download.png" /> Upload Images or Files Here.</p>`
		      	},
		      	images: []
	    	}
	  	},
	  	components: {
	        Datepicker, Multiselect, DxHtmlEditor, DxToolbar, DxItem, vueDropzone: vue2Dropzone
	    },
	  	methods: {
		    goBack() {
		      	this.$router.go(-1);
		    },
		    showAlert () {
		      	this.dismissCountDown = this.dismissSecs
		    },
		    customFormatter(date) {
		      	return moment(date).format('YYYY-MM-DD HH:mm:ss');
		    },
		    showDropbox(e) {
		    	if(this.is_shown) {
		    		this.is_shown = false;
		    	} else {
		    		this.is_shown = true;
		    	}
		    },
		    addToeditor(image) {
		    	var img = 'https://dev.team.teqtop.com/images/feeds/14/Screenshot%20from%202019-12-27%2018-09-27-1610368706737.png';
		    },
		    selectOption(e, type) {
	      		var div = document.querySelector('.editor-module'), clas = '.dx-'+type+'-format';
	      		document.querySelector(clas).click();
	      	},
	      	async afterComplete(upload) {
		      	var imageName = uuid.v1();
		      	this.isLoading = true;
		      	let that = this
		      	try {
			        let file = upload;			        
			            let extension = file.name.split('.').pop().toLowerCase();
		       
					    var data_file = file; that.is_loading = true;
					    var formdata = new FormData();
				    	formdata.append('data_file', data_file);
				    	formdata.append('extension', extension);
				    	formdata.append('_comp', "addtask");
				    	formdata.append('_id', "");
				    	formdata.append('_file_name', file.name);
				    	formdata.append('format', file.type.split('/').shift().toLowerCase());
				    	
		        		axios.post('/api/add_pic?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		        			that.images.push(response.data.src);
		        			that.is_loading = false;
		        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-uri",response.data.src);
		        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-format",response.data.format);
		        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-file_name",response.data.file_name);
		        			// jQuery(".dz-image").last().find("img").attr("data-uri",response.data.src);
				    	}).catch(function (error) {
				    		console.log("Unable to process.");
				    	});
		      	} catch (error) {
		        	console.log(error);
		      	}
		    },
		    async removeThisFile(file) {
		    	var _filePath=event.target.parentElement.querySelector('img').getAttribute('data-uri')
		    	let that = this, _id = file.upload.uuid;

		    	this.images.forEach(function(item, i) { 
		    		if(item === _filePath) {
		    			that.images.splice(i, 1);
		    		}
		    	});
		    },
		    store() {
		    	var observer = [], participants = [];
		    	for(var i = 0; i < this.value.length; i++) {
		    		observer.push(this.value[i].id);
		    	}
		    	for(var i = 0; i < this.values.length; i++) {
		    		participants.push(this.values[i].id);
		    	}
		    	var extras = {}; extras.observer = this.value; extras.participants = this.values;
		    	var formdata = new FormData();
		    	formdata.append('name', this.name);
	      		if(this.queryString) {
	      			formdata.append('project', atob(this.queryString));			    	
			    } else {
			    	formdata.append('project', this.project);
			    }		    	
		    	formdata.append('responsible', this.responsible);
		    	formdata.append('priority', this.priority);
		    	formdata.append('observer', JSON.stringify(observer));
		    	formdata.append('participants', JSON.stringify(participants));
		    	formdata.append('extras', JSON.stringify(extras));
		    	formdata.append('description', this.description);
		    	if(this.deadline) {
		    		formdata.append('deadline', this.customFormatter(this.deadline));
		    	} else {
		    		formdata.append('deadline', '');
		    	}
		    	formdata.append('created_at', this.customFormatter(this.created_at));

		    	for( var i = 0; i < this.images.length; i++ ) {
			       	let file = this.images[i];
			       	formdata.append('files[' + i + ']', file);
			    }

		    	let that = this; this.is_loading = true;
		    	// api to save task.
		    	axios.post('/api/tasks/add?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		    		that.is_loading = false;
		    		that.$router.push({ path: '/tasks' });
		    	});
		    }
	    },
	  	mounted () {
		    let self = this;
		    self.queryString= self.$route.query.project;
		    axios.get('/api/projects/list/?token='+localStorage.getItem("api_token")).then(function (response) {
		      	self.projects = response.data.projects;
		      	self.users = response.data.users;
		    });


	  	}
	}
</script>