<template>
  	<CRow>
    	<CCol col="12" lg="12">
	      	<CCard no-header>
	        	<CCardBody>
		          	<h3> Edit Task - {{ this.name }} <CButton color="primary" class="float-right" @click="goBack">Back</CButton> </h3>

		          	<CAlert :show.sync="dismissCountDown" v-bind:color="(alertClass)?'success':'danger'" fade>
		            	({{dismissCountDown}}) {{ message }}
		          	</CAlert>
		          	<CForm @submit.prevent="store" method="POST">
		          		<div class="row">
		          			<div class="col">
		          				<CInput label="Name *" type="text" placeholder="Name" required v-model="name"></CInput>
		          				<input type="hidden" v-model="task_id">
		          			</div>
		          			<div class="col">
		          				<div class="form-group">
			                		<label>Project *</label>
			                		<select class="form-control" v-model="project" required>
			                			<option value="">--Select Project--</option>
			                			<option v-for="project in projects" v-bind:value="project.id">{{project.name}}</option>
			                		</select>
			                	</div>
		          			</div>
		          		</div>
		          		<div class="row">
		          			<div class="col">
			          			<div class="form-group">
			                		<label>Responsible Person *</label>
			                		<select class="form-control" v-model="responsible" required>
			                			<option value="">--Select Person--</option>
			                			<option v-for="user in users" v-bind:value="user.id">{{user.name}}</option>
			                		</select>
			                	</div>
			                </div>
		          			<div class="col">
		          				<div class="form-group">
			                		<label>Priority</label>
			                		<select class="form-control" v-model="priority">
			                			<option value="">--Select Priority--</option>
			                			<option value="0">Low</option>
			                			<option value="1">Medium</option>
			                			<option value="2">High</option>
			                		</select>
			                	</div>
		          			</div>
		          		</div>
		          		<div class="row">
		          			<div class="col">
		          				<div class="form-group">
			                		<label>Participants</label>
			                		<multiselect track-by="id" label="name" searchable multiple v-model="values" :options="users"></multiselect>
			                	</div>
		          			</div>
		          			<div class="col">
			          			<div class="form-group">
			                		<label>Observers</label>
			                		<multiselect track-by="id" label="name" searchable multiple v-model="value" :options="users"></multiselect>
			                	</div>
			                </div>
		          		</div>

		              	<div class="row">
		              		<div class="col">
			                	<div class="form-group">
			                		<label>Status</label>
			                		<select class="form-control" v-model="status">
			                			<option value="">--Select Status--</option>
			                			<option value="0">Pending</option>
			                			<option value="1">Complete</option>
			                			<option value="2">On Going</option>
			                			<option value="3">Due</option>
			                		</select>
			                	</div>
			                </div>
					        <div class="col"> 
				              	<div class="form-group">
			                		<label>Deadline</label>        
					              	<datepicker :format="customFormatter" placeholder="Deadline" v-model="deadline" input-class="form-control"></datepicker>
					            </div>
					        </div>
					        
					    </div>
					    <div class="editor-module">
      						<DxHtmlEditor v-model:value="description" height="300px" ref="textEditor">
      							<DxToolbar>
							        <DxItem format-name="bold"/>
							        <DxItem format-name="link"/>
							        <DxItem format-name="image"/>
							        <DxItem format-name="blockquote"/>
							    </DxToolbar>
      						</DxHtmlEditor>
      						<div class="editor-icons">
      							<a v-on:click="showDropbox($event)" class="attachment-img-ico"><img src="/img/attachment.png" alt="" /></a>
      							<a v-on:click="selectOption($event, 'bold')" class="bold-img-ico"><img src="/img/bold.png" alt="" /></a>
      							<a v-on:click="selectOption($event, 'link')"><CIcon name="cil-link"/></a>
      							<a v-on:click="selectOption($event, 'blockquote')" class="quoted-img-ico"><img src="/img/quote.png" alt="" /></a>
      						</div>
      						<div class="files-names show-img-full images-viewer img-with-svg" v-if="edit_name.length > 0">
      							<p class="" v-for="name in edit_name"><img :src="name.file" alt="" /><span class="pointer" @click="removeIndex(name.file)"><CIcon name="cil-x"/></span></p>
      						</div>
      						<vue-dropzone
      							v-if="is_shown"
						      	ref="imgDropZone"
						      	id="customdropzone"
						      	:options="dropzoneOptions"
						      	@vdropzone-processing="uploadingFile"
						      	@vdropzone-success="uploadingSuccess"
						      	@vdropzone-complete="afterComplete"
						      	v-on:vdropzone-removed-file="removeThisFile"
						    ></vue-dropzone>
  						</div>

			          	<CButton class="mt-3" color="primary" id="editTask" type="submit">Update</CButton>
		           	</CForm>
	        	</CCardBody>
	      	</CCard>
    	</CCol>
    	<div class="loader-image" v-if="is_loading">
			<img :src="loader">
		</div>
  	</CRow>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
	import axios from 'axios';
	import Datepicker from 'vuejs-datepicker';
	import Multiselect from 'vue-multiselect';
	import moment from 'moment';
	import { DxHtmlEditor, DxToolbar, DxItem } from 'devextreme-vue/html-editor';
	let uuid = require("uuid");
	import vue2Dropzone from "vue2-dropzone";
	import "vue2-dropzone/dist/vue2Dropzone.min.css";

	export default {
	  	name: 'Edittask',
	  	data: () => {
	    	return {
	    		projects: [],
	    		users: [],
	    		files: [],
	    		edit_name: [],
	    		is_admin: false,
			    current_user: '',
	    		values: '',
	    		value: '',
	    		alertClass: false,
	    		is_shown: false,
	    		task_id: '',
	    		name: '',
	    		project: '',
	    		priority: '',
	    		status: '',
	    		responsible: '',
	    		description: '',
	    		loader: '/img/loader.gif',
				is_loading: false,
	    		deadline: new Date(),
	    		message: '',
	    		dismissSecs: 7,
		        dismissCountDown: 0,
		        showDismissibleAlert: false, 
		        dropzoneOptions: {
			        url: "https://httpbin.org/post",
			        thumbnailWidth: 150,
			        thumbnailHeight: 150,
			        addRemoveLinks: true,
			        dictDefaultMessage: `<p class='text-default dropbox-def-txt'><img src="/img/cloud-download.png" /> Upload Images or Files Here.</p>`
		      	},
		      	images: []
	    	}
	  	},
	  	components: {
	        Datepicker, Multiselect, DxHtmlEditor, DxToolbar, DxItem, vueDropzone: vue2Dropzone
	    },
	  	methods: {
		    goBack() {
		      	this.$router.back()
		    },
		    showAlert () {
		      	this.dismissCountDown = this.dismissSecs
		    },
		    customFormatter(date) {
		      	return moment(date).format('YYYY-MM-DD HH:mm:ss');
		    },
		    makeEdit(files) {
		    	this.edit_name = [];
		    	if(files) {
		    		this.files = JSON.parse(files);
		    		for(var a = 0; a < this.files.length; a++) {
		    			var val = this.files[a].split('/'), obj = {}; 
		    			obj.name = val[val.length - 1]; obj.file = this.files[a];
		    			this.edit_name.push(obj);
		    		}
		    	}
		    },
		    removeIndex(file) {
	      		var that = this;
	      		this.files.forEach(function(item, i) { 
		    		if(item === file) {
		    			that.files.splice(i, 1);
		    			for(var a = 0; a < that.edit_name.length; a++) {
		    				if(that.edit_name[a].file === file) {
			    				that.edit_name.splice(a, 1);
			    			}
		    			}

		    		}
		    	});
	      	},
	      	uploadingFile() {
	      		document.getElementById('editTask').setAttribute('disabled', 'true');
	      	},
	      	uploadingSuccess() {
	      		document.getElementById('editTask').removeAttribute('disabled');
	      	},
		    showDropbox(e) {
		    	if(this.is_shown) {
		    		this.is_shown = false;
		    	} else {
		    		this.is_shown = true;
		    	}
		    },
		    selectOption(e, type) {
	      		var div = document.querySelector('.editor-module'), clas = '.dx-'+type+'-format';
	      		document.querySelector(clas).click();
	      	},
	      	async afterComplete(upload) { 
	      		document.querySelector('button').removeAttribute('disabled');
		      	var imageName = uuid.v1();
		      	this.isLoading = true;
		      	let that = this
		      	try {
			        let file = upload;
			        // that.images.push(file);
			            let extension = file.name.split('.').pop().toLowerCase();
		       
					    var data_file = file; that.is_loading = true;
					    var formdata = new FormData();
				    	formdata.append('data_file', data_file);
				    	formdata.append('extension', extension);
				    	formdata.append('_comp', "edittask");
				    	formdata.append('_id', that.task_id);
				    	formdata.append('_file_name', file.name);
				    	formdata.append('format', file.type.split('/').shift().toLowerCase());

		        		axios.post('/api/add_pic?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		        			that.images.push(response.data.src);
		        			that.is_loading = false;
		        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-uri",response.data.src);
		        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-format",response.data.format);
		        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-file_name",response.data.file_name);
		        			// jQuery(".dz-image").last().find("img").attr("data-uri",response.data.src);
				    	}).catch(function (error) {
				    		console.log("Unable to process.");
				    	});
		      	} catch (error) {
		        	console.log(error);
		      	}
		    },
		    async removeThisFile(file) {
		    	var _filePath=event.target.parentElement;
		    	if(_filePath) {
		    		_filePath.querySelector('img').getAttribute('data-uri');
		    	}
		    	let that = this, _id = file.upload.uuid;

		    	this.images.forEach(function(item, i) { 
		    		if(item === _filePath) {
		    			that.images.splice(i, 1);
		    		}
		    	});
		    },
		    store() { 
		    	var observer = [], participants = [];
		    	if(typeof this.value !== "undefined") {
			    	for(var i = 0; i < this.value.length; i++) {
			    		observer.push(this.value[i].id);
			    	}
			    }
			    if(typeof this.values !== "undefined") {
			    	for(var j = 0; j < this.values.length; j++) {
			    		participants.push(this.values[j].id);
			    	}
			    }
			    
		    	var extras = {}; extras['observer'] = this.value; extras['participants'] = this.values;
		    	
		    	var formdata = new FormData();
		    	formdata.append('id', this.task_id);
		    	formdata.append('name', this.name);
		    	formdata.append('project', this.project);
		    	formdata.append('priority', this.priority);
		    	formdata.append('responsible', this.responsible);
		    	formdata.append('observer', JSON.stringify(observer));
		    	formdata.append('participants', JSON.stringify(participants));
		    	formdata.append('extras', JSON.stringify(extras));
		    	formdata.append('description', this.description);
		    	formdata.append('deadline', this.customFormatter(this.deadline));
		    	formdata.append('status', this.status);


		    	for( var i = 0; i < this.files.length; i++ ) {
			       	var file = this.files[i];
			       	formdata.append('old_files[' + i + ']', file);
			    }
		    	for( var i = 0; i < this.images.length; i++ ) {
			       	let file = this.images[i];
			       	formdata.append('files[' + i + ']', file);
			    }

		    	let that = this; this.is_loading = true;
		    	// api to save task.
		    	axios.post('/api/tasks/update?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		    		that.is_loading = false;
		    		that.makeEdit(response.data.files);
		    		if(typeof that.$refs.imgDropZone !== "undefined") {
		    			that.$refs.imgDropZone.removeAllFiles();
		    		}
		    		that.is_shown = false;
		    		if(response.data.status == 'success') {
		    			that.alertClass = true;
		    		} else {
		    			that.alertClass = false;
		    		}
		    		that.message = response.data.message;
		    		that.showAlert();
		    		that.$store.dispatch('topFunction');
		    	});
		    }
	    },
	  	mounted () {
	  		this.is_admin = localStorage.getItem("type");
			this.current_user = localStorage.getItem("user");
		    let that = this, _id = atob(this.$route.params.id);
		    axios.get('/api/tasks/edit/'+_id+'/?token='+localStorage.getItem("api_token")).then(function (response) {
		    	var task = response.data.task;
		    	if(that.is_admin == 'true' || that.current_user == task.user) {
		    		that.projects = response.data.projects;
			      	that.users = response.data.users;
			    	that.task_id = task.id;
			    	that.name = task.name;
			    	that.project = task.project;
			    	that.priority = task.priority;
			    	that.status = task.status;
			    	that.makeEdit(task.files);
			    	that.responsible = task.assigned_to;
			    	var extras = JSON.parse(task.extras);
			    	if(extras.observer) { that.value = extras.observer; }
			    	if(task.participants) { that.values = extras.participants; }
			    	that.description = task.description;
			    	that.deadline = task.deadline;
			    	that.created_at = task.created_at;
		    	} else {
		    		that.$router.push({ path: '/tasks' });
		    	}
		    });
		    
	  	}
	}
</script>