<template>
    <div class="images-viewer">
        <!-- component -->
        <viewer :images="images" :options="options">
            <img v-for="src in images" :src="src" :key="src">
        </viewer>
      </div>
</template>

<script>
  	import 'viewerjs/dist/viewer.css';
    import Viewer from 'v-viewer';
    import Vue from 'vue';
    Vue.use(Viewer);

  	export default {
	    name: 'ImageViewer',
	    props: ['images'],
	    data: () => {
            return {
                options: {
                    toolbar: true,
                    transition: true,
                    title: true
                }
            }
        }
  	}
</script>