<template>
  	<CRow>
    	<CCol col="12" lg="12">
    		<div class="task-backdrop" @click="closeModal" v-if="taskModal"></div>
    		<div class="view-task-modal modal-notification" v-if="taskModal"  v-bind:class="{ active: addActive==true }">
    			<div class="close-notification" @click="closeModal">
		       		<CButtonClose class="text-black"/> <span>Task</span>
		     	</div>
	    		<CCardHeader class="task-heading mb-1">
	          	<h3 class="d-flex justify-content-between align-items-center" v-if="name">
    				<span class="main-task-heading">{{ this.name }} </span>
    				<div class="btns-header">
    					<CButton color="secondary" class="mr-1" @click="editSidebarTask" v-if="shouldDisplayEdit()"><CIcon name="cil-pencil"/> Edit</CButton>
    					<a v-if="folder_id" class="task-view-folder btn btn-secondary mr-1" @click="goToSidebarDrive"><CIcon  name="cil-folder"/><span>Drive</span></a> 
    				</div>
    			</h3>
	        </CCardHeader>

	        <!-- main body section -->
	        <CRow class="notification-desc">
    			<CCol col="8" class="my-quote-region">
    				<CCard>
        				<CCardBody class="left-side-section">
		          			<div class="description-section">
		          				<div class="description-heading-sec">
		          					<p>Task: #{{ this.task_number }} {{ this.task_status }} 
		          						<CBadge v-if="priority == 0 && priority !== ''" class="float-right" color="secondary">Low</CBadge> 
		          						<CBadge v-if="priority == 1" class="float-right" color="warning">Medium</CBadge>
		          						<CBadge v-if="priority == 2" class="float-right" color="danger">High</CBadge>
		          					</p>
		          				</div>

		          				<div class="img-100 description-text mt-3 mb-5 images make-quotation cust-vals show-img-full" data="0" v-viewer ><p v-html="description"></p></div>

		          				<div class="main-files-listing pt-3 pb-3 mb-5" v-if="files">
		          					<div class="images-viewer" >
								        <!-- component -->
								        <div class="view-main-file" v-for="file in JSON.parse(files)" v-if="!isValidImageURL(file)">
								        	<a :href="file" download target="_blank">{{ getValidName(file) }}</a>
								        </div>
								        <viewer class="show-img-full" :images="JSON.parse(files)">
								        	<div class="viewr-img-div" v-for="file in JSON.parse(files)" v-if="isValidImageURL(file)">
								            	<img :src="file" :key="file">
								            </div>
								        </viewer>
								        
								    </div>
		          				</div>

		          				<div class="description-footer" v-if="project">
		          					<p>This task is in group (project): <a @click="sendProjectUrl(projectUrl)" target="_blank">{{ project.client }} - {{ project.url }} - {{ project.profile }}</a></p>
		          				</div>
		          			</div>

		          			<div class="comment-section mt-5">
		          				<div class="row">
		          					<div class="comment-section-list col-12">
		          						<div class="pervious-comm-btn">
		          							<a @click="viewMore" v-if="comment_ct > 0">Previous Comment ({{ this.comment_ct }})</a>
	          								<a v-else>Previous Comment (0)</a>
	          								<div class="pervious-comm_loader" v-if="loading"><img :src="loader" /></div>
		          						</div>
	          							
	          							<div class="comment-section-values comment-quotation cust-vals" data="1" v-if="comment_list">
	          								<div class="row  pt-3" v-for="(comments, k) in comment_list.slice().reverse()">
		          								<div class="col-1">
		          									<div class="small-rounded-img">
						          						<img :src="comments.user_profile" v-if="comments.user_profile">
						          						<img :src="avtar" v-else>
						          					</div>
		          								</div>
		          								<div class="col-11">
		          									<div class="wrapper-comment">
			          									<b>{{ comments.user_name }} <span class="comment-date">{{ dateValue(comments.created_at) }}</span></b>
			          									<div :id="'comment_loader'+comments.id" class="comment-section-detail images show-img-full" :data="comments.id" v-viewer><p v-if="comments.comment" v-html="JSON.parse(comments.comment)"></p></div>
				          								<!-- show images -->
				          								<div class="images-viewer main-files-listing mt-3" v-if="JSON.parse(comments.files)">
													        <!-- component -->
													        <div class="view-main-file" v-for="file in JSON.parse(comments.files)" v-if="!isValidImageURL(file)">
													        	<a :href="file" download target="_blank">{{ getValidName(file) }}</a>
													        </div>
													        <viewer class="show-img-full" :images="JSON.parse(comments.files)">
													        	<div class="viewr-img-div" v-for="src in JSON.parse(comments.files)" v-if="isValidImageURL(src)">
													            	<img :src="src" :key="src">
													            </div>
													        </viewer>
													    </div>
			          								</div>
			          								<div class="wrapper-opt">
			          									<!-- <a>Like</a>
			          									<a>Reply</a> -->
				          								<CDropdown toggler-text="More" class="custom-menu-btn" v-if="shouldDisplay(comments)">
				          									<CDropdownItem @click="makeEdit(comments)"><CIcon name="cil-pencil"/> Edit</CDropdownItem>
				          									<CDropdownItem @click="deleteComment(comments.id)"><CIcon name="cil-trash"/> Delete</CDropdownItem>
				          								</CDropdown>
				          							</div>
		          								</div>
	          								</div>
	          							</div>
	          						</div>
		          				</div>
		          				<div class="row mt-3">
		          					<div class="col-1">
		          						<div class="small-rounded-img">
			          						<img :src="current.profile" v-if="current.profile">
			          						<img :src="avtar" v-else>
			          					</div>
		          					</div>
		          					<div class="col-11">
		          						<div class="comment-section-field">
			          						<CAlert :show.sync="dismissCountDown" v-bind:color="(alertClass)?'success':'danger'" fade>
								            	{{ message }}
								          	</CAlert>
								          	<div class="editor-module">
				          						<DxHtmlEditor :mentions="mentions" v-model:value="comment" height="200px" ref="textEditor">
				          							<DxToolbar>
												        <DxItem format-name="bold"/>
												        <DxItem format-name="link"/>
												        <DxItem format-name="image"/>
												        <DxItem format-name="blockquote"/>
												    </DxToolbar>
				          						</DxHtmlEditor>
				          						<div class="editor-icons">
				          							<a v-on:click="showDropbox($event)" class="attachment-img-ico"><img src="/img/attachment.png" alt="" /></a>
				          							<a v-on:click="selectOption($event, 'bold')" class="bold-img-ico"><img src="/img/bold.png" alt="" /></a>
				          							<a v-on:click="selectOption($event, 'link')"><CIcon name="cil-link"/></a>
				          							<a v-on:click="selectOption($event, 'blockquote')" class="quoted-img-ico"><img src="/img/quote.png" alt="" /></a>
				          						</div>
				          						<div class="files-names">
				          							<p class="d-flex justify-content-between" v-for="name in edit_name">{{ name.name }} <span class="float-right" @click="removeIndex(name.file)"><CIcon name="cil-x"/></span></p>
				          						</div>
				          						<vue-dropzone
				          							v-if="is_shown"
											      	ref="imgDropZone"
											      	id="customdropzone"
											      	:options="dropzoneOptions"
											      	@vdropzone-complete="afterComplete"
											      	v-on:vdropzone-removed-file="removeThisFile"
											    ><img src="removebutton.png" alt="Click me to remove the file." data-dz-remove /></vue-dropzone>

			          						</div>

			          						<CButton v-if="comment_edit" @click="editComment" color="primary">Edit</CButton>
			          						<CButton v-else @click="addCommnet" color="primary">Send</CButton>
			          						<CButton @click="clearField" color="secondary">Cancel</CButton>
			          					</div>
		          					</div>
		          				</div>
		          			</div>
        				</CCardBody>
        			</CCard>
        		</CCol>
        		<CCol col="4">
    				<CCard>
        				<CCardBody class="right-side-section">
        					<div class="info-section">
		          				<div class="info-header">
		          					<p><b>{{ this.task_status }}</b> since {{ dateFormat(this.task_date) }}</p>
		          				</div>

		          				<div class="info-overdue" v-if="date_difference < 0">
	          						<p><a class="error-msg-ico"><img src="/img/error-red.png" /> </a> Task is overdue!</p>
	          					</div>

	          					<div class="info-div">	
			          				<div class="left-sec">
			          					Created On
			          				</div>
			          				<div class="right-sec">{{ dateFormat(this.task_date) }}</div>
			          			</div>

			          			<div class="info-div assign-section">
				          			<p>Created By</p>
				          			<div class="left-sec">
				          				<div class="small-rounded-img">
				          					<img :src="user_pic" v-if="user_pic">
				          					<img :src="avtar" v-else>
			          					</div>
				          			</div>

				          			<div class="right-sec">	
				          				{{ this.user_name }}
				          				<span v-if="user_role == 'admin'">Director</span>
				          				<span v-else>{{ this.user_role }}</span>
				          			</div>
			          			</div>

			          			<div class="info-div assign-section">
				          			<p>Responsible person</p>
				          			<div class="left-sec">
			          					<div class="small-rounded-img">
				          					<img :src="assignee_profile" v-if="assignee_profile">
				          					<img :src="avtar" v-else>
				          				</div>
				          			</div>
				          			<div class="right-sec">
				          				{{ this.assignee_name }}
				          				<span v-if="assignee_role == 'admin'">Director</span>
				          				<span v-else>{{ this.assignee_role }}</span>
				          			</div>
			          			</div>

			          			<div class="info-div assign-section" v-if="(participants.length > 0)">
				          			<p>Participants</p>
				          			<div class="inn-sec" v-for="(participant, i) in participants">	
				          				<div class="left-sec">
				          					<div class="small-rounded-img">
					          					<img :src="participant.profile" v-if="participant.profile">
					          					<img :src="avtar" v-else>
					          				</div>
				          				</div>
				          				<div class="right-sec">
				          					{{ participant.name }}
				          					<span v-if="participant.role == 'admin'">Director</span>
				          					<span v-else>{{ participant.role }}</span>
				          				</div>
				          			</div>
			          			</div>

			          			<div class="info-div assign-section" v-if="(observers.length > 0)">
				          			<p>Observers</p>
				          			<div class="inn-sec" v-for="(observer, j) in observers">	
				          				<div class="left-sec">
				          					<div class="small-rounded-img">
					          					<img :src="observer.profile" v-if="observer.profile">
					          					<img :src="avtar" v-else>
					          				</div>
				          				</div>
				          				<div class="right-sec">
				          					{{ observer.name }}
				          					<span v-if="observer.role == 'admin'">Director</span>
				          					<span v-else>{{ observer.role }}</span>
				          				</div>
				          			</div>
			          			</div>
		          			</div>
        				</CCardBody>
        			</CCard>
        		</CCol>
        	</CRow>
		    </div>
		    <div class="page-task" v-if="taskModal==false">
	    		<CCardHeader class="task-heading mb-1">
		          	<h3 class="d-flex justify-content-between align-items-center" v-if="name">
	    				<span class="main-task-heading">{{ this.name }} </span>
	    				<div class="btns-header">
	    					<CButton color="secondary" class="mr-1" @click="editTask" v-if="shouldDisplayEdit()"><CIcon name="cil-pencil"/> Edit</CButton>
	    					<a v-if="folder_id" class="task-view-folder btn btn-secondary mr-1" @click="goToDrive"><CIcon  name="cil-folder"/><span>Drive</span></a> 
	    					<CButton color="secondary" @click="goBack">Back</CButton>
	    				</div>
	    			</h3>
		        </CCardHeader>

		        <!-- main body section -->
		        <CRow class="custom-view remove-extrarow-padding">
	    			<CCol col="8" class="my-quote-region">
	    				<CCard>
	        				<CCardBody class="left-side-section">
			          			<div class="description-section">
			          				<div class="description-heading-sec">
			          					<p>Task: #{{ this.task_number }} {{ this.task_status }} 
			          						<CBadge v-if="priority == 0 && priority !== ''" class="float-right" color="secondary">Low</CBadge> 
			          						<CBadge v-if="priority == 1" class="float-right" color="warning">Medium</CBadge>
			          						<CBadge v-if="priority == 2" class="float-right" color="danger">High</CBadge>
			          					</p>
			          				</div>

			          				<div class="img-100 description-text mt-3 mb-5 images make-quotation cust-vals show-img-full" data="0" v-viewer ><p v-html="description"></p></div>

			          				<div class="main-files-listing pt-3 pb-3 mb-5" v-if="files">
			          					<div class="images-viewer" >
									        <!-- component -->
									        <div class="view-main-file" v-for="file in JSON.parse(files)" v-if="!isValidImageURL(file)">
									        	<a :href="file" download target="_blank">{{ getValidName(file) }}</a>
									        </div>
									        <viewer class="show-img-full" :images="JSON.parse(files)">
									        	<div class="viewr-img-div" v-for="file in JSON.parse(files)" v-if="isValidImageURL(file)">
									            	<img :src="file" :key="file">
									            </div>
									        </viewer>
									        
									    </div>
			          				</div>

			          				<div class="description-footer" v-if="project">
			          					<p>This task is in group (project): <a @click="sendProjectUrl(projectUrl)" target="_blank">{{ project.client }} - {{ project.url }} - {{ project.profile }}</a></p>
			          				</div>
			          			</div>

			          			<div class="comment-section mt-5">
			          				<div class="row">
			          					<div class="comment-section-list col-12">
			          						<div class="pervious-comm-btn">
			          							<a @click="viewMore" v-if="comment_ct > 0">Previous Comment ({{ this.comment_ct }})</a>
		          								<a v-else>Previous Comment (0)</a>
		          								<div class="pervious-comm_loader" v-if="loading"><img :src="loader" /></div>
			          						</div>
		          							
		          							<div class="comment-section-values comment-quotation cust-vals" data="1" v-if="comment_list">
		          								<div class="row  pt-3" v-for="(comments, k) in comment_list.slice().reverse()">
			          								<div class="col-1">
			          									<div class="small-rounded-img">
							          						<img :src="comments.user_profile" v-if="comments.user_profile">
							          						<img :src="avtar" v-else>
							          					</div>
			          								</div>
			          								<div class="col-11">
			          									<div class="wrapper-comment">
				          									<b>{{ comments.user_name }} <span class="comment-date">{{ dateValue(comments.created_at) }}</span></b>
				          									<div :id="'comment_loader'+comments.id" class="comment-section-detail images show-img-full" :data="comments.id" v-viewer><p v-if="comments.comment" v-html="JSON.parse(comments.comment)"></p></div>
					          								<!-- show images -->
					          								<div class="images-viewer main-files-listing mt-3" v-if="JSON.parse(comments.files)">
														        <!-- component -->
														        <div class="view-main-file" v-for="file in JSON.parse(comments.files)" v-if="!isValidImageURL(file)">
														        	<a :href="file" download target="_blank">{{ getValidName(file) }}</a>
														        </div>
														        <viewer class="show-img-full" :images="JSON.parse(comments.files)">
														        	<div class="viewr-img-div" v-for="src in JSON.parse(comments.files)" v-if="isValidImageURL(src)">
														            	<img :src="src" :key="src">
														            </div>
														        </viewer>
														    </div>
				          								</div>
				          								<div class="wrapper-opt">
				          									<!-- <a>Like</a>
				          									<a>Reply</a> -->
					          								<CDropdown toggler-text="More" class="custom-menu-btn" v-if="shouldDisplay(comments)">
					          									<CDropdownItem @click="makeEdit(comments)"><CIcon name="cil-pencil"/> Edit</CDropdownItem>
					          									<CDropdownItem @click="deleteComment(comments.id)"><CIcon name="cil-trash"/> Delete</CDropdownItem>
					          								</CDropdown>
					          							</div>
			          								</div>
		          								</div>
		          							</div>
		          						</div>
			          				</div>
			          				<div class="row mt-3">
			          					<div class="col-1">
			          						<div class="small-rounded-img">
				          						<img :src="current.profile" v-if="current.profile">
				          						<img :src="avtar" v-else>
				          					</div>
			          					</div>
			          					<div class="col-11">
			          						<div class="comment-section-field">
				          						<CAlert :show.sync="dismissCountDown" v-bind:color="(alertClass)?'success':'danger'" fade>
									            	{{ message }}
									          	</CAlert>
									          	<div class="editor-module">
					          						<DxHtmlEditor :mentions="mentions" v-model:value="comment" height="200px" ref="textEditor">
					          							<DxToolbar>
													        <DxItem format-name="bold"/>
													        <DxItem format-name="link"/>
													        <DxItem format-name="image"/>
													        <DxItem format-name="blockquote"/>
													    </DxToolbar>
					          						</DxHtmlEditor>
					          						<div class="editor-icons">
					          							<a v-on:click="showDropbox($event)" class="attachment-img-ico"><img src="/img/attachment.png" alt="" /></a>
					          							<a v-on:click="selectOption($event, 'bold')" class="bold-img-ico"><img src="/img/bold.png" alt="" /></a>
					          							<a v-on:click="selectOption($event, 'link')"><CIcon name="cil-link"/></a>
					          							<a v-on:click="selectOption($event, 'blockquote')" class="quoted-img-ico"><img src="/img/quote.png" alt="" /></a>
					          						</div>
					          						<div class="files-names">
					          							<p class="d-flex justify-content-between" v-for="name in edit_name">{{ name.name }} <span class="float-right" @click="removeIndex(name.file)"><CIcon name="cil-x"/></span></p>
					          						</div>
					          						<vue-dropzone
					          							v-if="is_shown"
												      	ref="imgDropZone"
												      	id="customdropzone"
												      	:options="dropzoneOptions"
												      	@vdropzone-complete="afterComplete"
												      	v-on:vdropzone-removed-file="removeThisFile"
												    ><img src="removebutton.png" alt="Click me to remove the file." data-dz-remove /></vue-dropzone>

				          						</div>

				          						<CButton v-if="comment_edit" @click="editComment" color="primary">Edit</CButton>
				          						<CButton v-else @click="addCommnet" color="primary">Send</CButton>
				          						<CButton @click="clearField" color="secondary">Cancel</CButton>
				          					</div>
			          					</div>
			          				</div>
			          			</div>
	        				</CCardBody>
	        			</CCard>
	        		</CCol>
	        		<CCol col="4">
	    				<CCard>
	        				<CCardBody class="right-side-section">
	        					<div class="info-section">
			          				<div class="info-header">
			          					<p><b>{{ this.task_status }}</b> since {{ dateFormat(this.task_date) }}</p>
			          				</div>

			          				<div class="info-overdue" v-if="date_difference < 0">
		          						<p><a class="error-msg-ico"><img src="/img/error-red.png" /> </a> Task is overdue!</p>
		          					</div>

		          					<div class="info-div">	
				          				<div class="left-sec">
				          					Created On
				          				</div>
				          				<div class="right-sec">{{ dateFormat(this.task_date) }}</div>
				          			</div>

				          			<div class="info-div assign-section">
					          			<p>Created By</p>
					          			<div class="left-sec">
					          				<div class="small-rounded-img">
					          					<img :src="user_pic" v-if="user_pic">
					          					<img :src="avtar" v-else>
				          					</div>
					          			</div>

					          			<div class="right-sec">	
					          				{{ this.user_name }}
					          				<span v-if="user_role == 'admin'">Director</span>
					          				<span v-else>{{ this.user_role }}</span>
					          			</div>
				          			</div>

				          			<div class="info-div assign-section">
					          			<p>Responsible person</p>
					          			<div class="left-sec">
				          					<div class="small-rounded-img">
					          					<img :src="assignee_profile" v-if="assignee_profile">
					          					<img :src="avtar" v-else>
					          				</div>
					          			</div>
					          			<div class="right-sec">
					          				{{ this.assignee_name }}
					          				<span v-if="assignee_role == 'admin'">Director</span>
					          				<span v-else>{{ this.assignee_role }}</span>
					          			</div>
				          			</div>

				          			<div class="info-div assign-section" v-if="(participants.length > 0)">
					          			<p>Participants</p>
					          			<div class="inn-sec" v-for="(participant, i) in participants">	
					          				<div class="left-sec">
					          					<div class="small-rounded-img">
						          					<img :src="participant.profile" v-if="participant.profile">
						          					<img :src="avtar" v-else>
						          				</div>
					          				</div>
					          				<div class="right-sec">
					          					{{ participant.name }}
					          					<span v-if="participant.role == 'admin'">Director</span>
					          					<span v-else>{{ participant.role }}</span>
					          				</div>
					          			</div>
				          			</div>

				          			<div class="info-div assign-section" v-if="(observers.length > 0)">
					          			<p>Observers</p>
					          			<div class="inn-sec" v-for="(observer, j) in observers">	
					          				<div class="left-sec">
					          					<div class="small-rounded-img">
						          					<img :src="observer.profile" v-if="observer.profile">
						          					<img :src="avtar" v-else>
						          				</div>
					          				</div>
					          				<div class="right-sec">
					          					{{ observer.name }}
					          					<span v-if="observer.role == 'admin'">Director</span>
					          					<span v-else>{{ observer.role }}</span>
					          				</div>
					          			</div>
				          			</div>
			          			</div>
	        				</CCardBody>
	        			</CCard>
	        		</CCol>
	        	</CRow>
	        </div>
    	</CCol>
    	<div class="loader-image task-loader" v-if="is_loading">
			<img :src="loader">
		</div>
  	</CRow>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'
import moment from 'moment';
import { mapGetters, mapActions, mapState } from "vuex";
import { DxHtmlEditor, DxToolbar, DxItem } from 'devextreme-vue/html-editor';
import { install } from '@github/quote-selection';

import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import 'viewerjs/dist/viewer.css';
let uuid = require("uuid");

import Viewer from 'v-viewer';
Vue.use(Viewer);

export default {
  	name: 'Viewtask',
  	data: () => {
    	return {
    		task_id: '',
    		logged: '',
    		addActive:false,
    		is_admin: false,
    		is_shown: false,
    		comment_edit: false,
    		editable_id: '',
    		edit_files: [],
    		edit_name: [],
    		files: '',
    		name: '',
    		task_number: '',
    		task_status: '',
    		avtar: '/img/user-avtar.jpg',
    		loader: '/img/loader.gif',
    		loading: false,
    		is_loading: false,
    		description: '',
    		user_pic: '',
    		user_name: '',
    		user_role: '',
    		task_date: '',
    		assignee_name: '',
    		assignee_role: '',
    		assignee_profile: '',
    		projectUrl:'',
    		priority: '',
    		comment: "",
    		project: '',
    		folder_id: '',
    		date_difference: '',
    		comment_ct: 0,
    		current: [],
    		observers: [],
    		participants: [],
    		comment_list: [],
    		alertClass: false,
    		message: '',
    		dismissSecs: 7,
	        dismissCountDown: 0,
	        paginator: 1,
	        task_user:'',
	        quoteText: '',
	        quoteTextTime: 0,
	        showDismissibleAlert: false,
	        valueContent: '',
	        date_format: '',
	        time_for: '',
	        mentions: [],
	        menuItems: [{
                text: 'Upload',
                items: [
                    { text: 'From your computer' },
                    { text: 'From a cloud service' }
                ]
            }],
            dropzoneOptions: {
		        url: "https://httpbin.org/post",
		        thumbnailWidth: 150,
		        thumbnailHeight: 150,
		        addRemoveLinks: true,
		        dictDefaultMessage: `<p class='text-default dropbox-def-txt'><img src="/img/cloud-download.png" /> Upload Images or Files Here.</p>`,
		        init: function() {
	        	   	let that = this;
			       	this.on("addedfile", function(file) {
				       	let extension = file.name.split('.').pop().toLowerCase();
				       	var reader = new FileReader();
						// Closure to capture the file information.
						reader.onload = function(e) { };
						// Read in the image file as a data URL.
						reader.readAsDataURL(file);
					});
				}
	      	},
	      	images: [],
	      	successModal:false,
    	}
  	},
  	components: {
  		DxHtmlEditor, DxToolbar, DxItem, vueDropzone: vue2Dropzone
  	},
  	computed: {
	    	...mapGetters(["taskModal"])
	  	},
  	methods: {
  		goBack() {
  			this.$router.go(-1);
  		},
  		editTask() {
  			var _id = btoa(this.task_id.toString());
  			this.$router.push({ path: `/tasks/${_id}/edit` });	
  		},
  		goToDrive() {
  			var _id = btoa(this.folder_id.toString());	      		
      		const link = `/drives/${_id}`;
  			this.$router.push({path: link});
  		},
  		showAlert () {
	      	this.dismissCountDown = this.dismissSecs
	    },
	    shouldDisplay(item) {
      		return this.is_admin || JSON.parse(this.logged) == item.user;
      	},
      	shouldDisplayEdit() {
      		return this.is_admin || JSON.parse(this.logged) == this.task_user;
      	},
      	isValidImageURL(str){
		    if ( typeof str !== 'string' ) return false;
		    return !!str.match(/\w+\.(jpg|jpeg|gif|png|tiff|bmp)$/gi);
		},
		getValidName(file) {
			if(typeof file == 'string') {
				var val = file.split('/');
				return val.slice(-1).pop();
			}
		},
      	removeIndex(file) {
      		var that = this;
      		this.edit_files.forEach(function(item, i) { 
	    		if(item === file) {
	    			that.edit_files.splice(i, 1);
	    			for(var a = 0; a < that.edit_name.length; a++) {
	    				if(that.edit_name[a].file === file) {
		    				that.edit_name.splice(a, 1);
		    			}
	    			}

	    		}
	    	});
      	},
      	selectOption(e, type) {
      		var div = document.querySelector('.editor-module'), clas = '.dx-'+type+'-format';
      		document.querySelector(clas).click();
      	},
      	showDropbox(e) {
      		if(this.is_shown) {
      			this.is_shown = false;
      		} else {
      			this.is_shown = true;
      		}
      	},
      	async afterComplete(upload) {
	      	var imageName = uuid.v1();
	      	this.isLoading = true;
	      	let that = this
	      	try {
		        let file = upload;
		        // that.images.push(file);
		        let extension = file.name.split('.').pop().toLowerCase();
		       
			    var data_file = file; that.is_loading = true;
			    var formdata = new FormData();
		    	formdata.append('data_file', data_file);
		    	formdata.append('extension', extension);
		    	formdata.append('_comp', "task");
		    	formdata.append('_id', that.task_id);
		    	formdata.append('_file_name', file.name);
		    	formdata.append('format', file.type.split('/').shift().toLowerCase());
		    	

        		axios.post('/api/add_pic?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
        			that.images.push(response.data.src);
        			that.is_loading = false;
        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-uri",response.data.src);
        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-format",response.data.format);
        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-file_name",response.data.file_name);
        			// jQuery(".dz-image").last().find("img").attr("data-uri",response.data.src);
		    	}).catch(function (error) {
		    		console.log("Unable to process.");
		    	});
					    	
	      	} catch (error) {
	        	console.log(error);
	      	}
	    },
	    async removeThisFile(file) {	    	
	    	var _filePath=event.target.parentElement;
	    	if(_filePath) {
	    		_filePath =_filePath.querySelector('img').getAttribute('data-uri');
	    	}
	    	let that = this, _id = file.upload.uuid;	    	
	    	that.images.forEach(function(item, i) { 
	    		if(item === _filePath) {
	    			that.images.splice(i, 1);
	    		}
	    	});
	    	console.log(that.images)
	    },
	    async showMoreLess(t=null) {
	    	var timer = 1000;
	    	if(t) {
	    		timer = 400;
	    	}
	    	setTimeout(function() {
		    	var div = document.getElementsByClassName('comment-section-detail');
		    	for(var i = 0; i < div.length; i++) {
		    		var id = '#comment_loader'+div[i].getAttribute('data');
		    	
			    	jQuery(id).showMore({
					    minheight: 150,
					    buttontxtmore: '<p class="more-ico"><span><img src="/images/down-ico.png" /></span></p>',
					    buttontxtless: '<p class="less-ico"><span><img src="/images/down-ico.png" /></span></p>',
					    animationspeed: 750
					});
			    }
		    }, 400);
	    },
      	dateValue(value) {
      		var date = moment(value).format('MMMM D, Y'), val = '', time = moment(value).format(this.time_for);
      		if(moment().diff(date, 'days') === 0) {
      			val = 'Today, '+time;
      		} else if(moment().diff(date, 'days') === 1) {
      			val = 'Yesturday, '+time;
      		} else {
      			val = moment(value).format(this.date_format);
      		}

      		return val;
      	},
	    convertToHtml(value, k) {
	    	var data = JSON.parse(value);
	    	var doc = new DOMParser().parseFromString(data, "text/xml");
	    	const _html = doc.firstChild, i = k;
	    	setTimeout(function() {
	    		var elem = document.getElementsByClassName('comment-html-'+i)[0]
	    		elem.innerHTML = _html;
	    	}, 500);
	    	
	    },
	    selectTrigger(e) {
	    	let text = window.getSelection().toString();
	    	if(text) { 
	    		var _class = ".make-quotation";
	    		var _a = e.target.closest('.cust-vals');
	    		if(_a !== 'undefined' && _a !== null) {
	    			if(_a.getAttribute('data') == '1') {
	    				_class = ".comment-quotation";
	    			}
	    		}
	    		this.quoteText = text;
	    		this.quoteTextTime = 0;
	    		let tooltip = new TextTip({
				    scope: _class,
				    iconFormat: 'font',
				    buttons: [
				        { title: 'quote', icon: "/img/quote.png" , callback: this.makeQuote }
				    ]
				});
	    	}
	    },
	    makeQuote() {
	    	if(this.quoteTextTime == 0) {
		    	var doc = '<blockquote>'+this.quoteText+'</blockquote><div><br /></div>';
		    	this.comment = this.comment.concat(doc);
		    	this.quoteTextTime = 1; console.log(this.comment)
		    }
	    },
	    makeEdit(comment) {
	    	this.editable_id = comment.id;
	    	this.comment_edit = true;
	    	this.comment = JSON.parse(comment.comment);
	    	this.edit_files = []; this.edit_name = [];
	    	if(comment.files) {
	    		this.edit_files = JSON.parse(comment.files);
	    		if(this.edit_files) {
		    		for(var a = 0; a < this.edit_files.length; a++) {
		    			var val = this.edit_files[a].split('/'), obj = {}; 
		    			obj.name = val[val.length - 1]; obj.file = this.edit_files[a];
		    			this.edit_name.push(obj);
		    		}
		    	}
	    	}
	    },
	    deleteComment(id) {
	    	let that = this;
      		this.$swal({
	          	title: 'Are you sure?',
	          	text: 'You can\'t revert your action',
	          	type: 'warning',
	          	showCancelButton: true,
	          	confirmButtonText: 'Yes',
	          	cancelButtonText: 'No',
	          	showCloseButton: true,
	          	showLoaderOnConfirm: true
	        }).then((result) => {
	        	if(result.value) {
	        		var formdata = new FormData(); that.is_loading = true;
			    	formdata.append('component_id', that.task_id);
			    	formdata.append('id', id);
			    	formdata.append('component', 'task');
			    	formdata.append('pager', that.paginator);

	        		axios.post('/api/comment/delete?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
						that.addHoverClass();
						that.addHoverClassChange()
	        			that.is_loading = false;
			    		that.comment_list = response.data.comments;
			    		that.comment_ct = response.data.count;
			    		that.showMoreLess('a');
			    	}).catch(function (error) {
			    		console.log("Unable to delete values.")
			    	});
	        	} else {
	            	this.$swal('Cancelled', 'Your comment is still intact.', 'info');
	          	}
	        });
	    },
	    viewMore() {
	    	let that = this; this.loading = true;
	    	var formdata = new FormData();
	    	this.paginator = this.paginator + 1;
	    	formdata.append('component_id', this.task_id);
	    	formdata.append('component', 'task');
	    	formdata.append('pager', this.paginator);

	    	axios.post('/api/comment/more?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
				that.addHoverClass();
				that.addHoverClassChange()
	    		that.comment_list = response.data.comments;
	    		that.comment_ct = response.data.count;
	    		that.loading = false;
	    		that.showMoreLess('a');
	    	}).catch(function (error) {
	    		that.paginator = that.paginator - 1;
	    		console.log("Unable to load more values.");
	    		that.loading = false;
	    	});
	    },
  		dateFormat($date) {
  			var value = "";
  			if($date) {
	      		value = moment($date).format(this.date_format);
	      	}
	      	return value;
      	},
      	parseVal() {
      		const parser = new DOMParser();
      		var htmlDoc = parser.parseFromString(this.comment, 'text/html');
      		var value = htmlDoc.getElementsByClassName('dx-mention');
      		var data = [];
      		for(var i = 0; i < value.length; i++) {
      			data[i] = value[i].getAttribute('data-id');
      		}
      		return data;
      	},
	    addCommnet() {
	    	let that = this;
	    	var formdata = new FormData();
	    	var mentions = this.parseVal();
	    	formdata.append('component_id', this.task_id);
	    	formdata.append('component', 'task');
	    	formdata.append('comment', JSON.stringify(this.comment));
	    	formdata.append('mentioned', mentions);
	    	formdata.append('pager', this.paginator);
	    	if(this.images) {
		    	for( var i = 0; i < this.images.length; i++ ) {
			       	let file = this.images[i];
			       	formdata.append('files[' + i + ']', file);
			    }
			}

		    if(this.comment) { this.is_loading = true;
		    	axios.post('/api/comment/add?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		    		that.addHoverClass();
		    		that.addHoverClassChange();
		    		that.is_loading = false;
		    		that.comment = "";
		    		that.comment_list = response.data.comments;
		    		that.comment_ct = response.data.count;
		    		that.observers = response.data.observers;
		    		that.images = [];
		    		that.showMoreLess('a');
		    		that.is_shown = false;
		    		that.$refs.imgDropZone.removeAllFiles();
		    		// if(response.data.status == 'true') {
		    			that.alertClass = true;
		    		// } else {
		    			// that.alertClass = false;
		    		// }
		    		that.message = response.data.message;
		    		that.showAlert(); 
		    	}).catch(function (error) {
		    		that.is_loading = false;
		    		// self.$router.push({ path: '/login' });
		    	});
		    } else {
		    	that.alertClass = false;
		    	this.message = 'You need to add comment.';
		    	this.showAlert();
		    }
	    },
	    editComment() {
	    	let that = this; this.is_loading = true;
	    	var formdata = new FormData();
	    	var mentions = this.parseVal();
	    	formdata.append('component_id', this.task_id);
	    	formdata.append('component', 'task');
	    	formdata.append('id', this.editable_id);
	    	formdata.append('comment', JSON.stringify(this.comment));
	    	formdata.append('mentioned', mentions);
	    	formdata.append('pager', this.paginator);
	    	if(this.edit_files) {
		    	for( var i = 0; i < this.edit_files.length; i++ ) {
			       	var file = this.edit_files[i];
			       	formdata.append('old_files[' + i + ']', file);
			    }
			}
			if(this.images) {
			    for( var i = 0; i < this.images.length; i++ ) {
			       	let file = this.images[i];
			       	formdata.append('files[' + i + ']', file);
			    }
			}

		    if(this.comment) {
		    	axios.post('/api/comment/update?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {		    		
		    		that.addHoverClass();
		    		that.addHoverClassChange();
		    		that.is_loading = false;
		    		that.comment = "";
		    		that.editable_id = '';
		    		that.comment_edit = false;
		    		that.is_shown = false;
		    		that.comment_list = response.data.comments;
		    		that.comment_ct = response.data.count;
		    		that.observers = response.data.observers;
		    		that.edit_files = [];
		    		that.edit_name = [];
		    		that.images = [];
		    		that.showMoreLess('a');
			    	that.$refs.imgDropZone.removeAllFiles();
		    		// if(response.data.status == 'true') {
		    			that.alertClass = true;
		    		// } else {
		    		// 	that.alertClass = false;
		    		// }
		    		that.message = response.data.message;
		    		that.showAlert();
		    	}).catch(function (error) {
		    		that.is_loading = false;
		    		console.log('Unable to comment')
		    	});
		    } else {
		    	this.message = 'You need to add comment.';
		    	this.showAlert();
		    }
	    },
	    clearField() {
	    	this.comment = "";
	    	this.editable_id = '';
	    	this.comment_edit = false;
	    	this.is_shown = false;
	    	this.edit_files = [];
    		this.edit_name = [];
    		this.images = [];
	    	this.$refs.imgDropZone.removeAllFiles();
	    },
	    listComments() {
	    	let that = this;
	    	var formdata = new FormData();
	    	formdata.append('component_id', atob(this.$route.params.id));
	    	formdata.append('component', 'task');

	    	axios.post('/api/comment/list?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
	    		that.comment_list = response.data.comments;
	    		that.comment_ct = response.data.count;
	    		that.time_for = response.data.time;
	    		that.showMoreLess();
	    	}).catch(function (error) {
		      	console.log('something went wrong.');
		    });
	    },
	    sendProjectUrl(url) {
	    	this.$router.push({ path: url });
	    },
	    addHoverClass() {
			setTimeout(function() {
	          jQuery( document ).ready(function() {               
	              jQuery('.description-section').each(function() {
	                  var array = [];
	                  jQuery(this).find('.cust-vals.show-img-full img').each(function( index, value ) {
	                      array.push(value.src);
	                  });
	                  jQuery(this).find('.main-files-listing img').each(function( index, value ) {
	                        if(array.length) {
			              		if(array.indexOf(value.src) >= 0) {
				                  jQuery(this).addClass('hover-active')
				                } else {
				                  jQuery(this).removeClass('hover-active')
				                }
			              	} else {
			              		jQuery(this).removeClass('hover-active')
			              	}
	                  });
	              });            
	         });
	       }, 1800);
	    },
	    addHoverClassChange() {
		    setTimeout(function() {
	          jQuery( document ).ready(function() {         
	            jQuery('.wrapper-comment').each(function() {
	              var array = [];
	              jQuery(this).find('.custom-showmore-div img').each(function( index, value ) {
	                 array.push(value.src);
	              });
	              jQuery(this).find('.show-img-full img').each(function( index, value ) {
	              	if(array.length) {
	              		if(array.indexOf(value.src) >= 0) {
		                  jQuery(this).addClass('hover-active')
		                } else {
		                  jQuery(this).removeClass('hover-active')
		                }
	              	} else {
	              		jQuery(this).removeClass('hover-active')
	              	}
	                
	              });
	            })

	            
	        });
	        }, 1800);
   		},
   		 closeModal(){
		      var self=this;
		      	self.addActive = false		       
		       setTimeout(function() { 		       
		       	self.$store.commit('setTaskModal', false)
		       	self.goBack()
		       }, 200);
		       
		       
		    },
		editSidebarTask () {
			var _id = btoa(this.task_id.toString());
			var self=this;
			self.addActive = false		       
			setTimeout(function() { 		       
				self.$store.commit('setTaskModal', false);
				self.$store.commit('setSuccessModal', false);
				self.$router.push({ path: `/tasks/${_id}/edit` });	

			}, 200);

		},
		goToSidebarDrive() {
			var _id = btoa(this.folder_id.toString());	      		
      		const link = `/drives/${_id}`;
      		var self=this;
			self.addActive = false		       
			setTimeout(function() { 		       
				self.$store.commit('setTaskModal', false);
				self.$store.commit('setSuccessModal', false);
				self.$router.push({path: link});
			}, 200);
		}
    },	    
  	mounted () {
  		let that = this, _id = atob(this.$route.params.id); this.is_loading = true;
	    axios.get('/api/tasks/view/'+_id+'/?token='+localStorage.getItem("api_token")).then(function (response) {
	    	that.is_loading = false;
	    	var task = response.data.task, status = "";
	      	that.current = response.data.current;
	      	that.mentions = [{
		        dataSource: response.data.users,
		        searchExpr: 'text',
		        displayExpr: 'text',
		        valueExpr: 'id'
		    }];
	      	that.observers = response.data.observers;
	      	that.participants = response.data.participents;
	      	that.project = response.data.project;
	      	that.task_date = task.created_at;
	      	that.task_id = task.id;
	      	that.folder_id = task.folder_id;
	      	that.name = task.name;
	      	that.task_user = task.user;
	      	that.files = task.files;
	      	that.task_number = task.number;
	      	that.description = task.description;
	      	that.priority = task.priority;
	      	that.user_pic = task.user_profile;
	      	that.user_name = task.user_name;
	      	that.user_role = task.user_role;
	      	that.assignee_name = task.assignee_name;
	      	that.assignee_role = task.assignee_role;
	      	that.assignee_profile = task.assignee_profile;
	      	that.projectUrl="/projects"+'/'+response.data.project.id;
	      	if(task.status == '1') { status = "completed"; } else if(task.status == '2') { status = "ongoing"; } else if(task.status == '3') { status = "due"; } else { status = "pending"; }

	      	that.task_status = status;
	      	if(task.deadline) {
	      		var dt = new Date(task.deadline);
	      		var start = moment().format('M/D/YYYY'), end = moment(dt, 'M/D/YYYY'), diff = end.diff(start, 'days'); 
	      		if(diff < 0) {
	      			that.date_difference = diff;
	      		}
	      	}
	    }).catch(function (error) {
	    	that.is_loading = false;
	      	that.$router.push({ path: '/tasks' });
	    });
	    this.listComments();

	    this.logged = localStorage.getItem('user');
    	this.is_admin = JSON.parse(localStorage.getItem('type'));
    	this.date_format = localStorage.getItem('date_format');

    	document.addEventListener('mouseup', event => {
	        this.selectTrigger(event);
	    });
	   this.addHoverClass()
	   this.addHoverClassChange()
	   if(that.taskModal) {
		   setTimeout(function() { that.addActive = true}, 220);
		}
	    
  	}
}
</script>