<template>
  <div class="container-fluid full-width">
    <CRow>
      <CCol>
        <CCardGroup>
          <CCard class="p-4">
            <CCardBody>
               <img :src="path" class="please_wait_img">
            </CCardBody>
          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
    export default {
      name: 'Sociallogin',
      data() {
        return {
          path:"/img/please-wait.gif"

        }
      },
        methods: {
          sociallogin() {
            let self = this;
            var path = '/api'+self.$route.fullPath;
            self.$store.dispatch('auth/socialLoginRequest', {path: path })
          },
        },
        created(){
          this.sociallogin();
        }
    }
</script>
