<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
      <CCard>
         <CCardHeader class="d-flex justify-content-between align-items-center">
             <h4>Archive Projects</h4>
        </CCardHeader>
        <CCardBody>
          <CAlert
            :show.sync="dismissCountDown"
            color="primary"
            fade
          >
            {{ message }}
          </CAlert>
            <div class="table-responsive">
              <table class="table table-manage-user table-striped" id="project_table">
                <thead>
                        <tr>  
                            <th width="25" scope="col">Name</th>   
                            <th scope="col">Client</th>   
                            <th width="10" scope="col">Url</th>   
                            <th scope="col">Portal</th>     
                            <th scope="col">Profile</th>           
                            <th scope="col">Action</th>               
                        </tr>
                    </thead>
                    <tbody></tbody>
              </table>
            </div>
        </CCardBody>
      </CCard>
      </transition>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ArchiveProjects',
  data: () => {
    return {
      items: [],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      is_admin: false,
      loader: '/img/loader.gif',
      is_loading: false,
      message: '',
      current_user: '',
      showMessage: false,
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  paginationProps: {
    align: 'center',
    doubleArrows: false,
    previousButtonHtml: 'prev',
    nextButtonHtml: 'next'
  },
  methods: {
    projectLink (id) {
      return `/projects/${id.toString()}`
    },
    editLink (id) {
      return `/projects/${id.toString()}/edit`
    },
    restoreProject ( id ) {
      var self = this;
       self.is_loading = true;
          axios.post('/api/archive-projects/restore',{
            id: id,
          })
          .then(function (response) {
              self.is_loading = false;
              self.message = 'Successfully Restore Project.';
              self.showAlert();
              jQuery('#project_table').DataTable().destroy()
              self.getArchiveProjects();
          })
    },
    shouldDisplay(item) {
      return this.is_admin == "true" || JSON.parse(this.current_user) == item.user_id;
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    getArchiveProjects (){
        let that = this;
        jQuery('#project_table').DataTable({
          "lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
          "order": [],
          processing: true,
              serverSide: true,
              ajax: '/api/archive-projects?token=' + localStorage.getItem("api_token"),
              columns: [
                // {data: 'DT_RowIndex' },
                {data: 'name', name: 'name',
                  render:function (data, type, full, meta) {
                    return '<a data="'+full.id+'" class="view-item-icon">'+full.name+'</a>';
                  }
                },
                {data: 'client'},
                {data: 'url'},
                {data: 'portal'},                
                {data: 'profile'},
                {data: 'action', name: 'action',
                  render:function (data, type, full, meta) {
                    var btns = '';
                      var btn = '<a data="'+full.id+'" class="view-item-icon dropdown-item"><img src="/img/restore.png" alt="view-icn"/> Restore</a>';

                      btns = '<div class="custom-list-dropdown"><div class="dropdown"><p class="dropdown-toggle pointer text-center" id="listprojs'+full.id+'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/drop-icon.svg" /></p><div class="dropdown-menu" aria-labelledby="listprojs'+full.id+'">'+btn+'</div></div></div>';
                   

                    return btns;
                  }, orderable: false, searchable: false
                }
            ],
            "language":{
              "processing": '<div class="loader-image"><img src="'+that.loader+'"></div>',
            },
            "dom": '<"top table-search-flds d-flex align-items-center justify-content-between"fl>rt<"bottom table-paginater"ip><"clear">'
        });
        // trigger click functions.
        jQuery(document).on('click', '.view-item-icon', function() {
          var id = this.getAttribute('data');
          that.restoreProject(id)
        });
    },
  },
  mounted: function(){
    if(localStorage.getItem("api_token")) {
        this.getArchiveProjects();
    }
    this.is_admin = localStorage.getItem("type");
    this.current_user = localStorage.getItem("user");
  }
}
</script>
