// Here you can add other styles
.card-header:not(.content-center) > .c-icon:first-child {
    margin-right: 0.1rem;
    margin-top: 0.1rem;
    vertical-align: top;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
}
body{
    font-family: 'Roboto', sans-serif;
}
.cursor-pointer{
    cursor:pointer;
}

.click-file{
    cursor:pointer;
}

#cropp-img-img{
    max-width:500px;
    max-height:500px;
}
.error{ 
    color:red;
}
.small-rounded-img {
    & img {
        width: 100%;
        width: 37px;
        height: 37px;
        object-fit: cover;
        border-radius: 50%;
        }
}
.info {
    &-header {
        background-color: #3c4a64;
        color: #fff;
        padding: 12px;
        & p {
            font-size: 9px;
        }
    }
    &-overdue {
        background: #ffe5e0;
        color: #f73100;
    }
}
.list-comments {
    & img {
        width: 20%;
    }
}
.comment-section {
    &-detail {
        & img {
            max-width: 100%;
            width: auto;
        }
    }
}
.first-element {
    & .ele-val {
        font-size: 0;
    }
}
.column-background {
    background-color: #f5c1c1;
}
.right-side-section {
    background: whitesmoke;
    padding: 6px;
}
iframe {
    width: 100%;
}
.tasks {
    &-parent-element {
        background-color: #f1f5f7;
    }
}
.table-filters {
    margin-top: 15px;
    margin-right: 0;
}
.full-width {
    .card {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    padding: 0;
    overflow: hidden;
}
.hide {
    display:none;
}
.show {
    display:block;
}
.wrapper-comment {
    background: #f5f5f5;
    padding: 7px 21px 7px 15px;
    border-radius: 30px;
    box-sizing: border-box;
    /*width: fit-content;*/
    width: 100%;
    max-width: 95%;
    & span {
        font-size: 11px;
        font-weight: 500;
    }
    .dx-mention{
        background-color: #ffb40038;
        display: inline-block;
        line-height: 100%;
        padding: 5px;
        border-radius: 4px;
        span {
            font-size: 12px !important;
            font-weight: bold;
            span{
                display:none !important;
            }
        }
    }
}
.dx-show-invalid-badge.dx-htmleditor.dx-widget {
    margin-bottom: 15px;
}
.task-heading {
    background: #001d4a;
    padding: 10px;
    margin-bottom:15px;
}
.task-heading h3 {
    color: #fff;
    margin: 0;
    .main-task-heading {
        flex: 0 0 75%;
    }
}
p{
    margin-bottom:0px;
}
.info-header {
    p {
        font-size: 12px;
    }
}
.info-div {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #fff;
    padding: 12px 5px;
    font-size: 12px;
}
.left-sec {
    flex: 0 0 40%;
}
.right-sec {
    flex: 0 0 60%;
}
.info-div p {
    flex: 0 0 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
.info-overdue {
    padding: 5px 5px;
}
.assign-section {
    margin-top: 10px;
    .left-sec {
        flex: 0 0 50px;
    }
    .right-sec {
        max-width: calc(100% - 50px);
        flex: 0 0 100%;
        color:$blue-color;
        font-weight:600;
        span {
            display: block;
            color:$black-color;
            font-weight:normal;
        }
    }
}

.editor-module {
    & .dx-htmleditor-toolbar-wrapper {
        display: none;
    }
    & .editor-icons {
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        & i {
            padding: 8px;
            cursor: pointer;
            &.active {
                background: #e4e2e2;
            }
            
            
        }
        a {
                margin-right: 8px;
                img {
                    max-height: 12px;
                }
            }
    }
}
.images-viewer {
    width: 100%;
    & img {
        width: 100px;
        padding: 5px;
        cursor: pointer;
        transition: 0.4s all ease-in-out;
    }
    .hover-active{
        opacity:0.4;
    }
}
.pervious-comm {
    &-btn {
        padding: 6px;
        border: 1px solid transparent;
        border-radius: 15px;
        background: whitesmoke;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
    }
    &_loader {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        & img {
            object-fit: cover;
            width: 100%;
        }
    }
}
.inn-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.file-outer {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
  }
}
.drive-box {
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    position: relative;
    padding: 10px;
    img {
        max-height: 70px;
    height: 90px;
    width: 100px;
    margin: 0 auto 10px;
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
    max-width: 100px;
        position: relative;
        z-index: 9;
        }
    p {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}


.login-outer {
  .row{
    width: 100%;
    .text-muted {
        margin-bottom: 10px;
    }
    .card-logo{
     .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
     }

    }
  }
    
}
button{
  &:focus {
        outline: none;
        outline: none;
    }
}
.dropdown-menu {
    i {
        margin-right: 7px;
    }
    
}

.wrapper-comment{
    .dropdown-toggle{
        font-size: 25px;
        line-height: 100%;
        padding: 0px;
        &:after{
            display:none;
        }
    }
}


.wrapper-opt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a{
        font-size: 12px;
        padding: 0px;
        margin-right: 10px;
        line-height: 100%
    }
    .dropdown {
        line-height: 13px;
        button{
            font-size: 12px;
            padding: 0px;
            margin-right: 10px;
        }
        .dropdown-menu {
            padding: 10px;
            a {
            padding: 5px 0px;
        }
        }
    }
    
}

.editor-module {
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    .dx-htmleditor {
        border: none;
    }
    .vue-dropzone {
        border-radius: 30px;
        background: #e5e5e5;
    }
    .ql-editor {
        img {
            width: auto;
            max-width: 100%;
            }
    }
}
blockquote, .dx-htmleditor-content blockquote {
   background: RGB(255, 244, 202);
   margin: 0;
   color: RGB(55, 55, 55);
   min-height: 1em !important;
   padding: 6px 6px 6px 24px;
   border: 1px solid RGB(192, 192, 192);
   border-image: initial;
   border-radius: 2px;
   margin: 0.6em 0px 0.8em;
}
.togle-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 99;
    button {
        background: url('https://dev.team.teqtop.com/img/drop-icon.svg');
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: center;
        &:after{
        display:none;
        }
        &:focus{
            outline:none;
            box-shadow:none;
        }
    }
    .dropdown-menu {
        min-width: 120px;
        a {
            font-size: 13px;
            padding: 7px 10px;
        }
    }
}
.drive-active{
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #ffb40038;
    }
}
.drive-box{
    &:hover{
    	background: #ffb40038;
    	outline:none;
    }
}
.action-btns {
    display: flex;
    i {
        font-size: 18px;
        margin: 0px 4px;
        cursor:pointer;
        transition:0.3s all ease-in-out;
        &:hover{
            opacity:0.7;
        }
    }
    a{
        line-height: 14px;
        margin: 0px 3px;
    }
}
.danger-txt {
    color: red;
}
.primary-txt {
    color: #001d4a;
}

.cust-tesks-table{
    .table-responsive {
        overflow-y: hidden;
    }
    .table-hover{
        th{
            &:nth-child(5){
                width: 170px;
            }
            &:nth-child(2){
                width: 120px;
            }
            &:nth-child(4){
                width: 110px;
            }
            &:nth-child(7){
                width: 120px;
            }
        }
    }
}
.table-striped{
  .text-info {
      color: #000 !important;
  }
}
.custom-tabs-sec {
    background: #f5f5f5;
    padding: 10px;
  .nav-pills {  
    margin-bottom: 20px; 
    .nav-link {
        background: #001d4a;
        color: #fff;
        transition:0.8s all ease-in-out;
    }
    .active {
        background: #ffb400;
            color: #000;
    }
        li {
            margin-right: 5px;
        }
  }
    input[type="file"]{
        padding: 3px;
    }
}

.login-logo{
  img {
      max-width: 150px;
  }
}
.site-logo-sidebar {
  img {
    max-width: 100px;
  }
}
.c-sidebar-minimized {
    .site-logo-sidebar {
        img {
            max-width: 45px;
        }
    }
}
.btn-primary {
        color: #fff;
        background-color: #001d4a;
        border-color: #001d4a;
        transition:0.3s all ease-in-out;
        &:hover, &:focus, &:active{
            opacity:0.7;
            color: #fff !important;
            background-color: #001d4a !important;
            border-color: #001d4a !important;
        }

}
.dropdown{
    .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #001d4a;
        border-color: #001d4a;
        &:hover{
            opacity:0.7;
            color: #fff;
            background-color: #001d4a;
            border-color: #001d4a;
        } 
    }
}
.btn-secondary{
    transition:0.3s all ease-in-out;
    &:hover{
        opacity:0.7;
    }
}

a {
    color: #001d4a;
    &:hover{
        color: #001d4a;
        opacity:0.7;
    }
}

.c-sidebar{
    .c-sidebar-nav-link{
        font-size: 13px;
        &:hover{
            color: #fff;
            background: #001d4a;
        }
    }
    .c-sidebar-nav-dropdown-toggle{
        &:hover{
            color: #fff;
            background: #001d4a;
        }
    }
    .c-sidebar-nav-dropdown{
        &:hover{
            color: #fff;
            background: #001d4a;
        }
    }
}
.c-header-nav {
    flex: 0 0 420px;
    display: flex;
    justify-content: flex-end;

     .c-header-nav-item .c-header-nav-link{
     	a{
     		padding-right: 9px;
     	}
     }
    .top-header-sec{
    b {
        display: inline-block;
        font-size: 13px;
        line-height: 100%;
        margin: 0px 6px;
        font-weight: 500;
    }
    }
}

.modal-notification {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    max-width: 81%;
    width: 100%;
    z-index: 9999;
    background: #fff;
    transition: 0.4s all ease-in-out;
    transform: translate(120%, 0);
    .close-notification {
        position: absolute;
        left: -110px;
        background: #001d4a;
        width: 110px;
        height: 35px;
        opacity: 1;
        font-size: 24px;
        top: 10px;
        border-radius: 30px 0px 0px 30px;
        color: #fff;
        text-shadow: none;
        line-height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        button {
            color: #fff;
            opacity: 1;
        }
        span {
        font-size: 15px;
        margin-left: 5px;
    }
    }
    .notification-desc {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

} 
.active {
        transform: translate(0%, 0);
    }
.user-profile-outer {
    display: flex;
    align-items: center;
}
.download-file {
    z-index: 999999999999;
    background: #001d4a;
    width: 100%;
    position: fixed;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        background: #fff;
        border: none;
        color: #000;
        padding: 6px 18px;
        border-radius: 4px;
        transition: 0.4s all ease-in-out;
        &:hover{
            background: #000;
            color: #fff;
            text-decoration:none;
        }
    }
}
.modal.fade {
    transition: opacity .0s linear !important;
}
.modal.fade:not(.show).left .modal-dialog {
    -webkit-transform: translate3d(-125%, 0, 0);
    -ms-transform: translate3d(-125%, 0, 0);
    -o-transform: translate3d(-125%, 0, 0);
    transform: translate3d(-125%, 0, 0);
}
.modal.fade:not(.show).right .modal-dialog {
    -webkit-transform: translate3d(125%, 0, 0);
    -ms-transform: translate3d(125%, 0, 0);
    -o-transform: translate3d(125%, 0, 0);
    transform: translate3d(125%, 0, 0);
}
.task-notification {
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #f1f1f1;
}

.outer-task-notific {
    .col-xl-1 {
        width: 4%;
        flex: 0 0 4%;
        
    }
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
        &:nth-child(odd){
            background: #fbfbfb;
        }
    .chat-notification {
        h4 {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 3px;
        }
        p {
		    color: #666;
		}
        a{
        	transition:0.4s all ease-in-out;
            color: #0069c4;
        	&:hover{
        		text-decoration:underline;
        		opacity:1;
        		color: #0069c4;
        	}
        }
    }
}.notification-backdrop {
    background: RGBA(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1111;
}
.task-backdrop{
 background: RGBA(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}
a:not([href]) {
    cursor: pointer;
    color: #001d4a;
}
.sidebar-section {
    .info-div{
        cursor:pointer;
        transition:0.4s all ease-in-out;
        &:hover{
            background: #f5f5f5;
        }
    }
    .left-sec {
        font-size: 14px;
    }
    .right-sec {
        text-align: right;
        font-size: 15px;
        padding: 0px 10px;
    }
    .birthday_section{
    	.info-div{
    	  	&:hover{
    	  	    background: #f5f5f5;
    	  	} 
            .left-sec{
               flex: initial;
               font-size: 15px;
               .small-rounded-img{
                    margin-right: 11px;
               }
               .small-rounded-img img{
                    width: 48px;
                    height: 48px;
               } 
               .birthday-name{
                   color: #46546c;
                   cursor: pointer;
                   font-size: 14px;
                   font-weight: bold;
               }
               .span-birth {
                    color: #a77807;
                    font-weight: 500;
                    margin-left: 4px;
                    display: inline-block;
                }          
                svg.c-icon{
                    color: #a77807;
                    margin-bottom: 5px;
                }
                .birthday-date {
                    color: #80868e;
                }

            } 	
    	}
    	.active{
    		background: #ffb40026;
    	}

    	

    }

}
.dashboard-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .input-group {
        max-width: 300px;
        span{
            background: #fff;
            height: 38px;
            &:last-child {
                border-radius: 0px 20px 20px 0px;
            }
        }
        input{
            background: #fff;
            height: 38px;
            border-radius: 20px 0px 0px 20px;
        }
    }
}
.feeds-listing {
    .feed-user-det {
        display: flex;
        justify-content: space-between;
        h4 {
            font-size: 17px;
            margin-bottom: 4px;
            span {
                margin-left: 10px;
                font-size: 11px;
            }
        }
        p{
            font-size: 11px;
            font-weight: 500;
        }
        .custom-menu-btn{
            button{
                font-size: 30px;
                padding: 0px;
                line-height: 100%;
                height: auto;
                display: inline-block;
            &:after{
                display:none;
                }
            }
        }
    }
    
    .more-icons {
        margin: 10px 0px 0px;
        a{
            color: #9a9898;
            display: flex;
            align-items: center;
            span{
                margin-right: 4px;
            }
        }
        .active {
            color: #001d4a;
            font-weight: bold;
        }
    }
}
.feed-comment-section{
    .comment-field{
        a {
            width: 100%;
            display: inline-block;
            margin: 10px 0px;
            border-radius: 20px;
            padding: 10px 20px;
            border: 1px solid #ccc;
            color: #ccc;
        }
        .editor-icons{
        a{
            width: auto;
            display: inline-block;
            margin: 0 8px 0px 0px;
            border-radius: inherit;
            padding: 0;
            border: none;
        }
        }
    }
}
.feed-field-section {
    border-radius: 40px;
        .feed-textfield {
        font-size: 18px;
        font-weight: 400;
        color: #ccc;
    }
}
.btn:focus, .btn.focus {
    box-shadow: none;
}
.hide {
    display: none !important;
}
.no-feeds-sec {
    text-align: center;
    font-size: 20px;
    color: #9a9898;
}

.task-loader{
     z-index: 999999999 !important;
}
.loader-image {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    top: 0;
    left: 0;
    right: 0;
    background: RGB(0 0 0 / 44%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 90px;
        }
}
.viewer-outer {
    flex-wrap: wrap;
}
.swal2-container {
    z-index: 999999999 !important;
}
.dx-overlay-wrapper {
    z-index:99999999 !important;
}
.viewer-container{
    z-index: 999999999 !important;

}
.img-loader {
    max-width: 26px;
    margin-left: 6px;
}
.description-sec {
    img{
        max-width: 100%;
        width: auto;
    }
}
.page-item.active {
    .page-link {
        color: #fff;
        background-color: #001d4a;
        border-color: #001d4a;
        transition: 0.4s all ease-in-out;
    }
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem RGBA(81, 65, 224, 0);
}
.img-100 {
    img
    {
        max-width: 100% !important;
        width: auto !important;
    }
}
.dropdown-back-btn{
    display: flex;
    button {
        margin-left: 5px;
    }
} 
#templateEditor {
    .ql-editor {
        height: 400px;
        }
}
.search-result-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .form-group {
        width: 100%;
        input {
            border-radius: 30px;
            &:focus{
            box-shadow:none;
            }
        }
    }
    .global-search-close {
        position: absolute;
        right: 11px;
        top: 6px;
    }
    .global-search-result {
        position: absolute;
        background: #fff;
        top: 35px;
        width: 100%;
        z-index: 99;
        border: 1px solid #f5f5f5;
        padding: 10px;
        max-height: 90vh;
        overflow-y: auto;
        .search-result-outer {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
        .search-main-title {
            margin-bottom: 8px;
            flex: 0 0 100%;
            background: #001d4a;
            padding: 3px 8px;
            color: #fff;
            font-weight: 600;
        }
        .searchdata-list {
            flex: 0 0 50%;
            padding: 0px 5px;
            a {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                border-radius: 24px;
                margin: 5px 0;
                transition: 0.4s all ease-in-out;
                padding: 7px;
                font-size: 13px;
                &:hover{
                    background: #ffb40026;
                    text-decoration:none;
                }
                .small-rounded-img {
                    margin-right: 10px;
                }
                span{
                    flex: 0 0 100%;
                    max-width: calc(100% - 50px);
                }
            }
        }
    }
}
input, button {
    &:focus{
    box-shadow:none !important;
    }
}
.my-drive {
    display: flex;
    align-items: center;
    max-width: 67%;
    h4 {
        margin-bottom: 0;
        margin-right: 10px;
        font-size: 14px;
        flex: 0 0 80px;
    }
    p {
        font-size: 14px;
        font-weight: 600;
    }
}

.dropdown-back-btn{
    .dropdown-menu{
        padding: 0px;
        form, button{
        padding: 5px 16px;
        margin: 0;
        width: 100%;
        text-align: left;
        background: transparent;
        border-radius: 0;
        transition: 0.4s all ease-in-out;
        &:hover{
            background:#001d4a;
            color:#fff;
        }
        }
    }
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}

.document-form {
    label {
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    img {
        display: block;
        width: auto;
        max-width: 100%;
    }
    a {
        margin: 10px 0px;
    }
}
.input-group-text {
    cursor: pointer;
}
.add-profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit:cover;
}

.view-item-icon {
    img {
        max-width: 21px;
    }
}
.is_active_div {
    display: flex;
    input {
        width: auto;
        height: auto;
        display: inline-block;
    }
    label {
        margin-right: 7px;
    }
}

.c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-link {
    background: #001d4a;
    width: auto;
}

.no-notification {
    h4 {
        text-align: center;
        font-size: 27px;
        margin-top: 110px;
        font-weight: bold;
    }
}
.error-msg-ico {
    img {
        max-width: 20px;
    }
}
.dropbox-def-txt {
    img {
        max-width: 30px;
    }
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
    background-color: #001d4a;
}
.disk-folder-list-no-data-inner-message {
    text-align: center;
    flex: 0 0 100%;
    font-size: 22px;
    margin: 50px 0px 40px 0px;
}
.disk-folder-list-no-data-inner-variable {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}
.drive-folder-outer {
    background: #ffb40026;
    padding: 60px 20px;
    flex: 0 0 40%;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.4s all ease-in-out;
    cursor:pointer;
    position:relative;
    &:hover {
        background: #ffb4007d;
    }
    svg {
        margin-right: 10px;
        height: 40px !important;
        width: 40px !important;
    }
    .file-outer {
        position: absolute;
        width: 100%;
        padding: 0px;
        top: 0;
        left: 0;
        input{
            height:160px;
            cursor: pointer;
        }
    }
}

.btns-header {
    display: flex;
    .task-view-folder {
        display: flex;
        align-items: center;
        svg {
            margin-right: 4px !important;
        }
    }
}
.drive-folder {
	.modal-dialog {
	    max-width: 450px;
	}
	.modal-header {
	    background: #001d4a;
	}
}
.no-zip-popup {
	.modal-header {
	    display: none;
	}
	.modal-body {
	    text-align: center;
	    font-size: 25px;
	    padding: 40px 10px;
	}
}
.card-logo{
	background: #001d4a;
}

.user-view-sec {
	.card-header {
	    padding: 5px 10px;
	    background: #001d4a;
	    color: #fff;
	    font-size: 15px;
	    font-weight: 600;
	}
	.user-info-section {
		.inner-sec {
		    padding: 10px 10px;
		    font-size: 15px;
		    background: #f5f5f5;
		    margin: 10px 0px;
		    border-radius: 4px;
		    .inner-sec span {
			    margin-right: 10px;
			}
		}
	}
	.col-7 {
	    padding-left: 5px;
	}
	.col-5 {
	    padding-right: 5px;
	}
	.user-profile-pic {
		img {
		    height: 303px;
		    width: 303px !important;
		    margin: 0 auto;
		    display: block;
		    border-radius: 50%;
		    object-fit: cover;
		    border: 5px solid #f5f5f5;
		}
	}
}

.vue-lb-figure {
	video{
		max-height: 450px;
	}
}
.show-img-full {
	display: flex;
    flex-wrap: wrap;
	a {
	    color: #3270e4 !important;
	}
}

.custom-menu-btn{
	.dropdown-menu {
		svg {
		    margin-right: 4px;
		} 	
	}
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #001d4a;
}

.notification-item-date {
    float: right;
    color: #887777;
    font-size: 13px;
}
.dropdown-header {
    background: #001d4a !important;
    color: #fff;
}
.top-header-sec {
	.dropdown-menu {
	    padding-bottom: 0px;
	    .dropdown-item{
			transition: 0.4s all ease-in-out;
			&:hover {
			    background: #001d4a;
			    color: #fff;
			    opacity: 1;
			}
		}
	}
	
}
.notification-item-name {
    font-weight: 500;
    color: #001d4a;
    text-transform: capitalize;
}

blockquote {
    margin: 0px;
    padding: 1px 10px;
    line-height: 100%;
    margin-right: 5px;
}
.outer-box {
	iframe {
	    height: 400px;
	}
}
.files-names {
	p {
	    background: #ffb40026;
	    padding: 7px;
	    margin: 5px 0px;
	}
    a {
        background: #ffb40026;
        padding: 7px;
        margin: 5px 0px;
        color: #3c4b64;
        display: inline-block;
        width: 100%;
        transition:0.4s all ease-in-out;
        &:hover{
            color: #3c4b64;
            opacity:1;
        }
    }
}

.main-files-listing {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    a{
    	background: #ffb40026;
	    padding: 7px;
	    margin: 5px 0px;
	    display: block;
	    font-weight: 600;
    	font-size: 12px;
    }
}
.remove-extrarow-padding {
	.col-8 {
	    padding-right: 4px;
	}
	.col-4 {
	    padding-left: 4px;
	}
}
.viewer-zoom-in,.viewer-zoom-out, .viewer-one-to-one, .viewer-reset, .viewer-rotate-left, .viewer-rotate-right, .viewer-flip-vertical, .viewer-flip-horizontal {
display: none;
}
.dashboard-feed-editor {
    .files-names {
        p {
            font-size: 12px;
           display: flex;
           justify-content: space-between;
        }
    }
}

// report modal
.report-modal{
	.modal-info .modal-dialog{
	   position: absolute;
	   right: 162px;
	   top: 30px;
	   width: 100%;
	   transition: none !important;
	   .modal-content{
		    border-color: #303c54;
			box-shadow: 0 7px 21px rgba(83,92,105,.12), 0 -1px 6px 0 rgba(83,92,105,.06);
			  &:before{
			    content: '';
			    background-color: #303c54;
			    width: 24px;
			    height: 24px;
			    transform: translateX(-50%) rotate(45deg);
			    position: absolute;
			    left: 88.5%;
			    top: -10px;
                display: none;
			   }
		       .close{
		        	color: #fff;
					opacity: 1;
		        }
            .modal-header{
                background-color: #303c54;
            }
	    }
	}
	.modal-backdrop{
	   background-color: #00001500;
	}
}

.tooltip-img {
    img {
        width: 20px !important;
        height: 20px !important;
    }
}
.pointer {
    cursor: pointer;
}
.popover-old-body {
    max-height: 240px;
    overflow-y: auto;
}

.likeuser-section-values > div {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    b {
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
    }
    .popup-left {
        flex: 0 0 20px;
        .pro-img {
            width: 20px;
            height: 20px;
        }
    }
    .popup-right {
        max-width: calc(100% - 30px);
        flex: 0 0 100%;
        text-align: left;
        padding-left: 10px;
    }
}   

.popper {
    max-width: 170px;
    width: 100% !important;
    .header-box-like {
        text-align: left;
        padding: 5px;
        border-bottom: 1px solid #ccc;
        span {
            margin-left: 3px;
        }
    }
}
.likeuser-feed-list {
    max-height: 180px;
    overflow-y: auto;
}


.notification-a {
    position: relative;
    .badge {
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        margin-left: -4px !important;
    }
}
.form-control{
    &:focus {
    box-shadow: 0 0 0 0.2rem transparent;
    border-color: #303c54;
}
}
.feed_countt {
    background: #303c54;
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
    margin-left: 8px;
    font-weight: bold;
}
.bottom-row-filter {
    border-top: 1px solid #ccc;
    padding-top: 16px;
    select {
        max-width: 180px;
    }
}
.cust-tesks-table {
    table {
        th{
            &:first-child{
                div, svg{
                    display:none;
                }
            }
        }
        input[type="checkbox"] {
            zoom: 1;
            transform: scale(1.4);
        }
    }
}
.outer-drag-drop {
    width: 100%;
    height: 100%;
    border: 2px dashed #949494;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 9999;
    background: RGB(255 255 255 / 80%);
    .inner-drop{
        flex: 0 0 100%;
        h2, p{
            text-align: center;
        }
        input {
            position: absolute;
            background: red;
            height: 100%;
            top: 0;
            width: 100%;
            opacity: 0;
        }
    }
}


.dataTables_paginate  {
    margin-top: 10px;
    a {
        padding: 4px 10px;
        display: inline-block;
        color: #000;
        transition: 0.4s all ease-in-out;
        border: 1px solid #ccc;
        &:hover {
            background-color: #d8dbe0;
            border-color: #c4c9d0;
        }
    }
    .previous {
        border-radius: 4px 0px 0px 4px;
    }
    .next {
        border-radius: 0px 4px 4px 0px;
    }
    .current {
        background: #001d4a;
        color: #fff !important;
        border-color: #001d4a !important;
    }
    .disabled {
        cursor: default !important;
        opacity:0.7;
        &:hover{
            background:transparent;
            opacity:0.7;
        }
    }
}
.dataTables_filter {
    input {
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        background-clip: padding-box;
        border: 1px solid;
        color: #768192;
        background-color: #fff;
        border-color: #d8dbe0;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        margin-left: 10px;
    }
}
.progress-bar-outer {
    background: #f5f5f5;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    .inner-progress {
        background: #fdb300;
        height: 30px;
        transition: 0.4s all ease-in-out;
    }
    p {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
}
.drive-upload {
    .modal-content {
        border-color: #001d4a;
        .modal-header {
            background: #001d4a;
            .close {
                color: #fff;
                opacity: 1;
            }
        }
        .modal-body {
            padding: 50px 20px;
            .outer-drag-drop {
                top: -60px;
                height: 258px;
                left: 0;
            }
        }
        .modal-footer {
            border: none;
        }
    }
    .modal-backdrop {
        z-index: 9999;
    }
    .modal{
        z-index:99999;
    }

    

}
.name-task {
    color: #4f5d73 !important; 
    &:hover {
        color: #001d4a !important; 
        opacity: 1 !important;
    }
}
.custom-list-dropdown {
    .dropdown {
        display: block;
    }
    .dropdown-toggle {
        &:after {
        display: none;
        }
        img {
        max-width: 25px;
        }
    }
    .dropdown-menu {
        min-width: 8rem;
        svg, img {
            margin-right: 7px;
        }
    }
}
.c-sidebar {
    flex: 0 0 180px;
    width: 180px;
}
html {
    &:not([dir=rtl]) {
        .c-sidebar.c-sidebar-lg-show {
            &:not(.c-sidebar-right).c-sidebar-fixed {
                ~ {
                    .c-wrapper {
                        margin-left: 180px;
                    }
                }
            }
        }
        .c-sidebar.c-sidebar-show {
            &:not(.c-sidebar-right).c-sidebar-fixed {
                ~ {
                    .c-wrapper {
                        margin-left: 220px;
                    }
                }
            }
        }
    }
}
.table-manage-user {
    a {
        transition: 0.4s all ease-in-out;
    }
}
vue-dropzone {

    .dz-remove {
        position: absolute;
        z-index: 30;
        color: #fff;
        margin-left: 15px;
        padding: 10px;
        top: 0;
        bottom: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 800;
        letter-spacing: 1.1px;
        opacity: 0;
        height: 34px;
        width: 26px;
        overflow: hidden;
        right: 8px;
        /* padding: 29px; */
        overflow: hidden;
        box-sizing: border-box;
        color: #4dabf5;
        &:after {
            content: "";
            background: url(/img/delete.png);
            width: 20px;
            height: 22px;
            position: absolute;
            top: 5px;
            right: 0;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}
:focus{
    outline:none !important;
}
.comment-section-field {
    padding-bottom: 20px;
}

.table-responsive {
    overflow-x: hidden;
}
.showmore-button {
    text-align: center;
    border-bottom: 1px solid #ccc;
    p {
        background: whitesmoke;
        width: auto;
        display: inline-block;
        padding: 3px 23px;
        border: 1px solid #ccc;
        border-bottom: 0px;
        position: relative;
        top: 1px;
        border-radius: 15px 15px 0px 0px;
        line-height: 100%;
        cursor:pointer;
        img {
            max-width: 12px;
        }
    }
    .less-ico {
        transform: rotate(180deg);
        border-radius: 0 0 15px 15px;
        border-top: 0px;
        border-bottom: 1px solid #ccc;
    }
}
.btn-back-drive {
    button {
        svg {
            margin: 0px 5px 0px 0px !important;
        }
    }
}
.main-title-task{
    display: flex;
    line-height: 100%;
    .project-name {
        font-size: 14px;
        margin-left: 6px;
        max-width: 870px;
    }
    button{
        margin-left:auto;
        height:37px;
    }
}
.leave-status {
    flex: 0 0 90%;
    padding-left: 10px;
}
.chat-outer-module{
    padding: 0px 10px;
    .chat-text-inner {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px;
        .text-chat {
            max-width: calc(90% - 45px);
            margin-left: 7px;
            background-color: #fbfbfb;
            border: 1px solid #dedede;
            transition: background 2s,border 2s,box-shadow .5s;
            padding: 8px 10px;
            border-radius: 10px;
            .time-chat {
                text-align: right;
                p {
                    font-size: 11px;
                    font-weight: 600;
                    color: #636363;
                    span {
                        margin-left: 5px;
                    }


                }
            }
            img {
                max-width: 300px;
                width: auto;
                margin-bottom: 5px;
                border-radius: 7px 7px 0px 0px;
            }
            .download-img-chat {
                font-size: 12px;
                transition: 0.3s all ease-in-out;
            }
            .file-zip-chat {
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
    .my-chat-outer {
        .chat-text-inner {
            justify-content: flex-end;
            .text-chat{
                margin-right: 7px;
                margin-left: auto;
                background: #ffb40038;
            }
        }
    }
}
.outer-top-chat {
    display: flex;
    align-items: center;
    h4 {
        margin-left: 10px;
        .user-name-chat {
            font-size: 14px;
            text-transform: capitalize;
        }
        
    }
}
.chat-right-section {
    header {
        padding: 10px;
        margin-bottom: 5px;
        background: #fbfbfb;
    }
}
.chat-left-section {
    header {
        padding: 10px;
        margin-bottom: 5px;
        background: #fbfbfb;
        h4{
            font-size: 15px;
        }
    }
    .info-div {
        padding: 7px 0px;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        .user-chat-left {
            margin: 0 !important;
            font-size: 13px;
            text-transform: capitalize;
            position: relative;
            display: inline-block;
        }
    }
    .active {
        background: #ebedef;
    }
    .chat-search-box {
        position: relative;
        .form-group {
            margin-bottom: 0;
        }
        .global-search-close {
            svg {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
    }
}

.pos-name-chat {
    font-size: 12px;
    font-weight: 400 !important;
    font-style: italic;
    margin: 0px !important;
}
.remove-chatrow-padding {
    height: calc(100vh - 190px);
    overflow: hidden;
    .col-lg-9 {
        padding-left: 4px;
    }
    .col-lg-3 {
        padding-right: 4px;
    }
    .chat-outer-module {
        max-height: 59vh;
        overflow-y: auto;
        height:100%;
        overflow-x: hidden;
        padding-bottom: 85px;
        
    }
    .info-section{
        max-height: calc(100vh - 270px);
        overflow-y: auto;
        height:100%;
    }
    .chat-message-field {
        position: absolute;
        bottom: 24px;
        background: #fff;
        max-width: calc(100% - 30px);
        width: 100%;
        .dx-widget{
            border-radius: 5px;
            position:relative;
            max-width: calc(100% - 95px);
            font-size:12px;
        }
        .btn-chat {
            position: absolute;
            bottom: 18px;
            right: 4px;
            padding: 3px 5px;
            border-radius: 21px;
            background: #ffb400;
            border-color: #ffb400;
            height: 30px;
            width: 80px;
            &:hover, &:focus{
                background: #ffb400 !important;
                border-color: #ffb400 !important;
            }
        }
        .btn-chat-send {
            top: 3px;
        }
        .btn-chat-cancel {
            background: #ff5656 !important;
            &:hover, &:focus{
                background: #ff5656 !important;
                border-color: #ff5656 !important;
            }
        }

    }
    input.file-chat-input {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
    }
}
.employee-docs-tab {
    .nav-pills {
        a {
            background: #ccc !important;
            color: #000 !important;
            font-size: 11px;
            margin: 0px !important;
        }
        .active{
            background: #ffb400 !important;
        }
    }
}
#reports_table {
    th{
       &:nth-child(3) {
            width: 160px !important;
        } 
    }
}
.img-with-svg {
    p {
    position: relative;
    svg {
        position: absolute;
        top: 14px;
        right: 12px;
        color: #fff;
        font-weight: bold;
        }
    }
}
table.dataTable thead {
    .sorting {
      background-image: url(/images/sort_both.png);
      background-repeat: no-repeat;
      background-position: center right;
    }
    .sorting_asc {
      background-image: url(/images/sort_asc.png);
      background-repeat: no-repeat;
      background-position: center right;
    }
    .sorting_desc {
      background-image: url(/images/sort_desc.png);
      background-repeat: no-repeat;
      background-position: center right;
    }
}
.chat-no-data {
    padding: 20px;
    text-align: center;
    font-size: 27px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    p {
        color: #909090;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100px;
        }
    }
}
.chat-edit-btn {
    button{
        padding: 0px !important;
        margin-right: 30px;
        font-size: 12px;
    }
    .dropdown-item {
        padding: 3px 10px;
        font-size: 12px;
    }
}
.chat-dropper {
    height: 59vh;
    max-width: 98%;
}

.chat-no-user {
    text-align: center;
    width: 100%;
    padding-top: 9px;
}
.no-chat-message {
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    .no-message-txt {
        font-size: 23px;
    }
}
.inbox-loader-image {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
     img {
        max-width: 90px;
        margin-top: -45px;
        }
}
.message-loader {
    img {
        max-width: 23px;
        position: absolute;
        top: 7px;
        right: 105px;
    }
}
.dx-htmleditor-content {
    font-weight: 400;
    p{
        font-weight:600;
    }
}
.user-notify-chat {
    position: absolute;
    top: 0;
    right: 12px;
    background: #f6b300;
    width: 18px;
    height: 18px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #000;
    font-weight: 600;
}
.daterangepicker.show-calendar {
    .ranges {
        display: none;
    }
}
.daterangepicker.show-ranges {
    min-width: 500px !important;
}
.user_logindiv {
    width: 7px !important;
    height: 7px !important;
    border-radius: 60%;
    position: absolute;
    top: 6px;
    right: -12px;
}
.onlineuser {
    border: 4px solid #00d800;
}
.offlineuser {
    border: 4px solid #ff5050;
}
.dz-remove {
            position: absolute;
    z-index: 30;
    color: #fff;
    margin-left: 15px;
    padding: 10px;
    top: 0 !important;
    bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 1.1px;
    opacity: 0;
    height: 32px;
    width: 26px;
    overflow: hidden;
    right: 8px;
    /* padding: 29px; */
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #4dabf5 !important;
    border: none !important;
        &:after {
            content: "";
            background: url(/img/delete.png);
            width: 20px;
            height: 22px;
            position: absolute;
            top: 5px;
            right: 0;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    .view-task-modal {
        z-index: 99999;
    }
    
.latest-project-section {
   .info-div {
       display: flex;
       flex-wrap: wrap;
       .project-number {
           flex: 0 0 20px;
           font-size: 16px;
           font-weight: 600;
       }
       .project-sec {
           max-width: 100%;
           font-weight: 600;
       }
   }
}
@-moz-document url-prefix()  {
.chat-outer-module {
    max-height: 44vh !important;
}
}