body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px !important;
    line-height: 21px;
    font-weight: 500;
}
p {
     font-weight: normal;
    font-style: normal;   
}
ul, li{
	margin:0;
	padding-left: 0;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6{ 
	margin: 0;
	padding: 0;
}
a{
	color: inherit;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
img {
    max-width: 100%;
}
/*main css*/
.main-btn {
    background: #5584B0;
    padding: 8px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 35px;
    display: inline-block;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.main-btn:hover {
    color: #ffffff !important;
    background: #000000;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
}
.main-heading-div {
    border-bottom: 2px solid #5584b0;
    margin-bottom: 33px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.main-heading {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    background: #5584B0;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 16px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.main-heading-div select {
    background: #F6F6F6;
    border: 0;
    border-radius: 35px;
    min-width: 120px;
    padding: 5px 9px;
    line-height: initial;
    height: auto;
    font-size: 14px;
}
.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgb(85 132 176);
}
.load-more {
    background: #F6F6F6;
    border: 0;
    border-radius: 35px;
    color: #5584B0;
    font-size: 18px;
    padding: 12px 8px;
    font-family: 'Ubuntu', sans-serif;
}

/*latest video sec*/
.latest-video-sec {
    padding: 38px 0px;
}
.video-col {
    position: relative;
}
.video-col video {
    height: 250px;
    object-fit: cover;
    border-radius: 27px;
}
.video-col .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-content .video-title {
    color: #85C1E5;
    font-size: 20px;
    padding-left: 24px;
    margin-top: 5px;
}

/*recipes-sec*/
.recipes-sec {
    padding: 38px 0px;
}
.recipe-title {
    color: #85C1E5;
    font-size: 20px;
    padding-left: 24px;
    margin-top: 14px;
     -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;   
}
.recipe-col .recipe-div {
    overflow: hidden;
    border-radius: 27px;
    background: black;
}
.recipe-col .recipe-div img {
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.recipe-col:hover .recipe-div img {
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    transform: scale3d(1.2, 1.2, 1.2);
    opacity: 0.7;
}
.recipe-col:hover .recipe-title {
    color: #000000;
}

/**********pages***********/
.page-banner {
    background: url(images/recipe-banner.png);
    padding: 58px 0;
}
.page-banner .banner-content-box {
    background: #85C1E5;
    border-radius: 20px;
    max-width: 400px;
    padding: 15px 14px 10px 14px;
    color: #fff;
}
.page-banner .banner-content-box h2 {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 43px;
    margin-bottom: 7px;
}
.page-banner .banner-content-box h4 {
    font-size: 18px;
}

/**recipes page**/
.recipes-page-sec .recipe-col {
    margin-bottom: 44px;
}

