
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #13070C;
    overflow-x: hidden;
}
ul, li{
    margin:0;
    padding: 0;
    list-style-type: none;    
}
p{
    margin: 0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding:0; 
    font-family: 'Teko', sans-serif;     
}
img{
    max-width: 100%;
}
/*main*/
.main-heading {
    font-size: 40px;
    color: #301B4D;
    font-weight: bold;
    letter-spacing: 2.76px;
}

.purple-text{
    color: #301B4D;
}
.orange-text{
    color: #F2941C;
}
.white-text{
    color: #ffffff;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}

.yellow-bg{
    background: #f2941c;
}
.red-bg{
    background: #bf0d1f;
}
.purple-bg {
    background: #301B4D !important;
}
.main-btn {
    background: #BF0D1F;
    border-radius: 5px;
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    font-family: 'Teko', sans-serif;
    padding: 3px 20px 0px 20px;
    display: inline-block;
    text-decoration: none !important;
    line-height: inherit;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;    
}
.main-btn:hover {
    background: #000;
    color: #fff;
}
.black-btn {
    background: #000000;
    font-family: 'Montserrat', sans-serif;
    padding: 3px 20px 3px 20px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    font-size: 22px;
}
.black-btn:hover {
    background: #BF0D1F;
}


/*header*/
header.header {
    position: relative;
    z-index: 9;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;    
}

.header .navbar .container {
    border-bottom: 1px solid #313a65;
    padding: 0;
}
.header .navbar {
    background: transparent;
}
.header .navbar a {
    color: #fff;
}
.header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition: all 0.3s ease 0s;
    font-family: 'Teko', sans-serif;
    padding: 1px;
    position: relative;
    z-index: 9;
}
.header .navbar-light .navbar-nav .nav-link.active:before {
    position: absolute;
    content: "";
    border-bottom: 4px solid #f2941c;
    bottom: 9px;
    left: 0;
    height: 2px;
    width: 100%;
    z-index: -1;
}
.header.fixed--header {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
    top: 0;
    box-shadow: 0px 0px 26px 4px rgb(0 0 0 / 39%);
    -webkit-box-shadow: 0px 0px 26px 4px rgb(0 0 0 / 39%);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.39);
}
.header.fixed--header .navbar {
    background: black;
    box-shadow: 0px 0px 26px 4px rgb(0 0 0 / 39%);
    -webkit-box-shadow: 0px 0px 26px 4px rgb(0 0 0 / 39%);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.39);    
}
.header.fixed--header .container {
    border-bottom: 0px solid #313a65;
}
/**/
.header .navbar .nav-item {
    padding-left: 22px;
}
.header .navbar-light .navbar-nav .nav-link:hover{
    color: #fbba00;
}
.header .nav-item .dropdown-menu {
    padding: 0px;
    margin-top: 10px;
    border-radius: 10px;
}
.dropdown-menu.features-dropdown:before {
    content: "";
    position: absolute;
    top: 0%;
    pointer-events: none;
    left: 50%;
    border-width: 9px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    transform: translate(-50%, -100%) rotate(180deg);
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
}
.header .nav-item .dropdown-menu a {
    color: #313131;
    font-size: 13px;
    padding: 20px 10px;
    white-space: inherit;
}
.header .nav-item .dropdown-menu a:hover {
    background: #f1f0f0;
}
.header .nav-item .dropdown-menu img {
    width: 35px;
    margin-right: 7px;
}
.header .nav-item .dropdown-menu a.active, .header .nav-item .dropdown-menu a:active {
    color: #fff;
    text-decoration: none;
    background-color: #e52a71;    
}
.header .nav-item .dropdown-menu a.focus{
    outline: none;
 }

.features-dropdown {
    width: 630px;
    padding: 15px 15px !important;
    -webkit-transform: translate(-43%, 0);
    -ms-transform: translate(-43%, 0);
    transform: translate(-43%, 0);
}
.features-dropdown .dropdown-content {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
.features-dropdown .dropdown-content h5 {
    font-size: 17px;
}
.features-dropdown .col-md-6:first-child {
    border-right: 1px solid #dcd6d6;
}

/*banner-sec*/
.banner-sec {
    background: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -82px;
    padding-top: 82px;
    padding-bottom: 145px;
    position: relative;
}
.banner-sec .banner-content {
    margin-top: 85px;
}
.banner-sec .banner-content h2 {
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-sec .banner-content p {
    margin-bottom: 30px;
    background-color: #000;
    border-radius: 10px;
    padding: 11px 17px;
}
.banner-sec .banner-img-col {
    position: absolute;
    top: 0;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 11px;
}

/*it-service-sec*/
.it-services-sec {
    background: url(../images/it-service-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    background-position: center;
}
.it-services-sec .main-heading {
    margin-bottom: 10px;
}
.it-services-sec .it-service-col {
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.it-service-col .icon-div {
    border-radius: 10px;
    margin-right: 20px;
}
.it-service-col .content-div h4 {
    color: #301B4D;
    font-weight: 300;
}
/*service-sec*/
.our-services-sec {
    background: url(../images/our-services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    position: relative;
    z-index: 9;
}
.our-services-sec .row .col-md-6, .our-services-sec .row .col-md-4{
    display: flex;
}
.our-services-sec .main-heading {
    margin-bottom: 35px;
}
.our-services-sec .content-div {
    width: 70%;
}
.service-col {
    background: #262D4E;
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 40px;
    position: relative;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.service-col:before {
/*    content: "";
    position: absolute;
    width: 98%;
    height: 106%;
    background: #BF0D1F;
    z-index: -1;
    border-radius: 20px;
    left: 50%;
    top: -3%;
    transform: translateX(-50%);*/
}
.service-col:before {
    opacity: 0;
    content: "";
    position: absolute;
    width: 95%;
    height: 108%;
    background: #BF0D1F;
    z-index: -1;
    border-radius: 20px;
    left: 50%;
    top: -4%;
    transform: translateX(-50%);
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.service-col:hover:before{
    opacity: 1;
}
.service-col .icon-div {
    border-radius: 10px;
    margin-right: 20px;
    width: 74px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.service-col .img-ttl {
    margin-bottom: 20px;
}
.service-col p {
    line-height: 27px;
    color: #F4F6F5;
}
.service-col .main-btn {
    margin-top: 13px;
}
/*features-sec*/
.features-sec {
    padding: 45px 0 45px 0;
}
.features-sec .col-lg-3 {
    padding: 0;
}
.features-sec .feature-content-box {
    margin-bottom: 36px;
}
.features-sec .main-heading p {
    max-width: 530px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 45px;
}
.features-sec .feature-image-box {
    text-align: center;
}
.features-sec .feature-image-box img {
    width: 87%;
}
.feature-image-box img {
    width: 100%;
}


/*.our-benefits-sec*/
.our-benefits-sec {
    padding: 20px 0px 45px 0px;
    background: #f5f5f5;
}
.our-benefits-sec .ben-box-row {
    position: relative;
}
.our-benefits-sec .ben-box-row:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../images/benifits-bg.png);
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    z-index: 0;
    background-size: 100%;
    background-position: 0px 0px;
}
.our-benefits-sec .benefits-box {
    text-align: center;
    padding: 0 20px;
}
.our-benefits-sec .benefits-box img {
    width: 120px;
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;   
}
.our-benefits-sec .benefits-box .ben-title {
    margin-top: 16px;
    margin-bottom: 4px;
}

/*testimonial sec*/
.our-clients-sec {
    background: url(../images/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 15px 0;
}
.our-clients-sec .testimonial {
    text-align: center;
    margin-top: 9px;
    margin-bottom: 34px;
}
.our-clients-sec .testimonial .description {
    color: #fff;
    font-size: 20px;
}
.our-clients-sec .owl-theme .owl-controls .owl-page span {
    background: rgb(109 109 109 / 48%);
    opacity: 1;
    margin: 4px 3px;
}
.our-clients-sec .owl-theme .owl-controls .owl-page.active span, .our-clients-sec .owl-theme .owl-controls .owl-page:hover span {
    background: #f2941c;
}
/*our-blog-sec*/
.our-blog-sec {
    background: url(../images/our-blog-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 60px 0;
    position: relative;
    z-index: 9;
}
.our-blog-sec .main-heading {
    margin-bottom: 48px;
}
.blog-col{
    display: flex;
}
.blog-wrap {
    background: #262D4E;
    border-radius: 12px;
    color: #fff;
    position: relative;
}
.blog-wrap .img-div {
    overflow: hidden;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}
.blog-wrap .img-div img {
    width: 100%;
}
.blog-wrap:before {
    opacity: 0;
    content: "";
    position: absolute;
    width: 95%;
    height: 106%;
    background: #BF0D1F;
    z-index: -1;
    border-radius: 20px;
    left: 50%;
    top: -3%;
    transform: translateX(-50%);
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.blog-wrap:hover:before {
    opacity: 1;
}
/*.small-blog-col .blog-wrap:before {
    content: none;
}*/
.blog-wrap .blog-content-col {
    padding: 14px 14px 70px 14px;
    /* min-height: 320px; */
}
.blog-wrap .blog-content-col .main-btn {
    margin-top: 28px;
    position: absolute;
    bottom: 16px;
}
.blog-wrap .blog-content-col h4 {
    font-size: 28px;
    line-height: 26px;
    margin-bottom: 8px;
}
.blog-wrap .blog-content-col h5 {
    font-size: 14px;
    margin-bottom: 12px;
}

/*grow blog*/
/*.row.grow-row {
    display: table;
    width: 100%;
    height: 100%;
}
.grow {
    display: table-cell;
    height: 100%;
    width: 33%;
    padding: 1%;
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    transition: width 500ms;
}
.row.grow-row:hover .grow {
    width: 25%;
}
.row.grow-row:hover .grow:hover {
    width: 50%;
}*/

/*our-partners-logos-sec*/
.our-partners-logos-sec {
    background: url(../images/our-partner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
}
.our-partners-logos-sec .main-heading {
    margin-bottom: 13px;
}
.logos-strip {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 37px;
}
.logos-strip .logo-col {
    width: 14%;
    margin-right: 2%;
}

/*our-projects-sec*/
.our-projects-sec {
    background: url(../images/our-projects-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    overflow: hidden;
}
.our-projects-sec .subtitle {
    margin-bottom: 8px;
}
.logos-strip {
    flex-wrap: wrap;
    justify-content: space-between;
}
.logos-strip .logo-col {
    width: 14%;
    margin-right: 2%;
}
.our-projects-sec .main-heading-div{
    max-width: 310px;
    margin-left: auto;
}
.projects-images-div {
    position: relative;
    right: 0px;
    flex-wrap: wrap;
    width: 110%;
}
.projects-images-div .projects-col {
    padding-right: 15px;
    width: 25%;
}
.our-projects-sec .main-heading {
    margin: 7px 0 2px 0;
}
/*contact-sec*/
.contact-sec {
    padding: 40px 0 30px 0;
    background: url(../images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-sec .main-heading {
    margin-bottom: 20px;
}
.contact-sec .contact-detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}
.contact-detail .contact-txt {
    width: 48%;
    margin-right: 2%;
    padding-bottom: 9px;
    padding-top: 4px;
}
.contact-sec .social-icons li {
    display: inline-block;
}
.contact-sec .social-icons li a {
    font-size: 20px;
    color: #301B4D;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 3px 10px 0 3px;
    transition: all 0.5s ease-in-out 0s;
}
.contact-sec .social-icons li a:hover {
    color: #f2941c;
}
.contact-detail-col {
    margin-bottom: 9px;
}
.contact-detail-col .social-icons {
    margin-top: 7px;
}
.copyright-block {
    margin-top: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
}
/*form*/
.contact-form-col .contact-form {
    margin-top: 10px;
}
.main-form .form-control {
    background: #E8E8E8;
    border-color: #E8E8E8;
}
.main-form .form-control:focus{
    box-shadow: 0 0 0 1px #fa830f66;
}
.main-form .main-btn {
    border: 0;
    margin-top: 10px;
}
.main-form .form-group {
    margin-bottom: 7px;
}


/**************pages***************/
/*main css*/
.page-banner-sec {
    padding: 145px 0 70px 0;
    background-image: url(../images/page-banner-bg.png);
    margin-top: -82px;
}
.page-banner-sec h1 {
    color: #f2941c;
    font-weight: bold;
    font-size: 58px;
}
/**/
.pages-top-info-sec {
    padding: 40px 0 40px 0;
     background: #F4F6F5;   
}
.pages-top-info-sec .subtitle {
    margin-top: 9px;
}
.white-text-sec p {
    color: #fff;
}
.services-with-btn-sec .service-col {
    padding: 20px 20px 70px 20px;
}
.services-with-btn-sec .service-col .main-btn {
    margin-top: 13px;
    position: absolute;
    bottom: 20px;
}
/**/
.simple-services-sec .services-simple-col {
    background: transparent;
    color: #000 !important;
}
.simple-services-sec p{
    color: #000;
}
.simple-services-sec .services-simple-col:hover {
    background: #ffffff;
}
.simple-services-sec .services-simple-col:before {
    background: transparent;
}
/**/
.listing-info li {
    margin-bottom: 12px;
    display: flex;
}
.listing-info li:before {
    content: "\f05d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 19px;
    margin-right: 7px;
    color: #e68c1b;
}
/*page top info sec*/
.pages-top-info-sec-bg {
    padding: 60px 0 50px 0;
    background-image: url(../images/cloud-deployment.png);
}
.pages-top-info-sec-bg p {
    margin-bottom: 7px;
}
.pages-top-info-sec-bg .main-heading {
    margin-bottom: 8px;
}
/**cloud computing**/
.pages-img-text-services .sub-main-heading {
    font-size: 28px;
    margin-bottom: 8px !important;
}
.pages-img-text-services .main-btn {
    margin-top: 24px;
}
.cloud-consulting-service-sec {
    background: url(../images/cloud-consulting-ser-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0 35px 0;
}
.cloud-deployment-sec {
    background: url(../images/cloud-deployment.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 0 60px 0;
}
.cloud-infrastructure-sec {
    background: url(../images/cloud-infrastructure-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0 0px 0;
}

/**infrastructure page**/
.infrastructure-services-sol-sec {
    background: url(../images/infrastructure-services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0 35px 0;
}
.infrastructure-services-sol-sec .icon-div {
    width: 74px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.infrastructure-services-sol-sec .service-col .main-btn {
    margin-top: 13px;
    position: absolute;
    bottom: 20px;
}
.infrastructure-services-sol-sec .service-col {
    padding: 20px 20px 70px 20px;
}   

/**managed it page**/
.managed-it-services-sec {
    background: url(../images/managed-it-services-bg.png);
    padding: 50px 0 20px 0;
}
.managed-it-services-sec .main-heading-div {
    margin-bottom: 58px;
}
.managed-it-services-sec .main-heading {
    margin-bottom: 15px;
}
.managed-single-services-sec {
    background: url(../images/manage-cloud-bg.png);
    padding: 30px 0 30px 0;
}
/**/
.single-service-sec .service-col {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
}
.single-service-sec .service-col:before{
    content: none;
}
.single-service-sec .main-btn {
    margin-top: 24px;
}
/**managed network services page //inner page of managed-services**/
/**managed-f5-services* page //inner page of managed-services**/
.managed-f5-services-sec {
    padding: 60px 0 50px 0;
    background-image: url(../images/enterprise-servers-solutions-blue-bg.png);
}
/**managed-cloud-services page //inner page of managed-services**/
.managed-cloud-OPERATIONS-sec{
    background: url(../images/Security-solutions-second-bg.png);
    padding: 60px 0 20px 0;
}    



/**Security page**/
.Security-solutions-services-sec {
    background: url(../images/Security-solutions-bg.png);
    padding: 60px 0 30px 0;
}
.Security-solutions-services-sec .main-heading {
    margin-bottom: 22px;
}
.Security-solutions-services-sec .second-main-heading {
    margin-top: 32px;
    margin-bottom: 45px !important;
}
.second-Security-sol-services-sec {
    background: url(../images/Security-solutions-second-bg.png);
    padding: 60px 0 20px 0;
}
/**security-operations-center page //inner page of Security page**/
/**security-services page //inner page of Security page**/



/**blog page**/
.blog-page-sec {
    background: url(../images/blog-page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 60px 0;
    position: relative;
    z-index: 9;
}
.blog-page-sec .blog-wrap {
    background: #301B4D;
}
.blog-page-sec .blog-col {
    margin-bottom: 60px;
}
.blog-page-sec .blog-wrap .img-div {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background: white;
}
.blog-page-sec .blog-wrap .img-div img {
    height: 200px;
    object-fit: cover;
}
.blog-page-sec .blog-name-date {
    display: flex;
    color: #949494;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 14px;
}
.blog-page-sec .blog-content-col h4 {
    font-weight: 300;
}
/*sidebar*/
.blog-sidebar-main .side-col {
    margin-bottom: 30px;
    font-family: 'Teko', sans-serif;   
}
.blog-sidebar-main .sidebar-col {
    background: #E6E6E6;
    margin-bottom: 22px;
    border-radius: 14px;
    padding: 13px 18px 13px 18px;
}
.blog-sidebar-main .sidebar-title {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #F2941C;
}
.blog-sidebar-main .sidebar-col span {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #301B4D;
    letter-spacing: 0.4px;
}
.blog-sidebar-main .sidebar-col .cat-icon {
    margin-right: 8px;
}
.blog-sidebar-main .Categories-col ul {
    padding: 0;
    margin: 0;
    /* margin-left: 10px; */
}
.blog-sidebar-main .Categories-col li {
    border-bottom: 1px solid #d4d1d1;
    padding-top: 2px;
    margin-bottom: 6px;
}
.recent-post-main {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.recent-post-main:last-child {
    margin-bottom: 10px;
}
.recent-post-main .post-img {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.recent-post-main .post-desc-box {
    width: 78%;
    display: inline-block;
    padding-left: 10px;
}
.recent-post-main .post-desc-box .post-title {
    font-weight: 600;
}
.recent-post-main .post-img img {
    height: 60px;
    object-fit: cover;
    width: 100%;
}
.recent-post-main .post-desc {
    font-size: 22px;
    line-height: 21px;
    font-family: 'Teko', sans-serif;
    color: #394168;
    font-weight: 300;
}
.blog-sidebar-main .tags-col li {
    display: inline-block;
    padding-right: 13px;
}
.tags-col ul {
    margin-left: 10px;
    padding-left: 0;
}
.blog-sidebar-main .tags-col li .tag {
    text-decoration: none;
    display: inline-block;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    background: #301B4D;
    padding: 4px 13px 1px 13px;
    border-radius: 25px;
    color: #fff !important;
    margin-bottom: 14px;
}
.blog-sidebar-main .tags-col li .tag:hover {
    color: #62b206;
}
/*pagination*/
.pagination-wrap {
    display: flex;
    justify-content: center;
}
.pagination .page-link {
    background: #E6E6E6;
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    padding: 4px 5px;
    width: 36px;
    text-align: center;
    height: 36px;
    line-height: 34px;
    margin: 0 4px;
    border: 0;
    border-radius: 7px !important;
}
.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #301B4D;
    border-color: #301B4D;
}
.pagination .icons-item .page-link {
    color: #301b4d;
    font-size: 18px;
}

/**contact us page**/
.contact-information-sec {
    padding: 40px 0;
}
.contact-page-sec {
    background: url(../images/it-service-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    background-position: center;
}
.contact-page-sec .main-btn {
    padding: 3px 30px 0px 30px;
}
.contact-info h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 22px;
}
.contact-info h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-bottom: 7px;
}
.contact-page-sec .desc-info p {
    font-size: 20px;
}
.contact-page-sec .form-control {
    background: #EEEEEE;
    border-color: #EEEEEE;
}

/**Cloud Infrastructure page**/
.cloud-infrastructure-ser-sec {
    padding: 60px 0 60px 0;
    background-image: url(../images/Cloud-Infrastructure-ser-bg.png);
}
.cloud-infrastructure-ser-sec .sub-ttl {
    margin-bottom: 28px;
    margin-top: 20px;
}
.simple-services-sec .services-simple-col {
    background: transparent;
    color: #000 !important;
    padding: 0;
}
.simple-services-sec p{
    color: #000;
}
.simple-services-sec .subtitle {
    margin-bottom: 40px;
}
.simple-services-sec .services-simple-col:hover {
    background: transparent;
}
.simple-services-sec .services-simple-col:before {
    background: transparent;
}
/**/
.cloud-infra-other-info-sec {
    padding: 60px 0 50px 0;
    background-image: url(../images/cloud-infra-other-info-sec-bg.png);
}
.cloud-infra-other-info-sec .main-ttl {
    font-size: 32px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
}
.cloud-infra-other-info-sec .cloud-info p {
    margin-bottom: 12px;
}

/**Cloud deployments page**/
.cloud-deployments-service-sec{
    padding: 60px 0 50px 0;
    background-image: url(../images/cloud-infra-other-info-sec-bg.png);    
}
.cloud-deployments-info-sec {
    padding: 60px 0 60px 0;
    background-image: url(../images/Cloud-Infrastructure-ser-bg.png);
}
.cloud-deployments-services-sec .main-heading-div {
    margin-bottom: 55px;
}
/**cloud operation center page**/
.cloud-operation-center-service-sec {
    padding: 10px 0 8px 0;
    background-image: url(../images/cloud-infra-other-info-sec-bg.png);
}
.cloud-operation-center-service-sec .desc {
    margin-bottom: 20px;
}
/*cloud consulting services page*/
.cloud-consulting-services-sec{
    padding: 60px 0 50px 0;
    background: url(../images/our-services-bg.png); 
}
.cloud-consulting-services-sec p {
    margin-bottom: 14px;
}
.cloud-consulting-services-sec .purple-text {
    margin-bottom: 45px;
}

/*cloud assessments services page*/
.cloud-Assessments-ser-sec .sub-ttl {
    margin-bottom: 30px;
}
.cloud-Assessments-ser-sec img {
    width: 90%;
    display: block;
    margin-left: auto;
}
/**/
.faq-div {
    background: #fff;
    padding: 12px 14px 14px 14px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 18%);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 18%);
    margin-bottom: 13px;
}
.faq-div .title-div .qsn-icon {
    background: #F2941C;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-right: 9px;
}
.faq-div .title-div p {
    display: inline-block;
    width: 90%;
}
.faq-div .title-div {
    display: flex;
}
/**/
.cloud-assessments-info-sec {
    padding: 60px 0 50px 0;
    background-image: url(../images/cloud-infra-other-info-sec-bg.png);
}
.cloud-assessments-info-sec p{
      margin-bottom: 10px;  
}

/**enterprise servers solutions page**/
.enterprise-servers-solutions-info-sec {
    padding: 60px 0 50px 0;
    background-image: url(../images/Enterprise-Servers-Solutions-info.png);
}
/**/
.enterprise-servers-solutions-sec{
    padding: 60px 0 50px 0;
    background-image: url(../images/enterprise-servers-solutions-blue-bg.png);    
}
.enterprise-servers-solutions-sec p {
    margin-bottom: 11px;
}
.enterprise-servers-solutions-sec .listing-info li {
    width: 49%;
    display: inline-flex;
    padding-right: 20px;
}


/**Enterprise Networking Solutions page**/
.enterprise-networking-solutions-info-sec{
    padding: 60px 0 50px 0;
    background-image: url(../images/enterprise-networking-solutions-bg.png);    
}
.enterprise-networking-other-info-sec{
    padding: 60px 0 50px 0;
    background-image: url(../images/enterprise-networking-solutions-blue-bg.png);    
}

/**Virtualization Solutions page**/
.virtualization-ser-sec .ser-content-div p {
    margin-bottom: 10px;
}


/**virtual-private-network page**/
.virtual-private-network-sec {
    padding: 60px 0 50px 0;
    background-image: url(../images/enterprise-servers-solutions-blue-bg.png);
}
.virtual-private-network-sec p {
    margin-bottom: 14px;
}


/**enterprise-storage-solutions page**/
.enterprise-storage-solutions-sec {
    padding: 90px 0 82px 0;
    background-image: url(../images/enterprise-storage-solutions-blue-bg.png);
}

/**private-cloud-solutions page**/
.private-cloud-solutions-sec {
    padding: 45px 0 42px 0;
    background-image: url(../images/enterprise-storage-solutions-blue-bg.png);
}

/**Cloud-Architecture-and-Design-Services page**/
.cloud-architecture-\&-design-ser-sec .img-ttl {
    margin-bottom: 0;
}
/**cloud-implementation-services page**/
.cloud-implementation-services {
    padding: 60px 0 50px 0;
    background-image: url(../images/enterprise-servers-solutions-blue-bg.png);
}

/**cloud-migration-services**/
.cloud-migration-solutions-sec {
    padding: 50px 0 52px 0;
    background-image: url(../images/enterprise-storage-solutions-blue-bg.png);
}


