/*for 1920*/
@media screen and (max-width:1920px) and (min-width:1367px){
.container {
    max-width: 1360px;
}
/*navbar*/
.header .navbar .nav-item {
    padding-left: 30px;
}
/*banner*/
.banner-sec {
    background-position: bottom;
    margin-top: -82px;
    padding-top: 108px;
    padding-bottom: 205px;
}
.banner-sec .col-md-7 {
    -ms-flex: 0 0 50.333333%;
    flex: 0 0 50.333333%;
    max-width: 50.333333%;
}
.banner-sec .banner-img-col {
    right: 82px;
}
.banner-sec .banner-content p {
    text-align: center;
}
/*it-services-sec*/
.it-services-sec {
    padding: 115px 0 100px 0;
}
/*our-blog-sec*/
.our-blog-sec {
    padding: 70px 0 70px 0;
}
.blog-wrap .blog-content-col {
    min-height: 280px;
}
.blog-wrap .blog-content-col h4 {
    font-size: 28px;
    line-height: 28px;
}
/*our-partners-logos-sec*/
.our-partners-logos-sec {
    background-position: center;
}
/*our-projects-sec*/
.our-projects-sec {
    padding: 85px 0 95px 0;
}
/*contact-sec*/
.contact-sec {
    background-position: center;
}
}
/*************************media queries******************************/
@media screen and (max-width:1199px){
   

}
@media screen and (max-width:991px){
   

}

@media screen and (max-width:767px){
   
}

@media screen and (max-width:575px){
       
}

@media screen and (max-width:480px){
 
}