<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard no-header>
        <CCardBody>
          <h3>
            Leave Approval
          </h3>
          <CAlert
            :show.sync="dismissCountDown"
            color="primary"
            fade
          >
            ({{dismissCountDown}}) {{ message }}
            
          </CAlert>
          <CForm @submit.prevent="store" method="POST"> 
            <CRow class="form-group">
                <CCol sm="6">
                   <div class="form-group">
                        <label>Start Date *</label>        
                        <datepicker :disabledDates="disabledDates" @selected="setEndDate" :format="customFormatter" required v-model="start_date" placeholder="Start Date" input-class="form-control" ></datepicker>
                    </div>
                  <!-- <CInput label="Start Date *" required placeholder="Start Date" type="date"  v-model="start_date" /> -->
                  <validationError v-if="errors.start_date" :error="errors.start_date[0]"  />
                </CCol>          
                <CCol sm="6">
                   <div class="form-group">
                        <label>End Date *</label>        
                        <datepicker :disabledDates="disableEndDates" :format="customFormatter" required v-model="end_date" placeholder="End Date" input-class="form-control" ></datepicker>
                    </div>
                  <!-- <CInput label="End Date *" required placeholder="End Date" type="date"  v-model="end_date" /> -->
                  <validationError v-if="errors.end_date" :error="errors.end_date[0]"  />  
                </CCol>              
                <CCol sm="12">    
                  <CInput label="Subject" type="text" placeholder="Subject" v-model="subject"></CInput>
                </CCol>          
                <CCol sm="12">
                  <CTextarea type="text" label="Reason for leave *" rows="10" placeholder="Reason for leave" v-model="reason"></CTextarea>
                  <validation-error v-if="errors.reason" :error="errors.reason[0]"  />
                </CCol>
                <CCol sm="12">
                  <label>Attachement</label>                       
                  <input type="file"  name="Attachement" multiple class="form-control" @change="selectAttachement">
                </CCol>
                <CCol sm="12" class="mt-3">
                  <CButton color="primary" type="submit">Send</CButton>        
                  <CButton color="primary" @click="goBack">Back</CButton>
                </CCol>
            </CRow>             
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow> 
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import Vue from 'vue';
import moment from 'moment';
import axios from 'axios'
import validationError from '@/errors/validation-errors.vue'
import { mapGetters, mapActions } from "vuex";
export default {
  name: 'CreateUser',
  data: () => {
    return {
        start_date: new Date(),
        end_date: new Date(),
        subject:'',
        disabledDates: {
          to: new Date(Date.now() - 8640000)
        },
        disableEndDates: {
          to: new Date(Date.now() - 8640000)
        },
        reason:'',
        attachements:'',
        loader: '/img/loader.gif',
        is_loading: false,
        message: '',
        dismissSecs: 7,
        dismissCountDown: 0,
        showDismissibleAlert: false
    }
  },
   components: {
        validationError,Datepicker
      },
  computed: {
    ...mapGetters(["errors"])
  },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
    customFormatter(date) {
       return moment(date).format('YYYY-MM-DD HH:mm:ss');
    },
    store() {
        let self = this;
        this.is_loading = true;
        let formData = new FormData();
        
        formData.append('start_date', this.customFormatter(this.start_date));
        formData.append('end_date', this.customFormatter(this.end_date));
        formData.append('subject', this.subject);
        formData.append('reason', this.reason);

         for( var i = 0; i < this.attachements.length; i++ ){
              let file = this.attachements[i];
              formData.append('attachements[' + i + ']', file);
            }
        axios.post('/api/leaves/send',formData)
        .then(function (response) {
          self.is_loading = false;
          self.$router.push({ path: '/leaves' });
        });
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    setEndDate() {
      let that = this;
      this.$nextTick(() => {
        that.end_date = that.start_date;
        that.disableEndDates = {
          to: new Date(Date.parse(that.start_date) - 8640000)
        }
      });
    },
    selectAttachement(event) {
      let files = event.target.files;
      this.attachements = event.target.files;
    }
  },
  mounted () {
  }
}

</script>
