<template>
  	<CRow>
    	<CCol col="12" lg="12">
	      	<CCard no-header>
	        	<CCardBody>
		          	<h3> Edit Leave - <CButton color="primary" class="float-right" @click="goBack">Back</CButton> </h3>

		          	<CAlert :show.sync="dismissCountDown" v-bind:color="(alertClass)?'success':'danger'" fade>
		            	({{dismissCountDown}}) {{ message }}
		          	</CAlert>
		          	<CForm @submit.prevent="mailFeedback" method="POST">
		          		<div class="row">
		          			<div class="col-md-12">		          				
		          				<div class="form-group">
			                		<label>Status *</label>
			                		<select  class="form-control" v-model="status">
                						<option value="">--Select Status --</option>
                						<option value="0">Pending</option>
                						<option value="1">Approve</option>
                						<option value="2">Reject</option>
                					</select>
			                	</div>
		          			</div>
		          			<div class="col-md-12">
		          				<CTextarea type="text" label="Reason" rows="10" placeholder="Reason" v-model="reason"></CTextarea>
		          			</div>
		          		</div>
			          	<CButton class="mt-3" color="primary" type="submit">Send</CButton>
		           	</CForm>
	        	</CCardBody>
	      	</CCard>
    	</CCol>
    	<div class="loader-image" v-if="is_loading">
			<img :src="loader">
		</div>
  	</CRow>
</template>

<script>
	import axios from 'axios';

	export default {
	  	name: 'Edittask',
	  	data: () => {
	    	return {
	    		alertClass: false,
	    		is_loading:false,
	    		loader:'/img/loader.gif',
	    		status: '',
	    		reason:'',
	    		message:'',
	    		dismissCountDown: 0
	    	}
	  	},
	  	components: {
	       
	    },
	  	methods: {
	  		mailFeedback() {
	  			let self = this;
	  			self.is_loading = true;
	  			var _id = atob(self.$route.params.id);
				let formData = new FormData();
				formData.append('id', _id);
				formData.append('status', self.status);
				formData.append('reason', self.reason);
				axios.post('/api/leaves/edit',formData)
				.then(function (response) {
					self.is_loading = false	;
				});
	  		},
	  		goBack() {
		    	this.$router.back()
		    }
	    },
	  	mounted () {
		     let self = this; this.loading = true;
		     var _id = atob(self.$route.params.id)
		    axios.get(  '/api/leaves/view/' +_id+ '?token=' + localStorage.getItem("api_token"))
		    .then(function (response) {
		      	self.loading = false;
		      	var leave = response.data.leave;
		      	self.status = leave.status;
		      	self.reason = leave.if_reason;
		    });
	  	}
	}
</script>