<template>
  	<CRow>
	    <CCol col="12" lg="12">
	      	
	        <CCardHeader class="mb-1 d-flex justify-content-between align-items-center">
	          	<h4 class="mb-0">Leave Request From: {{ name }}</h4> <CButton color="primary" @click="goBack">Back</CButton>
	        </CCardHeader>
    		<CRow class="user-view-sec">
    			<CCol col="5">
    				<CCard>
        				<CCardBody>
        					<div class="user-profile-pic">
        						<img v-if="profile" :src="profile">
        						<img v-else :src="avtar">
        					</div>
        				</CCardBody>
        			</CCard>
    			</CCol>

    			<CCol col="7">
    				<CCard>
        				<CCardBody>
        					<CCardHeader>Leave Information</CCardHeader>
	        				<div class="user-info-section">
	        					<div class="inner-sec" v-if="from_date">
	        						<span>From Date:</span>
	        						<strong>{{ dateFormat(this.from_date) }}</strong>
	        					</div>
	        					<div class="inner-sec" v-if="to_date">
	        						<span>To Date:</span>
	        						<strong>{{ dateFormat(this.to_date) }}</strong>
	        					</div>
	        					<div class="inner-sec" v-if="subject">
	        						<span>Subject:</span>
	        						<strong>{{ subject }}</strong>
	        					</div>
	        					<div class="inner-sec" v-if="description">
	        						<span>Reason:</span>
	        						<strong>{{ description }}</strong>
	        					</div>
	        					<div class="inner-sec d-flex" v-if="status">
	        						<span>Status:</span>
	        						<div class="leave-status">
		        						<CRow v-if="show">
		                    				<CCol>
		                    					<select @change="setStatus" class="form-control" v-model="status">
		                    						<option value="">--Select Status --</option>
		                    						<option value="0">Pending</option>
		                    						<option value="1">Approve</option>
		                    						<option value="2">Reject</option>
		                    					</select>
		                    				</CCol>
		                    			</CRow>
		                    			<div v-else class="d-flex justify-content-between">
		                    				<span  v-html="getStatus()"></span>
		                    				<span class="pointer" @click="showOptions" v-if="permission"><CIcon name="cil-pencil"/></span>
		                    			</div>
		        					</div>
	        					</div>
	        				</div>
        				</CCardBody>
        			</CCard>
    			</CCol>
    		</CRow>
	    </CCol>
	    <div class="loader-image" v-if="loading">
			<img :src="loader">
		</div>
  	</CRow>
</template>

<script>
	import axios from 'axios'
	import moment from 'moment';

	export default {
	  	name: 'Leave',
	  	data: () => {
		    return {
		      	name: '',
		      	profile: '',
		      	from_date: '',
		      	to_date: '',
		      	_id: '',
		      	email: '',
		      	date_format: '',
		      	subject: '',
		      	description: '',
		      	status: '',
		      	show: false,
		      	loading: false,
		      	permission: false,
		      	avtar: '/img/user-avtar.jpg',
	    		loader: '/img/loader.gif'
		    }
	  	},
	  	methods: {
		    goBack() {
		      	this.$router.back()
		    },
		    showOptions() {
		    	this.show = true;
		    },
		    dateFormat(val) {
	  			var value = "";
	  			if(val) {
		      		value = moment(val).format(this.date_format);
		      	}
		      	return value;
	      	},
	      	getStatus() {
	      		var _cls = '', _name = '';
	      		if(this.status == '1') {
          			_cls = 'success'; _name = 'Approved';
          		} else if(this.status == '2') {
          			_cls = 'danger'; _name = 'Rejected';
          		} else {
          			_cls = 'warning'; _name = 'Pending';
          		}

          		return '<span class="badge badge-'+_cls+'">'+_name+'</span>';
	      	},
	      	setStatus() {
	      		if(this.status) {
		      		let that = this; this.loading = true;
		      		var formdata = new FormData();
		      		formdata.append('id', this._id);
		      		formdata.append('status', this.status);

		      		axios.post('/api/leaves/edit?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		      			that.loading = false;
		      			that.show = false;
		      			// if(response.data.status == 'success') {
		      			// 	this.$swal('Success', 'Successfully update status', 'success');
		      			// } else {
		      			// 	this.$swal('Warning!', 'Unable to update status', 'error');
		      			// }
		      		});
		      	}
	      	}
	  	},
	  	mounted: function(){
		    let self = this; this.loading = true;
		    axios.get(  '/api/leaves/view/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"))
		    .then(function (response) {
		      	self.loading = false;
		      	self.date_format = response.data.date_format.value;
		      	var leave = response.data.leave;
		      	self.name = leave.name;
		      	self.profile = leave.profile;
		      	self.from_date = leave.start_date;
		      	self.to_date = leave.end_date;
		      	self._id = leave.id;
		      	self.subject = leave.subject;
		      	self.description = leave.description;
		      	self.status = leave.status;
		      	self.permission = response.data.permission;
		    });
	  	}
	}
</script>
