<template>
  	<CRow>
	    <CCol col="12" lg="12">
	      	
	        <CCardHeader class="mb-1 d-flex justify-content-between align-items-center">
	          	<h4 class="mb-0">{{ name }}</h4> <CButton color="primary" @click="goBack">Back</CButton>
	        </CCardHeader>
        		<CRow class="user-view-sec">
        			<CCol col="5">
        				<CCard>
	        				<CCardBody>
	        					<div class="user-profile-pic">
	        						<img v-if="profile" :src="profile">
	        						<img v-else :src="avtar">
	        					</div>
	        				</CCardBody>
	        			</CCard>
        			</CCol>
        			<CCol col="7">
        				<CCard>
	        				<CCardBody>
	        					<CCardHeader>Daily Status Report</CCardHeader>
		        				<div class="user-info-section">
		        					<div class="inner-sec" v-if="report">
		        						<strong>{{ report }}</strong>
		        					</div>
		        				</div>
	        				</CCardBody>
	        			</CCard>
        			</CCol>
        		</CRow>
	    </CCol>
	    <div class="loader-image" v-if="loading">
			<img :src="loader">
		</div>
  	</CRow>
</template>

<script>
	import axios from 'axios'
	import moment from 'moment';

	export default {
	  	name: 'User',
	  	data: () => {
		    return {
		      	name: '',
		      	report: '',
		      	loading: false,
		      	profile: '',
	    		loader: '/img/loader.gif'
		    }
	  	},
	  	methods: {
		    goBack() {
		      	this.$router.go(-1)
		    }
	  	},
	  	mounted: function(){
		    let self = this; this.loading = true;
		    axios.get(  '/api/daily-report/' + self.$route.params.id)
		    .then(function (response) {
		      	self.loading = false;
		      	self.name = response.data.name;
		      	self.report = response.data.report;
		      	self.profile = response.data.profile;
		      	
		    });

	  	}
	}
</script>
