<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
        <CCard>
          <CCardHeader class="d-flex justify-content-between align-items-center">
               <h4 class="mb-0">Reports</h4>
          </CCardHeader>
          <CCardBody>
            <CAlert
              :show.sync="dismissCountDown"
              color="primary"
              fade
            >
              {{ message }}
            </CAlert>
              <CRow class="table-filters mb-3" v-if="is_admin == 'true'">
                <CCol>
                  <select @change="filterData" class="form-control mb-0" v-model="filterUsers">
                    <option value="">--Select User --</option>
                    <option v-for="user in users" v-bind:value="user.id">{{ user.name }}</option>
                  </select>
                </CCol>
                <CCol>
                  <CInput  placeholder="Select Date" type="date" class="mb-0" @change="filterData"  v-model="filterDate" />
                </CCol>
                <CButton color="primary" @click="resetFilter()" class="float-right">Reset</CButton>
              </CRow>
              <div class="table-responsive">
                <table class="table table-manage-user table-striped" id="reports_table">
                  <thead>
                          <tr>
                              <th scope="col">Name</th>   
                              <th scope="col">Report</th>   
                              <th scope="col">Report Date</th>           
                              <th scope="col">Action</th>               
                          </tr>
                      </thead>
                      <tbody></tbody>
                </table>
              </div>
          </CCardBody>
        </CCard>
      </transition>
    </CCol>
  </CRow>
</template>

<script>
import axios from 'axios'
import moment from 'moment';
export default {
  name: 'Reports',
  data: () => {
    return {
      items: [],
      users:[],
      fields: ['name', 'report', 'report_date', 'actions'],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      you: null,
      is_admin: false,
      message: '',
      loader: '/img/loader.gif',
      is_loading: false,
      showMessage: false,
      dismissSecs: 7,
      filterUsers:'',
      filterDate:'',
      dismissCountDown: 0,
      date_format:'',
      showDismissibleAlert: false
    }
  },
  methods: {
    reportLink (id) {
      return `/reports/${id.toString()}`
    },
    viewReport ( id ) {
      const userLink = this.reportLink( id );
      this.$router.push({path: userLink});
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    getReports(){
        let url = '/api/daily-report?token=' + localStorage.getItem("api_token");
        if(this.filterDate) {
            url = url+'&date='+this.filterDate;
        }
        if(this.filterUsers) {
            url = url+'&user='+this.filterUsers;
        }

        let that = this;
        jQuery('#reports_table').DataTable({
          "lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
          processing: true,
              serverSide: true,
              "order": [],
              ajax: url,
              columns: [
                  // {data: 'DT_RowIndex' },
                  {data: 'name'},
                  {data: 'report', name: 'report',
                      render:function (data, type, full, meta) {
                        return '<a data="'+full.id+'" class="view-item-icon">'+full.report+'</a>';
                      }
                  },
                  {data: 'created_at', name: 'created_at',
                      render:function (data, type, full, meta) {
                        return that.dateFormat(full.created_at);
                      }
                  },
                  {data: 'action', name: 'action',
                      render:function (data, type, full, meta) {
                        var _inner = '<a data="'+full.id+'" class="view-item-icon dropdown-item"><img src="/img/view-icon.png" alt="view-icn"/> View</a>';
                        var btns = '<div class="custom-list-dropdown"><div class="dropdown"><p class="dropdown-toggle pointer text-center" id="listrepos'+full.id+'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/drop-icon.svg" /></p><div class="dropdown-menu" aria-labelledby="listrepos'+full.id+'">'+_inner+'</div></div></div>';
                        return btns;
                      }, orderable: false, searchable: false
                  }
              ],
              "language":{
                "processing": '<div class="loader-image"><img src="'+that.loader+'"></div>',
              },
              "dom": '<"top table-search-flds d-flex align-items-center justify-content-between"fl>rt<"bottom table-paginater"ip><"clear">'
        });

        // trigger click functions.
        jQuery(document).on('click', '.view-item-icon', function() {
          var id = this.getAttribute('data');
          that.viewReport(id)
        });
    },
    getUsers() {
      let self = this;
      axios.get(  '/api/report-users?token=' + localStorage.getItem("api_token"))
      .then(function (response) {
        self.users = response.data;
      });
    },
    filterData() {
      localStorage.setItem('reportfilDate', this.filterDate);
      localStorage.setItem('reportfilUsers', this.filterUsers);

      jQuery('#reports_table').DataTable().destroy()
      this.getReports();
    },
    dateFormat($date) {
      // set date format.
      return moment($date).format(this.date_format);
    },
    resetFilter() {
      this.filterDate = '', this.filterUsers = '';
      localStorage.removeItem('reportfilDate'); localStorage.removeItem('reportfilUsers');
      jQuery('#reports_table').DataTable().destroy();
      this.getReports();
    }
  },
  mounted: function() {
    if(localStorage.getItem("reportfilDate")) { this.filterDate = localStorage.getItem("reportfilDate"); }
    if(localStorage.getItem("reportfilUsers")) { this.filterUsers = localStorage.getItem("reportfilUsers"); }
    this.getReports();
    this.getUsers();
    this.is_admin = localStorage.getItem("type");
    this.date_format = localStorage.getItem("date_format");
  }
}
</script>
