<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard no-header>
        <CCardBody>
          <h3>
            Create Project
          </h3>
          <CAlert
            :show.sync="dismissCountDown"
            color="primary"
            fade
          >
            ({{dismissCountDown}}) {{ message }}
            
          </CAlert>
          <CForm @submit.prevent="store" method="POST">
              <CInput type="text" label="Name *" placeholder="Name" v-model="name"></CInput>
              <validation-error v-if="errors.name" :error="errors.name[0]"  />
              <CInput type="text" label="Client *" placeholder="Client" v-model="client"></CInput>
              <validation-error v-if="errors.client" :error="errors.client[0]"  />
              <CInput type="text" label="Url *" placeholder="Url" v-model="url"></CInput>
              <validation-error v-if="errors.url" :error="errors.url[0]"  />
              <CInput type="text" label="Portal *" placeholder="Portal" v-model="portal"></CInput>
              <validation-error v-if="errors.portal" :error="errors.portal[0]"  />
              <CInput type="text" label="Profile *" placeholder="Profile" v-model="profile"></CInput>
              <validation-error v-if="errors.profile" :error="errors.profile[0]"  />
              <CTextarea type="text" label="Description" rows="10" placeholder="Description" v-model="description"></CTextarea>
              <CButton class="mt-3" color="primary" type="submit">Create</CButton>
              <CButton class="mt-3" color="primary" @click="goBack">Back</CButton>
           </CForm>
        </CCardBody>
      </CCard>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
 
</template>

<script>
import axios from 'axios'
import validationError from '@/errors/validation-errors.vue'
import { mapGetters, mapActions } from "vuex";
export default {
  name: 'CreateProject',
  data: () => {
    return {
        name: '',
        client: '',
        url: '',
        portal: '',
        loader: '/img/loader.gif',
        is_loading: false,
        profile: '',
        description: '',
        message: '',
        roles: [],
        dismissSecs: 7,
        dismissCountDown: 0,
        showDismissibleAlert: false
    }
  },
   components: {
        validationError
      },
   computed: {
    ...mapGetters(["errors"])
  },
  methods: {
     validationError()
      {
         let self = this;
         
         let error={};

          if(!self.name){error.name=[]; error.name[0]="This Field is required!"; } 
          if(!self.client){error.client=[]; error.client[0]="This Field is required!"; } 
          if(!self.url){error.url=[]; error.url[0]="This Field is required!"; } 
          if(!self.profile){error.profile=[]; error.profile[0]="This Field is required!"; } 
          if(!self.portal){error.portal=[]; error.portal[0]="This Field is required!"; } 
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});

        },
    goBack() {
      this.$router.go(-1)
    },
    store() {
        let self = this;   
        if(self.validationError()) {
          return
        }  
        this.is_loading = true;  
        axios.post(  '/api/projects',
          {
            name: self.name,
            client: self.client,
            url: self.url,
            portal: self.portal,
            profile: self.profile,
            description: self.description,
  
          }
        )
        .then(function (response) {
          self.is_loading = false;
         if(response){
            self.name ="";
            self.client ="";
            self.url ="";
            self.portal ="";
            self.profile ="";
            self.description ="";
            self.message = 'Project created Successfully.';
            self.showAlert();
         }
           self.$store.dispatch('topFunction');
        })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
  },
  mounted () {
     this.$store.commit("setErrors", {})
  }
}

</script>
