<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard no-header>
        <CCardBody>
          <CForm>
            <template slot="header">
              Edit Project id:  {{ $route.params.id }}
            </template>
            <CAlert
              :show.sync="dismissCountDown"
              color="primary"
              fade
            >
              ({{dismissCountDown}}) {{ message }}
            </CAlert>
            <CInput type="text" label="Name *" placeholder="Name" v-model="name"></CInput>
             <validation-error v-if="errors.name" :error="errors.name[0]"  />
            <CInput type="text" label="Client *" placeholder="Client" v-model="client"></CInput>
             <validation-error v-if="errors.client" :error="errors.client[0]"  />
            <CInput type="url" label="Url *" placeholder="Url" v-model="url"></CInput>
             <validation-error v-if="errors.url" :error="errors.url[0]"  />
            <CInput type="text" label="Portal *" placeholder="Portal" v-model="portal"></CInput>
             <validation-error v-if="errors.portal" :error="errors.portal[0]"  />
            <CInput type="text" label="Profile *" placeholder="Profile" v-model="profile"></CInput>
             <validation-error v-if="errors.profile" :error="errors.profile[0]"  />
            <CTextarea type="text" label="Description" rows="50" v-model="description"></CTextarea>
            <!-- <vue-editor v-model="access_detail"></vue-editor> -->
            <CButton class="mt-3" color="primary" @click="update()">Save</CButton>
            <CButton class="mt-3" color="primary" @click="goBack">Back</CButton>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
</template>

<script>
import axios from 'axios'
import validationError from '@/errors/validation-errors.vue'
import { mapGetters, mapActions } from "vuex";
import { VueEditor } from "vue2-editor";
export default {
  name: 'EditProject',
  props: {
    caption: {
      type: String,
      default: 'Project id'
    },
  },
  data: () => {
    return {
        name: '',
        client: '',
        url: '',
        portal: '',
        profile: '',
        description: '',
        loader: '/img/loader.gif',
        is_loading: false,
        access_detail:'',
        showMessage: false,
        message: '',
        dismissSecs: 7,
        dismissCountDown: 0,
        showDismissibleAlert: false
    }
  },
  components: {
        validationError,VueEditor
  },
  computed: {
    ...mapGetters(["errors"])
  },
  methods: {
    validationError()
      {
         let self = this;
         
         let error={};

          if(!self.name){error.name=[]; error.name[0]="This Field is required!"; } 
          if(!self.client){error.client=[]; error.client[0]="This Field is required!"; } 
          if(!self.url){error.url=[]; error.url[0]="This Field is required!"; } 
          if(!self.profile){error.profile=[]; error.profile[0]="This Field is required!"; } 
          if(!self.portal){error.portal=[]; error.portal[0]="This Field is required!"; } 
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});

        },
    goBack() {
      this.$router.back()
    },
    update() {
        let self = this;
        if(self.validationError()) {
          return
        }
        this.is_loading = true;
        axios.post(  '/api/projects/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"),
        {
            _method: 'PUT',
            name: self.name,
            client: self.client,
            url: self.url,
            portal: self.portal,
            profile: self.profile,
            description: self.description,
            access_detail: self.access_detail,
        })
        .then(function (response) {
          self.is_loading = false;
          if(response){
            self.message = 'Project updated Successfully.';
            self.showAlert();
          }
           self.$store.dispatch('topFunction');
        })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
  },
  mounted: function(){
    this.$store.commit("setErrors", {})
    let self = this;
    axios.get(  '/api/projects/' + self.$route.params.id + '/edit?token=' + localStorage.getItem("api_token"))
    .then(function (response) {
        self.name = response.data.name;
        self.client = response.data.client;
        self.url = response.data.url;
        self.portal = response.data.portal;
        self.profile = response.data.profile;
        self.description = response.data.description;
        self.access_detail = response.data.access_detail;
    })
  }
}


</script>
