<template>
    
	<div class="global-search-sec">
		<div class="search-result-wrap">
			<CInput class="mb-0 w-100" type="text" @blur="handleBlur" @input="globalSearch" placeholder="Search ..." v-model="search"></CInput>
			<div v-if="close" @click="closeSearch" class="global-search-close"><CIcon name="cil-x" /></div>

		   	<div class="global-search-result" v-if="visible">
		   		<div class="search-result-outer" v-if="users.length > 0">
		   			<div class="search-main-title">Members</div>
		   			<div class="searchdata-list" v-for="(user, u) in users">
      					<a @click="redirectTo(user.id, '/users')">
      						<div class="small-rounded-img">
	      						<img :src="user.profile" v-if="user.profile">
	      						<img :src="avtar" v-else>
	      					</div>
	      					<span>{{ user.name }}</span>
	      				</a>
      				</div>
		   		</div>
		   		<div class="search-result-outer" v-if="groups.length > 0">
		   			<div class="search-main-title">Groups</div>
		   			<div class="searchdata-list" v-for="(group, g) in groups">
      					<a @click="redirectTo(group.id, 'group')">
	      					<span>{{ group.client+' - '+group.name+' - '+group.profile }}</span>
	      				</a>
      				</div>
		   		</div>
		   		<div class="search-result-outer" v-if="tasks.length > 0">
		   			<div class="search-main-title">Tasks</div>
		   			<div class="searchdata-list" v-for="(task, t) in tasks">
      					<a @click="redirectTo(task.id, '/tasks')">
	      					<span>{{ task.name }}</span>
	      				</a>
      				</div>
		   		</div>
		   		<div class="search-result-outer" v-if="projects.length > 0">
		   			<div class="search-main-title">Projects</div>
		   			<div class="searchdata-list" v-for="(project, p) in projects">
      					<a @click="redirectTo(project.id, '/projects')">
	      					<span>{{ project.name }}</span>
	      				</a>
      				</div>
		   		</div>
		   		<div class="search-result-outer" v-if="drives.length > 0">
		   			<div class="search-main-title">Drives</div>
		   			<div class="searchdata-list" v-for="(drive, d) in drives">
      					<a @click="redirectTo(drive.id, 'drives')">
	      					<span>{{ drive.name }}</span>
	      				</a>
      				</div>
		   		</div>
		   	</div>
		</div>
	</div>

</template>

<script>
    import axios from 'axios';
    export default {
      	name: 'GlobalSearch',
      	data () {
	        return {
	          	search: '',
	          	options: '',
	          	users: [],
	          	tasks: [],
	          	projects: [],
	          	groups: [],
	          	drives: [],
	          	visible: false,
	          	loading: false,
	          	close: false,
	          	avtar: '/img/user-avtar.jpg',
	          	loader: '/img/loader.gif',
	        }
      	},
      	methods: {
      		async handleBlur() {
      			setTimeout(function() { this.closeSearch(); }.bind(this), 200);
      		},
      		closeSearch() {
      			this.search = '';
	          	this.options = '';
	          	this.users = [];
	          	this.tasks = [];
	          	this.projects = [];
	          	this.groups = [];
	          	this.drives = [];
	          	this.visible = false;
	          	this.loading = false;
	          	this.close = false;
      		},
      		redirectTo(id, _url) {
      			var link = ''; 
      			// routing links to be pushed.
      			if(_url == '/tasks') {
      				link = _url+'/'+btoa(id.toString());
      			} else if(_url == 'drives') {
      				link = `/drives/${btoa(id.toString())}`;
      			} else if(_url == 'group') {
	      			link = `/tasks?project=${btoa(id.toString())}`;
      			} else {
  					link = _url+'/'+id;
      			}
      			// this.$router.push({path: link});
      			window.location = link;
      		},
      		globalSearch() {
      			let that = this;

      			if(this.search !== '') { 
      				this.close = true; 

	      			var formdata = new FormData();
	      			formdata.append('search', this.search);

	      			axios.post('/api/search-globally?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
	      				that.visible = true;
				      	var data = response.data;
				      	if(data.members) {
				      		that.users = data.members;
				      	}
				      	if(data.tasks) {
				      		that.tasks = data.tasks;
				      	}
				      	if(data.projects) {
				      		that.projects = data.projects;
				      		that.groups = data.projects;
				      	}
				      	if(data.drives) {
				      		that.drives = data.drives;
				      	}
				    }).catch(function (error) {
				      	console.log('No logo found');
				    });
				} else { 
					this.closeSearch(); 
				}
      		}
      	},
      	mounted () {}
    }
</script>