<template>
  <div class="c-app">
    <TheSidebar/>
    <CWrapper>
      <TheHeader/>
      <div class="c-body">
        <main class="c-main">
          <CContainer fluid>
            <transition name="fade">
              <router-view :key="$route.fullPath"></router-view>
            </transition>           
          </CContainer>
        </main>
        <TheFooter/>
      </div>
    </CWrapper>
    <RightNotification />
    <!-- <RightTaskModal 
      :project="project"
      :priority="priority"
      :task-number="task_number"
      :task-status="task_status"
      :description="description"
      :avtar="avtar" 
      :taskObservers="observers" 
      :taskParticipants="participants" 
      :task-date="task_date" 
      :task-id="task_id"
      :name="name"
      :user-pic="user_pic"
      :user-name="user_name" 
      :user-role="user_role" 
      :assignee-name="assignee_name"
      :assignee-profile="assignee_profile"
      :assignee-role="assignee_role"
      :comment-list.sync="comment_list"
      :comment-ct="comment_ct"
      :time-for="time_for"
      :loader="loader"
      :mentions="mentions"
      :current="current"
      :date-difference="date_difference"
      :folderId="folder_id"
      :taskFiles="taskFiles"
      :projectUrl="projectUrl"
      :taskUser="task_user"
      /> -->
      <ReportModal />
      <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </div>
</template>

<script>
import TheSidebar from './TheSidebar'
import TheHeader from './TheHeader'
import TheFooter from './TheFooter'
import RightNotification from './RightNotificationModal'
import ReportModal from './ReportModal'
// import RightTaskModal from './RightTaskModal'
import axios from 'axios'
import moment from 'moment';

export default {
  name: 'TheContainer',
   data () {
    return {
      observers:[],
      participants:[],
      avtar: '/img/user-avtar.jpg',
      loader: '/img/loader.gif',
      project:'',
      task_date:'',
      task_id:'',
      name:'',
      is_loading:false,
      task_number:'',
      task_status:'',
      description:'',
      priority:'',
      user_pic:'',
      user_name:'',
      user_role:'',
      assignee_name:'',
      projectUrl:'',
      assignee_role:'',
      comment_list: [],
      comment_ct: 0,
      time_for: '',
      mentions: [],
      current:'',
      date_difference: '',
      folder_id:'',
      taskFiles:'',
      assignee_profile:'',
      task_user:'',
    }
  },
  components: {
    TheSidebar,
    TheHeader,
    TheFooter,
    RightNotification,
    // RightTaskModal,
    ReportModal
  },
  methods: {
      async showModMoreLess() {
          setTimeout(function() {
            var mdiv = document.getElementsByClassName('comment-section-detail-model');
            for(var i = 0; i < mdiv.length; i++) {
              var id = '#comment_loader_model'+mdiv[i].getAttribute('data');

              jQuery(id).showMore({
                minheight: 150,
                buttontxtmore: '<p class="more-ico"><span><img src="/images/down-ico.png" /></span></p>',
                buttontxtless: '<p class="less-ico"><span><img src="/images/down-ico.png" /></span></p>',
                animationspeed: 750
            });
            }
          }, 400);
        },
     listComments(taskId) {
        let that = this;
        var formdata = new FormData();
        formdata.append('component_id', taskId);
        formdata.append('component', 'task');

        axios.post('/api/comment/list?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
          that.comment_list = response.data.comments;
          that.comment_ct = response.data.count;
          that.time_for = response.data.time;
          that.showModMoreLess();
        }).catch(function (error) {
            console.log('something went wrong.');
        });
      },
    rightEmitModal(taskId){
      let self = this
      self.is_loading = true;
    axios.get('/api/tasks/view/'+taskId+'/?token='+localStorage.getItem("api_token")).then(function (response) {
         var task = response.data.task, status = "";
         self.current = response.data.current;
          self.mentions = [{
            dataSource: response.data.users,
            searchExpr: 'text',
            displayExpr: 'text',
            valueExpr: 'id'
        }];

          self.observers = response.data.observers;
          self.participants = response.data.participents;
          self.project = response.data.project;
          self.task_date = task.created_at;
          self.task_id = task.id;
          self.name = task.name;
          self.folder_id = task.folder_id;
          self.taskFiles = task.files;
          self.task_number = task.number;
          self.description = task.description;
          self.priority = task.priority;
          self.user_pic = task.user_profile;
          self.user_name = task.user_name;
          self.user_role = task.user_role;
          self.task_user = task.user;
          self.assignee_name = task.assignee_name;
          self.assignee_role = task.assignee_role;
          self.assignee_profile = task.assignee_profile;
          self.projectUrl="/projects"+'/'+response.data.project.id;
          console.log(self.taskFiles)
          if(task.status == '1') { status = "completed"; } else if(task.status == '2') { status = "ongoing"; } else if(task.status == '3') { status = "due"; } else { status = "pending"; }

          self.task_status = status;
          var start = moment().format('YYYY-MM-DD hh:mm:ss'), end = task.deadline, date1 = new Date(start), date2 = new Date(end), diff = date2.getDate() - date1.getDate(); 
 
          self.date_difference = diff;
          console.log(self.date_difference+"hello")
           self.is_loading = false;
      }).catch(function (error) {
          // that.$router.push({ path: '/tasks' });
      });
      self.listComments(taskId)
    }
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
