<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
        <CCard>
          <CCardBody>
            <h4>
              Menus
              <CButton color="primary" @click="addMenu()" class="mb-3 float-right"><CIcon name="cil-plus"/> Add Menu</CButton>
            </h4>
              
              <CDataTable
                hover
                :items="items"
                :fields="fields"
                :items-per-page="10"
                pagination
                class="cust-menus-table"
              >
                <template #name="{item}">
                  <td>
                    <strong>{{item.name}}</strong>
                  </td>
                </template>
                <template #menu_elements="{item}">
                  <td>
                    <CButton color="primary" @click="menuElements( item.id )">Elements</CButton>
                  </td>
                </template>
                <template #action="{item}">
                  <td>
                    <div class="action-btns">
                      <a @click="editMenu( item.id )" class="text-primary"><CIcon name="cil-pencil"/></a>
                      <a @click="deleteMenu( item.id )" class="text-danger"><CIcon name="cil-trash"/></a>
                    </div>
                  </td>
                </template>
              </CDataTable>
          </CCardBody>  
        </CCard>
      </transition>
    </CCol>
  </CRow>
</template>

<script>
import axios from 'axios'
export default {
  name: 'MenuIndex',
  data () {
    return {
      fields: ['name', 'menu_elements', 'action'],
      items: [],
    }
  },
  methods: {
    menuElements(id){
      this.$router.push({path: `menuelement/${id.toString()}/menuelement`});
    },
    addMenu(){
      this.$router.push({path: 'menu/create'});
    },
    editMenu(id){
      this.$router.push({path: `menu/${id.toString()}/edit`});
    },
    deleteMenu(id){
      this.$router.push({path: `menu/${id.toString()}/delete`});
    },
    getMenus () {
      let self = this;
      axios.get(  '/api/menu/menu?token=' + localStorage.getItem("api_token") )
      .then(function (response) {
        console.log(response.data);
        self.items = response.data.menulist;
      }).catch(function (error) {
        console.log(error);
        self.$router.push({ path: '/login' });
      });
    }
  },
  mounted(){
    this.getMenus();
  }
}
</script>
