<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
      <CCard>
         <CCardHeader>
             <h4>Logs <CButton color="secondary" @click="goBack" class="float-right">Back</CButton></h4>
        </CCardHeader>

        <CCardBody class="logs-table">
          <CDataTable
            hover
            striped
            :items="logs"
            :fields="fields"
            :items-per-page="10"
            pagination
            tableFilter
            sorter
          >
            <template #user="{ item }">
              <td>
                {{ item.user }}
              </td>
            </template>
            <template #project="{ item }">
              <td>
               <a @click="gotoProject(item.project_id)"> {{ item.project_name }}</a>
              </td>
            </template>
            <template #component="{ item }">
              <td>
                {{ item.component }}
              </td>
            </template>
            <template #created_at="{ item }">
              <td>
                {{ dateFormat(item.created_at) }}
              </td>
            </template>
        </CDataTable>
        </CCardBody>
      </CCard>
      </transition>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
</template>

<script>
import axios from 'axios'
import moment from 'moment';

export default {
  name: 'Logs',
  data: () => {
    return {
      logs: [],
      fields: ['user', 'project', 'component', 'created_at'],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      loader: '/img/loader.gif',
      is_loading: false,
      date_format: ''
    
    }
  },
  methods: {
    goBack() {
      this.$router.back();
    },
    dateFormat($date) {
      var value = "";
      if($date) {
        value = moment($date).format(this.date_format);
      }
      return value;
    },
    getLogs (){
      let self = this; this.is_loading = true;
      axios.get(  '/api/logs?token=' + localStorage.getItem("api_token"))
      .then(function (response) {
        self.is_loading = false;
        self.logs = response.data;
      }).catch(function (error) {
        self.is_loading = false;
        console.log(error);
        self.$router.push({ path: '/login' });
      });
    },
    gotoProject(_id) {
      var link = `/projects/${_id}`;
      this.$router.push({path: link});
    }
  },
  mounted: function(){
    this.getLogs();
    this.date_format = localStorage.getItem('date_format');
  }
}
</script>
