<template>
  	<CRow>
	    <CCol col="12" lg="12">
	      	
	        <CCardHeader class="mb-1 d-flex justify-content-between align-items-center">
	          	<h4 class="mb-0">{{ name }}</h4> 
	          	<div>
		          	<CButton color="primary" @click="editUser"><CIcon name="cil-pencil" /> Edit</CButton>
		          	<CButton color="primary" @click="goBack">Back</CButton>
		        </div>
	        </CCardHeader>
        		<CRow class="user-view-sec">
        			<CCol col="5">
        				<CCard>
	        				<CCardBody>
	        					<div class="user-profile-pic">
	        						<img v-if="profile" :src="profile">
	        						<img v-else :src="avtar">
	        					</div>
	        				</CCardBody>
	        			</CCard>
        			</CCol>

        			<CCol col="7">
        				<CCard>
	        				<CCardBody>
	        					<CCardHeader>Contact information</CCardHeader>
		        				<div class="user-info-section">
		        					<div class="inner-sec" v-if="employee_id">
		        						<span>Employee Id:</span>
		        						<strong>{{ employee_id }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="email">
		        						<span>Email:</span>
		        						<strong>{{ email }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="birth_date">
		        						<span>Date Of Birth:</span>
		        						<strong>{{ dateFormat(this.birth_date) }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="contact_no">
		        						<span>Contact No:</span>
		        						<strong>{{ contact_no }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="address">
		        						<span>Address:</span>
		        						<strong>{{ address }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="alternate_no">
		        						<span>Alternate No:</span>
		        						<strong>{{ alternate_no }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="department">
		        						<span>Department:</span>
		        						<strong>{{ department }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="role">
		        						<span>Role:</span>
		        						<strong>{{ role }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="position">
		        						<span>Position:</span>
		        						<strong>{{ position }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="created_on">
		        						<span>Registered On:</span>
		        						<strong>{{ dateFormat(this.created_on) }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="appraisel_date">
		        						<span>Appraisal Dates:</span>
		        						<strong>{{ dateFormat(this.appraisel_date) }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="joining_date">
		        						<span>Joining Date:</span>
		        						<strong>{{ dateFormat(this.joining_date) }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="current_address">
		        						<span>Current Address:</span>
		        						<strong>{{ current_address }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="permanent_address">
		        						<span>Permanent Address:</span>
		        						<strong>{{ permanent_address }}</strong>
		        					</div>
		        					<div class="inner-sec" v-if="employee_id">
		        						<span>Status:</span>
		        						<CBadge v-if="status == '1'" color="success">Active</CBadge>
		        						<CBadge v-else color="danger">Deactive</CBadge>
		        					</div>
		        					<div class="inner-sec" v-if="additional_info">
		        						<span>Additional Info:</span>
		        						<span v-html="additional_info"></span>
		        					</div>
		        				</div>
	        				</CCardBody>
	        			</CCard>
        			</CCol>
        		</CRow>
	    </CCol>
	    <div class="loader-image" v-if="loading">
			<img :src="loader">
		</div>
  	</CRow>
</template>

<script>
	import axios from 'axios'
	import moment from 'moment';

	export default {
	  	name: 'User',
	  	data: () => {
		    return {
		      	name: '',
		      	created_on: '',
		      	employee_id: '',
		      	email: '',
		      	role: '',
		      	date_format: '',
		      	address: '',
		      	department: '',
		      	profile: '',
		      	contact_no: '',
		      	alternate_no: '',
		      	position: '',
		      	birth_date: '',
		      	joining_date: '',
		      	additional_info: '',
		      	appraisel_date: '',
				current_address:'',
				permanent_address:'',
		      	status: '',
		      	loading: false,
		      	avtar: '/img/user-avtar.jpg',
	    		loader: '/img/loader.gif'
		    }
	  	},
	  	methods: {
		    goBack() {
		      	this.$router.go(-1)
		    },
		    editUser() {
		    	this.$router.push({ path: `/employees/${this.$route.params.id}/edit` });
		    },
		    dateFormat(elem) {
	  			var value = "";
	  			if(elem) {
		      		value = moment(elem).format(this.date_format);
		      	}
		      	return value;
	      	}
	  	},
	  	mounted: function(){
		    let self = this; this.loading = true;
		    axios.get(  '/api/users/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"))
		    .then(function (response) {
		      	self.loading = false;
		      	self.name = response.data.name;
		      	self.created_on = response.data.created_at;
		      	self.employee_id = response.data.employee_id;
		      	self.email = response.data.email;
		      	self.role = response.data.menuroles;
		      	self.department = response.data.department;
		      	self.contact_no = response.data.contact_no;
		      	self.alternate_no = response.data.alternate_no;
		      	self.position = response.data.user_position;
		      	self.birth_date = response.data.birth_date;
		      	self.joining_date = response.data.joining_date;
		      	self.additional_info = response.data.additional_info;
		      	self.appraisel_date = response.data.appraisel_date;
		      	self.current_address = response.data.current_address;
		      	self.permanent_address = response.data.permanent_address;
		      	self.profile = response.data.profile;
		      	self.status = response.data.is_active;
		    }).catch(function (error) {
		      	self.loading = false;
		      	self.$router.push({ path: '/login' });
		    });

		    this.date_format = localStorage.getItem('date_format');
	  	}
	}
</script>
