<div class="accor">
	<div class="row">
		<div class="col-md-12">
			<div class="outer-accordian">
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
		                <a class="card-title">
		                    Item 1
		                </a>
		            </div>
		            <div id="collapse1" class="card-body collapse" data-parent="#accordion" style="">
	                	<p>
				          </p><p class="desc">Yes of course! Our mobile app development team will take care of uploading your application on the App Store as an app development process. In fact, our team has already uploaded over 3500 mobile apps successfully without charging any additional cost.</p>
				  </div>
				</div>
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
		                <a class="title-div">
		                    <span class="qsn-icon">?</span><h4>&nbsp;it is&nbsp;possible&nbsp;to&nbsp;develop&nbsp;app one&nbsp;month?</h4>
			                </a>
			            </div>
		            <div id="collapse3" class="card-body collapse" data-parent="#accordion" style="">
		                <p class="desc">No, the complexity of mobile apps vary according to the type. It depends upon the requirements of your project. In the one month time-frame, a basic application can be developed. To get exact time to convert your app idea into reality, you can get in touch with us.</p>
					</div>
				</div>
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
		                <a class="title-div">
		                    <span class="qsn-icon">?</span><h4>&nbsp;it is&nbsp;possible&nbsp;to&nbsp;develop&nbsp;app one&nbsp;month?</h4>
			                </a>
			            </div>
		            <div id="collapse3" class="card-body collapse" data-parent="#accordion" style="">
		                <p class="desc">No, the complexity of mobile apps vary according to the type. It depends upon the requirements of your project. In the one month time-frame, a basic application can be developed. To get exact time to convert your app idea into reality, you can get in touch with us.</p>
					</div>
				</div>
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
		                <a class="title-div">
		                    <span class="qsn-icon">?</span><h4>&nbsp;it is&nbsp;possible&nbsp;to&nbsp;develop&nbsp;app one&nbsp;month?</h4>
			                </a>
			            </div>
		            <div id="collapse3" class="card-body collapse" data-parent="#accordion" style="">
		                <p class="desc">No, the complexity of mobile apps vary according to the type. It depends upon the requirements of your project. In the one month time-frame, a basic application can be developed. To get exact time to convert your app idea into reality, you can get in touch with us.</p>
					</div>
				</div>
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
		                <a class="title-div">
		                    <span class="qsn-icon">?</span><h4>&nbsp;it is&nbsp;possible&nbsp;to&nbsp;develop&nbsp;app one&nbsp;month?</h4>
			                </a>
			            </div>
		            <div id="collapse3" class="card-body collapse" data-parent="#accordion" style="">
		                <p class="desc">No, the complexity of mobile apps vary according to the type. It depends upon the requirements of your project. In the one month time-frame, a basic application can be developed. To get exact time to convert your app idea into reality, you can get in touch with us.</p>
					</div>
				</div>
			</div>
			<div class="outer-accordian">
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
		                <a class="card-title">
		                    Item 1
		                </a>
		            </div>
		            <div id="collapse1" class="card-body collapse" data-parent="#accordion" style="">
	                	<p>
				          </p><p class="desc">Yes of course! Our mobile app development team will take care of uploading your application on the App Store as an app development process. In fact, our team has already uploaded over 3500 mobile apps successfully without charging any additional cost.</p>
				  </div>
				</div>
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
		                <a class="title-div">
		                    <span class="qsn-icon">?</span><h4>&nbsp;it is&nbsp;possible&nbsp;to&nbsp;develop&nbsp;app one&nbsp;month?</h4>
			                </a>
			            </div>
		            <div id="collapse3" class="card-body collapse" data-parent="#accordion" style="">
		                <p class="desc">No, the complexity of mobile apps vary according to the type. It depends upon the requirements of your project. In the one month time-frame, a basic application can be developed. To get exact time to convert your app idea into reality, you can get in touch with us.</p>
					</div>
				</div>
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
		                <a class="title-div">
		                    <span class="qsn-icon">?</span><h4>&nbsp;it is&nbsp;possible&nbsp;to&nbsp;develop&nbsp;app one&nbsp;month?</h4>
			                </a>
			            </div>
		            <div id="collapse3" class="card-body collapse" data-parent="#accordion" style="">
		                <p class="desc">No, the complexity of mobile apps vary according to the type. It depends upon the requirements of your project. In the one month time-frame, a basic application can be developed. To get exact time to convert your app idea into reality, you can get in touch with us.</p>
					</div>
				</div>
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
		                <a class="title-div">
		                    <span class="qsn-icon">?</span><h4>&nbsp;it is&nbsp;possible&nbsp;to&nbsp;develop&nbsp;app one&nbsp;month?</h4>
			                </a>
			            </div>
		            <div id="collapse3" class="card-body collapse" data-parent="#accordion" style="">
		                <p class="desc">No, the complexity of mobile apps vary according to the type. It depends upon the requirements of your project. In the one month time-frame, a basic application can be developed. To get exact time to convert your app idea into reality, you can get in touch with us.</p>
					</div>
				</div>
				<div class="inner-accordian">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
		                <a class="title-div">
		                    <span class="qsn-icon">?</span><h4>&nbsp;it is&nbsp;possible&nbsp;to&nbsp;develop&nbsp;app one&nbsp;month?</h4>
			                </a>
			            </div>
		            <div id="collapse3" class="card-body collapse" data-parent="#accordion" style="">
		                <p class="desc">No, the complexity of mobile apps vary according to the type. It depends upon the requirements of your project. In the one month time-frame, a basic application can be developed. To get exact time to convert your app idea into reality, you can get in touch with us.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
