<section class="box-section-logo">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="content-boxes left-content">
					<div class="img-sec12"><img src="http://122.160.12.75:4270/faitron/wp-content/uploads/2021/03/heatbox-2-1616158215400.jpg"></div> <div class="content-outer-logos">
						<h3>PRO </h3>
						<p>The one that has it all. It's  got the looks, it's got the power and it is full of smart features. If you want the best of the best, then this is the HeatsBox for you.</p>
					</div>
				</div>
				<div class="content-boxes left-content">
					<div class="img-sec12"><img src="http://122.160.12.75:4270/faitron/wp-content/uploads/2021/03/heatbox-2-1616158215400.jpg"></div><div class="content-outer-logos">
						<h3>STYLE+ </h3>
						<p>These curves don't lie. It's the eye-catcher you can't live without. Take back control of your lunch and enjoy the flexibility that comes with our smart features.</p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="center-text-logo text-center">
					<img src="http://faitron.com/wp-content/uploads/2018/08/heat.png.jpg">
				</div>
			</div>
			<div class="col-md-5">
				<div class="content-boxes right-content">
					<div class="img-sec12"><img src="http://122.160.12.75:4270/faitron/wp-content/uploads/2021/03/heatbox-2-1616158215400.jpg"></div><div class="content-outer-logos">
						<h3>LIFE </h3>
						<p>Powerful and compact. Fits in every briefcase and in any purse. This sleek model will give you the independence you need, while looking good in any office.</p>
					</div>
				</div>
				<div class="content-boxes right-content">
					<div class="img-sec12"><img src="http://122.160.12.75:4270/faitron/wp-content/uploads/2021/03/heatbox-2-1616158215400.jpg"></div><div class="content-outer-logos">
						<h3>STYLE smart  </h3>
						<p>No app, but still pretty smart. If you want to bring your lunch game to the next level, we have got you covered - even if you don't care for smart features.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>